Repository easylist/easylist, pull requests merged in 2019-11, with the labels that each got.

#4243 A: (nsfw) gostosaspornosafadas.com
  easylist/easylist_general_block_dimensions.txt
Labels: Easylist

#4240 A: (dropapk.com) #4239
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4228 A: (gounlimited.to) https://tazmovies.com/embed-x3gnlvr6xn1y.html
  easylist/easylist_specific_block.txt
Labels: Easylist

#4223 A: https://linuxtracker.org/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4222 A: https://distrowatch.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4221 A: https://www.limetorrents.info/home/?a=1
  easylist/easylist_specific_block.txt
Labels: Easylist

#4220 A: http://www.legittorrents.info/index.php?page=torrent-details&id=f00b295e96b714e9fd186d4cf6b91468c659bda4
  easylist/easylist_specific_block.txt
Labels: Easylist

#4218 A: https://icq.com/
  fanboy-addon/fanboy_cookie_specific_hide.txt
Labels: Fanboy Cookies

#4217 A: http://en.advisto.com/
  fanboy-addon/fanboy_cookie_specific_hide.txt
Labels: Fanboy Cookies

#4215 A: https://umaar.com/dev-tips/111-auto-open-devtools/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4219 A: https://www.lrb.co.uk/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4216 A: https://www.avides.com/en/
  fanboy-addon/fanboy_cookie_general_hide.txt
Labels: Fanboy Cookies

#4213 A: https://files.forumdesmedias.site/
  easylist/easylist_general_hide.txt
Labels: Easylist

#4211 A: https://vidshare.tv/embed-21sdu12sk4k7.html
  easylist/easylist_specific_block.txt
Labels: Easylist

#4209 A: https://lite.qwant.com/?q=adblockplus
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Easylist

#4208 A: https://www.satdl.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#3529 A: #3528
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4268 Fix #4267 - Add whitelist for highcharts heatmap
  easyprivacy/easyprivacy_whitelist.txt
Labels: Easyprivacy

#4269 A: https://actualidad.rt.com/
  fanboy-addon/fanboy_cookie_general_hide.txt
Labels: Fanboy Cookies

#4283 A: https://www.nigerianbulletin.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4282 A: https://geekdoing.com/forums/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4281 fanboy-addon: whitelist odoo.com for subscription widget
  fanboy-addon/fanboy_annoyance_whitelist_general_hide.txt
Labels: Fanboy Annoyances

#4280 A: https://lite.qwant.com/?q=iphone
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4299 A: https://prisonthehiddensentence.com/
  easylist/easylist_general_block.txt
Labels: Easylist

#4298 A: https://www.lemonde.fr/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4297 A: https://focus-wtv.be/
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#4296 A: https://downloadgameps3.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4295 A: #4294
  fanboy-addon/fanboy_annoyance_general_block.txt
Labels: Fanboy Annoyances

#4294 A: https://rpcs3.net/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4292 A: (nsfw) chan.sankakucomplex.com
  easylist/easylist_specific_block.txt
Labels: Easylist

#4291 A: https://satellites.pro/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4290 A: (alchetron.com) #4289
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4289 A: https://alchetron.com/Adblock-Plus
  easylist/easylist_general_hide.txt
Labels: Easylist

#4327 A: https://mb.nawcc.org
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4326 A: (dropapk.to) https://forums.lanik.us/viewtopic.php?f=62&t=43882
  easylist/easylist_specific_block.txt
Labels: Easylist

#4325 A: #4324
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4324 A: https://www.expe.fr/
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#4323 P: http://www.expo-service.kiev.ua/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#4321 P: http://alternathistory.com/kogda-strah-bolshe-dolga/#comments
  easyprivacy/easyprivacy_whitelist_international.txt
Labels: Easylist Cookies

#4320 P: https://www.canadiantire.ca/
  easyprivacy/easyprivacy_whitelist.txt
Labels: Easyprivacy

#4319 A: https://www.sports.ru/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#4318 A: http://apprealms.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4317 A: https://www.vpnmentor.com/blog/best-free-vpns-for-windows/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#4316 ##.cookie-used-note general hide filter added
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4315 A: #4313
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4314 A: https://filecrypt.co/Container/344B335A18.html
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4313 A: https://filecrypt.co/Container/344B335A18.html
  easylist/easylist_adservers.txt
Labels: Easylist

#4254 M: Removed gofile.io
  easyprivacy/easyprivacy_specific.txt
Labels: Question

#4342 M: Re-add limesurvey.org
  easylist/easylist_specific_block.txt
Labels: Easylist

#4378 A: https://gounlimited.to/embed-sr621jjsiuxs.html (& tazmovies.com)
  easylist/easylist_specific_block.txt
Labels: Easylist

#4377 A: (nsfw) megatube.xxx
  easylist_adult/adult_specific_hide.txt
Labels: Easylist

#4376 A: https://help.oberlo.com/en/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4382 A: http://podcast.hernancattaneo.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4375 A: http://crdclub.cc/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4374 A: http://gestyy.com/w58kTu
  easylist/easylist_specific_block.txt
Labels: Easylist

#4373 A: (nsfw) xhamster.com
  easylist_adult/adult_specific_hide.txt
Labels: Easylist

#4369 A: (nsfw) empflix.com
  easylist_adult/adult_specific_block.txt
Labels: Easylist

#4368 A: (nsfw) #4367
  easylist_adult/adult_thirdparty.txt
Labels: Easylist

#4367 A: (nsfw) jizzbunker.com
  easylist_adult/adult_adservers.txt
Labels: Easylist

#4366 A: (nsfw) txxx.com
  easylist/easylist_general_hide.txt
Labels: Easylist

#4365 A: (nsfw) porngo.com
  easylist/easylist_general_hide.txt
Labels: Easylist

#4364 A: https://www.redflagdeals.com/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#4363 A: https://zhuanlan.zhihu.com/p/51117616
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4362 A: (baidu.com) #4361
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4361 A: https://image.baidu.com/ & https://news.baidu.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4358 A: (klaviyo.com) opened email tracker
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4357 A: https://www.file-up.org/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#4356 Sanoma Oyj additional cookie script, blocking added
  easylist_cookie/easylist_cookie_international_specific_block.txt
Labels: Easylist Cookies

#4353 M: Update adservers
  easylist/easylist_adservers.txt
Labels: Easylist

#4352 A: (nsfw) pornav.net
  easylist_adult/adult_specific_block.txt
Labels: Easylist

#4351 A: (fembed.com) https://gaobook.review/v/e2q5xi-e3xzj1q2
  easylist/easylist_specific_block.txt
Labels: Easylist

#4350 A: https://kissasian.sh/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4349 A: (m.netdania.com) #4348
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4348 A: http://m.netdania.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4347 M: https://ytmp3.cc/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4346 A: https://map.baidu.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4345 A: https://mp.weixin.qq.com/s/f9GKQ6vfiiisHH6GAh7WEw
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4344 A: https://www.qq.com/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4343 P: https://vaganovaacademy.ru/
  fanboy-addon/fanboy_social_whitelist_general_hide.txt
Labels: Fanboy Social

#4336 A: https://ishort.live/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4335 A: easylist/easylistspanish#79
  easylist/easylist_general_block.txt
Labels: Easylist

#4334 A: https://question2you.site/?q=Maths+symbols
  easylist/easylist_general_hide.txt
Labels: Easylist

#4333 A: #4332
  easylist/easylist_adservers_popup.txt
Labels: Easylist

#4332 A: https://two-movies.me/watch_movie/Noelle
  easylist/easylist_general_hide.txt
Labels: Easylist

#4331 A: https://two-movies.me/watch_movie/300
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#4383 A: https://myfile.is/i9rfn5B4ne (#4307)
  easylist/easylist_specific_block.txt
Labels: Easylist

#4330 A: https://instantsubscribers.net/attitude-quotes/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4385 A: #3971
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#4384 A: (myfile.is) #4383
  easylist/easylist_thirdparty.txt
Labels: Easylist

#4395 new filter ###cookiesModal_bottom added
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4311 A: https://www.lequipe.fr/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#4312 A: https://www.lequipe.fr/
  fanboy-addon/fanboy_annoyance_general_block.txt
Labels: Fanboy Annoyances

#4270 A: https://www.itespresso.fr/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances
