Repository easylist/easylist, pull requests merged in 2019-10, with the labels that each got.

#3570 A: https://www.ebay.com/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#3569 A: https://www.amazon.com/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#3568 A: https://search.yahoo.com/search?p=jxqhwelrih
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Easylist

#3566 A: https://www.sonycrackle.com/watch/233/2417018
  easylist/easylist_general_hide.txt
Labels: Easylist

#3563 A: https://www.remizbox.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#3587 A: #3586
  fanboy-addon/fanboy_annoyance_general_block.txt
Labels: Fanboy Annoyances

#3560 A: https://slickdeals.net/
  easylist/easylist_general_hide.txt
Labels: Easylist

#3561 A: (#3560) slickdeals.net
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#3540 A: https://www.fnac.com/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#3541 A: #3540
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#3542 A: https://www.fnac.com/SearchResult/ResultList.aspx?Search=Johnny+English
  easylist/easylist_general_block.txt
Labels: Easylist

#4154 A: https://www.boursorama.com/ & https://www.boursorama-banque.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4153 A: (king.com) #4152
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#4152 A: https://king.com/play/candycrushsoda
  fanboy-addon/fanboy_cookie_specific_hide.txt
Labels: Fanboy Cookies

#4151 A: https://www.gearbest.com/flash-sale.html
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4147 A: https://www.lequipe.fr/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4146 A: (#4145) bernama.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4145 A: http://bernama.com/en/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4144 A: https://www.lastminutetravel.com/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#4143 A: #4142
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#4142 A: https://tinyurl.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#4169 A: (nsfw) xxgasm.com
  easylist_adult/adult_adservers.txt
Labels: Easylist

#4168 A: https://www.20minutes.fr/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4197 Do not block legendstracking.com js file
  easyprivacy/easyprivacy_whitelist.txt
Labels: Easyprivacy

#4201 M: (ping) Update google tracking filters
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4190 R: d3f5l8ze0o4j2m.cloudfront.net from easylist_thirdparty.txt
  easylist/easylist_thirdparty.txt
Labels: Easylist

#4192 A: (#4191) kompass.com
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4191 A: https://dz.kompass.com/en/c/new-design-office-eurl/dz229207/
  easylist/easylist_general_hide.txt
Labels: Easylist

#4188 A: https://webdevdesigner.com/q/phone-validation-regex-466/
  easylist/easylist_general_hide.txt
Labels: Easylist

#4184 Enable report banners for pingdom
  easylist/easylist_general_block.txt
Labels: Easylist

#4183 Update easylist_specific_hide.txt for indiatimes.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4182 A: https://www.shab.ch/
  fanboy-addon/fanboy_cookie_specific_hide.txt
Labels: Fanboy Cookies

#4181 A: https://joemonster.org/
  fanboy-addon/fanboy_cookie_general_block.txt
Labels: Fanboy Cookies

#4180 A: https://www.closermag.fr/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4178 A: https://koubacomputer.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#3689 A: (nsfw) fembed.com/v/40oxmmy-zy9 #3630
  easylist_adult/adult_adservers.txt
Labels: Question, Revolving Adservers

#3582 A: (klaviyo.com) opened email tracker
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#3550 A: https://korben.info/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#3546 A: https://gadgets.ndtv.com/
  easylist/easylist_general_block.txt
Labels: Easylist

#3538 A: https://www.geo.de/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#3533 A: https://account.ultimaker.com/app/signin
  fanboy-addon/fanboy_cookie_general_hide.txt
Labels: Fanboy Cookies

#3531 A: https://matichon.co.th/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy
