Repository easylist/easylist, pull requests merged in 2019-12, with the labels that each got.

#4437 M: Unblocking adbar.jp
  easylist/easylist_general_block.txt
Labels: Easylist

#4392 Fix #4346 - More precise match on baidu tracker
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4440 ##.cookies__message added
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4438 P: https://www.deutschlandfunkkultur.de/
  easyprivacy/easyprivacy_whitelist_international.txt
Labels: Easyprivacy

#4436 A: (soundcloud.com) #4435
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#4443 A: (dnsleaktest.com) update fbfd9fd
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4429 A: (nsfw) gfycat.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4446 A: https://1movies.is/
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#4442 A: https://cpyskidrow.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4445 A: (fs.com) update 21421cbdc
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#4428 A: https://gfycat.com/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#4431 A: http://www.les-reponses.fr/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4406 P: https://np.krasnodar.ru/
  fanboy-addon/fanboy_annoyance_whitelist_general_hide.txt
Labels: Fanboy Annoyances

#4417 A: (nsfw) tbib.org
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#4416 A: #4415
  easylist/easylist_general_hide.txt
Labels: Easylist, NSFW

#4415 A: (nsfw) hclips.com
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#4401 A: https://mybrowseraddon.com/
  easylist/easylist_general_block.txt
Labels: Easylist

#4387 P: (nsfw) sexy-youtubers.com #4225
  easylist/easylist_specific_block.txt
Labels: Easylist, NSFW

#4403 A: https://clara.io/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#4414 A: https://patch.com/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4420 A: jobs.ch & jobup.ch
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4419 A: https://www.jobs.ch/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#4329 A: https://www.insta-stories.com/en
  easylist/easylist_specific_block.txt
Labels: Easylist

#4400 A: https://all3dp.com/1/best-3d-food-printer/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4279 A: (nsfw) pornhat.com
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#4272 A: (nsfw) bestpegging.com
  easylist/easylist_general_block.txt
Labels: Easylist, NSFW

#4274 A: (nsfw) rule34hentai.net
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#4275 A: #4274
  easylist/easylist_general_block.txt
Labels: Easylist, NSFW

#3526 A: http://www.allocine.fr/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4263 A: https://www.save.ca/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#4262 A: https://www.save.ca/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4393 A: https://www.yeggi.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#3309 A: https://www.lenouvelliste.ch/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#3318 A: https://www.grands-meres.net/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#4464 A: https://en.oui.sncf/en/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#4459 A: https://www.iltalehti.fi/
  easylist/easylist_general_hide.txt
Labels: Easylist

#4463 A: https://www.lelynx.fr/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4462 A: https://www.lelivrescolaire.fr/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4465 A: https://forum.xda-developers.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4466 A: http://onhaxme.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#4475 M: Removed orlydb.com (parked)
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4499 A: https://www.hackerone.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#4498 A: (nsfw) xbooru.com
  easylist_adult/adult_specific_block.txt
Labels: Easylist

#4505 A: http://finescale.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4524 M: An old rule, sonera.fi
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#4523 A: a cookie notification, happypancake.fi
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#4521 A: a general cookie filter, rankersta.com
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4520 Removed duplicates
  easylist/easylist_specific_block.txt
Labels: Easylist

#4517 A: https://fanyi.baidu.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4518 A: http://blog.niliushui.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4502 A: https://www.greenhouse.io/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4496 A: Hide bet ads in hltv.org
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4482 A: https://www.tribunnews.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#4490 A: https://www.avcesar.com/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4484 A: https://www.tio.ch/
  easylist/easylist_general_block.txt
Labels: Easylist

#4471 A: Cookie blocking remnant, shirtsofcotton.com
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#4472 A: a general cookie filter, www.prisma.fi
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4426 A: https://online-dvdrip.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#4456 A: https://carbuzz.com/news/cadillac-prepares-to-take-on-tesla
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4454 A: https://carbuzz.com/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#3243 A: https://www.pccomponentes.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#4541 P: videos don't start immediately, independent.co.uk
  easylist/easylist_whitelist.txt
Labels: Easylist

#4507 A: https://music.163.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4506 A: https://shouji.sogou.com/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4501 A: #4500
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4500 A: https://logdna.com/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#4495 A: (nsfw) hclips.com
  easylist_adult/adult_specific_block.txt
Labels: Easylist

#4494 A: #4493
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#4492 A: #4491
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4491 A: https://www.hometogo.fr/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4489 A: #4488
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4488 A: https://www.homeexchange.fr/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4487 A: #4486
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4486 A: https://www.grafikart.fr/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4485 A: Spam chat by justanswer.com
  easylist/easylist_thirdparty.txt
Labels: Easylist

#4483 A: https://www.gamecodeur.fr/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#4478 A: (nsfw) alastonsuomi.com
  easylist_adult/adult_specific_block.txt
Labels: Easylist

#4477 A: https://gdtot.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4470 P: http://www.mygames4girls.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#4469 A: (poodwaddle.com) Update 55b700f
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4468 A: http://www.poodwaddle.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4467 A: https://ouo.io/go/ThFhBO & ouo.press
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4457 A: (fembed.com) https://exvcon.com/v/y2mdxce632ynm2j
  easylist/easylist_specific_block.txt
Labels: Easylist

#4453 A: (marketrealist.com) Update 9089a6f
  easylist/easylist_specific_block.txt
Labels: Easylist

#4452 A: https://marketrealist.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#4451 A: https://9to5toys.com/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4449 A: https://trakt.tv/movies/300-2007
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4448 A: https://www.ossec.net/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#4430 A: (slacker.com) https://forums.lanik.us/viewtopic.php?f=62&t=43697
  easylist/easylist_specific_block.txt
Labels: Easylist

#4435 A: https://soundcloud.com/skysportsradio
  easylist/easylist_thirdparty.txt
Labels: Easylist

#4555 P: https://krok8.com/bazovyy-metabolizm/
  easyprivacy/easyprivacy_whitelist_international.txt
Labels: Easyprivacy

#4557 A: https://www.episodi.fi/
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#4556 A: http://adblockplus.org.curl.wiki/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4554 A: (fembed.com) https://www.core1player.com/v/e70nys-qqj3qrlj
  easylist/easylist_specific_block.txt
Labels: Easylist

#4552 M: Removed unstat.baidu.com (NXDOMAIN)
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4549 P: comment breakage, alastonsuomi.com (NSFW)
  easylist_adult/adult_specific_block.txt
Labels: Easylist

#4547 A: https://www.maison-travaux.fr/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#4546 A: https://threatintelligenceplatform.com/report/adblockplus.org
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4545 A: #4544
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4544 A: https://mobileroadie.com/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#4543 A: http://www.viteundevis.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#4538 A: https://www.163.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4537 M: Update hiding rule for bet in hltv.org.
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4508 A: zz.bdstatic.com & push.zhanzhang.baidu.com
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4493 A: https://www.lci.fr/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4588 A: https://mensfashion.cc/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#4586 A: http://shopselect.net/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#4579 A: http://kimonodaicho.co.jp/
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#4583 A: https://www.rebates.jp/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4582 A: https://tower.jp/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4581 A: https://www.cotta.jp/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#4580 A: https://warnerbros.co.jp/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4578 A: http://taidoo.a.la9.jp/
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#4577 A: #4576
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4576 A: https://www.bookoffonline.co.jp/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4575 A: http://www.sara-style.com/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4574 A: https://retty.me/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4613 A: general cookie hide, www.kik.com
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4611 A: https://www.weekendesk.fr/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#4610 A: http://almountadaalarabi.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#4609 A: http://alhfifaarabians.forumactif.fr/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#4607 A: (4shared.com) #4605
  easylist/easylist_general_hide.txt
Labels: Easylist

#4606 A: https://www.4shared.com/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4605 A: https://www.4shared.com/rar/ekSsSols/livesuit_109.html
  easylist/easylist_specific_block.txt
Labels: Easylist

#4604 A: http://androidforums.com/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#4603 P: user picture thumbnail breakage, alastonsuomi.com (NSFW)
  easylist_adult/adult_specific_block.txt
Labels: Easylist

#4601 Fix #4165
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4600 A: https://www.douyu.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4599 A: https://www.mi.com/index.html
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4596 A: http://i-bbs.sijex.net/
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#4594 A: http://bingtsept.blog98.fc2.com/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#4593 A: (sendibm4.com) opened email tracker
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#4591 A: https://www.bilibili.com/video/av49411988 #4539
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy
