Repository easylist/easylist, pull requests merged in 2020-01, with the labels that each got.

#3239 A: https://www.pccomponentes.com/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#4626 A: https://www.weshrak.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4625 A: https://www.lafourchette.com/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#4624 A: https://www.speedtest.net/
  easylist/easylist_thirdparty.txt
Labels: Easylist

#4623 A: #4622
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4622 A: http://www.coco.fr/chat/index.html
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#4619 A: https://www.lapresse.ca/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4617 M: Update adservers
  easylist/easylist_adservers.txt
Labels: Easylist

#4616 A: #4615
  easylist/easylist_general_hide.txt
Labels: Easylist

#4615 A: https://www.4shared.com/web/q#query=hello
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4587 A: http://eplsite.uk/
  easylist/easylist_adservers_popup.txt
Labels: Easylist

#4585 A: https://www.homify.fr/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4584 A: https://www.tvcorner.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#4573 A: https://www.gyro.paris/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4572 A: (radioreference.com) #4571
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4571 A: https://www.radioreference.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4570 A: http://assabeel.net/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4569 A: (fembed.com) https://www.novelplanet.me/v/e70nys-qqj3qrlj
  easylist/easylist_specific_block.txt
Labels: Easylist

#4565 A: https://www.lci.fr/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4637 Block google_ads_iframe when name attribute is used instead of id
  easylist/easylist_general_hide.txt
Labels: Easylist

#4669 #4668
  easylist/easylist_general_block.txt
Labels: Easylist

#4688 M: removed redundant rules
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#4684 M: invalid space in csp filter
  easylist/easylist_specific_block.txt
Labels: Easylist, Update Filter

#4675 M: removed rules - made redundant by generic ones
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#4683 A: (nsfw) sexemodel.com
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy, NSFW

#4680 A: https://bitcq.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4679 A: https://masterinvestor.co.uk/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#4656 A: #4655
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4655 A: (nsfw) playboy.de
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy, NSFW

#4651 A: (nsfw) pornhub.com
  easylist/easylist_general_hide.txt
Labels: Easylist, NSFW

#4631 A: cookie msg hide, foxnews.com
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#4650 A: https://www.euronews.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4654 A: #4653
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4653 A: (kumparan.com) #4652
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4652 A: https://kumparan.com/kumparannews/kpk-sita-1sbWjEjYbQa
  easylist/easylist_general_hide.txt
Labels: Easylist

#4645 A: #4644
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#4643 A: https://www.boulanger.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#4642 A: #4641
  easylist/easylist_thirdparty.txt
Labels: Easylist

#4641 M: Fix holavid.com & liivideo.com
  easylist/easylist_specific_block.txt
Labels: Easylist

#4633 A: general cookie block, www.blogit.fi
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#4566 A: (popads) https://ytmp3eu.eu/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4562 M: Update hiding rule for bet ads in hltv.org.
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4632 A: general cookie block, www.terve.fi
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#4568 A: https://www.etsy.com/search?q=t-shirt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4424 A: https://en.tutiempo.net/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4444 A: https://www.vedbex.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4450 A: (trakt.tv) #4449
  easylist/easylist_specific_block.txt
Labels: Easylist

#4421 A: https://sendsdata.to/nt.php?domain=adblockplus.org&lang=en
  easylist/easylist_general_block_dimensions.txt
Labels: Easylist

#4407 A: https://sharecad.org/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4405 A: http://www.gerber-viewer.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4409 A: sketchucation.com (#4408)
  easylist/easylist_specific_block.txt
Labels: Easylist

#4404 A: https://app.sketchup.com/app?hl=en
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#4399 A: https://www.3dnatives.com/atome3d-impression-3d-polymere-26112019/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4691 A: cookie notification hide, redditinc.com
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#4692 A: generic ad hide, cryptocompare.com
  easylist/easylist_general_hide.txt
Labels: Easylist

#4693 A: https://www.elwatan.com/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#4694 A: #4693
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4695 A: http://www.dzairmobile.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4696 A: https://www.bytesin.com/software/Ubuntu/
  easylist/easylist_general_hide.txt
Labels: Easylist

#4707 M: downdetector Australian / Canadian
  fanboy-addon/fanboy_social_whitelist.txt
Labels: Fanboy Social

#4708 P: https://www.ettv.to/home/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4716 A: https://coinpaprika.com/
  easylist/easylist_general_hide.txt
Labels: Easylist, Question

#4717 A: https://www.lespagesmaghreb.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4712 A: https://httpstatus.io/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#4711 A: https://searchenginereports.net/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4709 A: https://inshallah.com/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#4700 A: #4699
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4699 A: https://www.prixtel.com/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#4698 A: #4697
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4394 A: https://www.3dnatives.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4288 A: #4287
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#4287 A: https://mikrosteuer.ch/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4278 A: https://uiz.io/N9Cn
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#4398 A: https://www.silicon.co.uk/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#3334 A: http://riyaziyyatportali.blogspot.com/
  fanboy-addon/fanboy_annoyance_thirdparty.txt
Labels: Easylist

#3510 A: https://kit.com/iPodKingCarter/videoreviewkit
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#3314 A: #3313
  easylist/easylist_general_block.txt
Labels: Easylist

#3298 A: https://vrv.co/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#3293 A: https://www.filehosting.org/
  easylist/easylist_adservers.txt
Labels: Easylist

#3288 A: https://www.pelispedia.tv/pelicula/mis-huellas-a-casa/
  easylist/easylist_general_hide.txt
Labels: Easylist

#4744 P: #4743
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#4771 A: https://tes-game.ru/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4775 A: https://www.airfrance.dz/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4774 A: https://airalgerie.dz/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#4773 A: http://www.forestriverforums.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4772 A: https://openclassrooms.com/en/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4770 A: #4769
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4769 A: https://строительный-бум.рф/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4767 A: https://www.iphoshop.fr/
  fanboy-addon/fanboy_annoyance_thirdparty.txt
Labels: Fanboy Annoyances

#4766 A: https://www.neozone.org/innovation/exolung-un-appareil-respiratoire
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#4764 A: https://www.flysat.com/astra19.php
  easylist/easylist_thirdparty.txt
Labels: Easylist

#4763 A: #4762
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4793 A: (nsfw) camsoda.com
  easylist_adult/adult_adservers.txt
Labels: Easylist, NSFW

#4789 A: https://paysend.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4756 A: https://www.engadget.com/2020/01/19/apple-tv-central-park-and-rene…
  easylist/easylist_general_hide.txt
Labels: Easylist

#4796 A: https://www.kelkoo.co.uk/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#4799 A: (nsfw / exads) xxxmaturevideos.com
  easylist/easylist_general_block.txt
Labels: Easylist, NSFW

#4802 A: https://www.oxtorrent.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#4800 A: https://www.expat.com/forum/viewtopic.php?id=834050
  easylist/easylist_general_block.txt
Labels: Easylist

#4801 A: #4800
  easylist/easylist_general_hide.txt
Labels: Easylist

#4805 A: https://www.namebright.com/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#4804 A: http://modele-texte.fr/
  fanboy-addon/fanboy_annoyance_general_block.txt
Labels: Fanboy Annoyances

#4803 A: https://tympanus.net/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4798 A: #4797
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4797 A: https://www.1001cocktails.com/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#4795 A: http://www.xooit.com/
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#4792 A: https://sportzonline.to/channels/pt/sporttv4.php
  easylist/easylist_thirdparty.txt
Labels: Easylist

#4810 P: #4809
  fanboy-addon/fanboy_social_whitelist.txt
Labels: Fanboy Social

#4745 A: cookie note hide, vapaasana.swedishforum.net
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#4726 A: ad container remnants, electronicshub.org
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4816 A: https://github.com/abp-filters/abp-filters-anti-cv/pull/335/
  easylist/easylist_general_hide.txt
Labels: Easylist

#4815 A: http://geekyalgeria.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4741 A: general cookie hide, mroom.com
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4813 A: http://www.adorocinema.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4812 A: https://www.laredoute.fr/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4811 A: https://www.laposte.fr/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4808 A: http://www.letribunaldunet.fr/
  easylist/easylist_general_block.txt
Labels: Easylist

#4791 A: https://www.scan-fr.co/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#4824 A: #4823
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#4823 A: https://www.silhouettedesignstore.com/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#4822 A: https://www.algerie360.com/tag/a-la-une/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4821 A: #4820
  easylist/easylist_adservers.txt
Labels: Easylist

#4820 A: https://www.up-4ever.org/fsq6slidm95i
  easylist/easylist_specific_block.txt
Labels: Easylist

#4790 A: https://www.sythe.org/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4788 A: http://pes-serbia.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4787 A: https://stad.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4786 A: https://www.ianimes.org/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4785 P: https://www.fashiola.fr/
  fanboy-addon/fanboy_annoyance_whitelist_general_hide.txt
Labels: Fanboy Annoyances

#4784 A: https://www.ticketswap.fr/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4730 A: top ad bars, windowscentral.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4783 A: (nsfw) upornia.com
  easylist_adult/adult_adservers.txt
Labels: Easylist, NSFW

#4782 A: https://www.pdf2go.com/editer-pdf
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#4762 A: https://smallpdf.com/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#4761 A: https://www.hafryat.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4755 A: https://www.particle.io/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4754 A: (gofile.io) Update f3e9de8
  easylist/easylist_specific_block.txt
Labels: Easylist, Update Filter

#4746 A: https://www.mutaz.net/ & https://www.pdfiles.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4749 A: https://www.morecash.xyz/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#4747 A: https://www.piratecity.cc/softwares/reiboot-pro-crack/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4758 A: (path-2-happiness.com) #4757
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#4757 A: https://www.path-2-happiness.com/en
  easylist/easylist_general_block.txt
Labels: Easylist

#4567 A: https://blogs.constantcontact.com/html-email-template/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4731 A: ad banner at the top, gamecopyworld.com / eu
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4760 A: #4759
  easylist_adult/adult_thirdparty.txt
Labels: Easylist

#4759 A: (nsfw) instawank.com
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#4751 A: (nsfw) fineporn.xxx
  easylist_adult/adult_adservers.txt
Labels: Easylist, NSFW

#4826 A: https://www.amazon.com//dp/B007RYOKVW/
  easylist/easylist_general_hide.txt
Labels: Easylist

#4829 A: http://www.africain.info/
  fanboy-addon/fanboy_annoyance_general_block.txt
Labels: Fanboy Annoyances

#4830 A: https://www.espacemanager.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#4831 A: https://elpais.com/cultura/2019/03/15/television/1552676577_545821.html
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social
