Repository easylist/easylist, pull requests merged in 2020-10, with the labels that each got.

#6116 P: masteranime.es popup (fixes https://github.com/AdguardTeam/Adguard…
  easylist/easylist_adservers.txt
Labels: Easylist

#6096 A: autoq.fi (generic Easylist cookie)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#6117 P: https://admedia.ae/
  easylist/easylist_general_block.txt
Labels: Easylist

#6141 A: (nsfw) youporn.com
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#6139 A: (pluralsight.com) #6138
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#6138 A: https://www.pluralsight.com/guides
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#6137 A: (lyrics.com) #6136
  easylist/easylist_adservers.txt
Labels: Easylist

#6136 A: https://www.lyrics.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#6135 A: https://audiotag.info/
  easylist/easylist_specific_block.txt
Labels: Easylist

#6133 A: https://notube.net/en/
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#6132 P: seura.fi
  easylist/easylist_allowlist_general_hide.txt
  easylist/easylist_specific_hide.txt
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easylist, Easyprivacy

#6131 P: fix insideevs.com Twitter widget
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#6121 A: https://mail.zoho.com/zm/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#6118 A: https://mobiforge.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#6108 A: adlibris.com (tracking pixel)
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#6102 A: autouncle.fi (generic Easylist cookie)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#6098 A: https://www.spongepowered.org/downloads/spongeforge/stable/1.12.2
  easylist/easylist_specific_block.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#6089 A: ampparit.com (generic Easylist hide)
  easylist/easylist_general_hide.txt
Labels: Easylist

#6083 A: https://www.voirfilms.al/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#6160 fix https://wikiwiki.jp/dota2/%E5%88%9D%E5%BF%83%E8%80%85%E3%82%AC%E3…
  easylist/easylist_allowlist.txt
Labels: Easylist

#6166 P: fix iejima.org banner links
  easylist/easylist_allowlist.txt
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#6175 A: https://thepeninsulaqatar.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#6188 A: https://masternodes.online/
  easylist/easylist_specific_block.txt
Labels: Easylist

#6169 A: https://www.lesnumeriques.com/telephone-portable/iphone-n155733.html
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#6195 A: https://www.flvtomp3.cc/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#6186 A: https://khutabaa.com/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#6190 A: https://www.lesnumeriques.com/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#6211 A: https://blog.playstation.com/2020/10/16/details-on-new-voice-chat-functionality-coming-to-ps5/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#6212 A: https://www.mercadolibre.com.ar/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#6207 A: http://support.routercheck.com/D-Link/DI-514/OpenPorts-0.html
  easylist/easylist_specific_block.txt
Labels: Easylist

#6208 A: (routercheck.com) #6207
  fanboy-addon/fanboy_annoyance_specific_block.txt
Labels: Fanboy Annoyances

#6206 A: https://www.tecmint.com/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#6197 P: fix https://ascii.jp/elem/000/004/030/4030245/ ranking numbers
  easylist/easylist_allowlist.txt
Labels: Easylist

#6194 A: #6193
  easylist/easylist_adservers_popup.txt
Labels: Easylist

#6193 A: https://ytmp3.cc/
  easylist/easylist_specific_block.txt
Labels: Easylist

#6222 A: (famobi.com) #6221
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#6221 A: https://famobi.com/latest-games/pull-pins/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#6220 A: https://www.logiciels.pro/comparatif-logiciels-saas/comparatif-logiciels-clients-relation-clients/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#6219 A: (orientation-education.com) #6218
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#6218 A: https://www.orientation-education.com/article/capacite-droit
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#6217 A: (gameblog.fr) #6216
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#6216 A: http://www.gameblog.fr/podcast_553_podcast-539-ou-l-on-parle-jeux-xbox-series-x-baldur-s-gate-3
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#6215 A: http://www.gameblog.fr/
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#6214 A: https://www.blogdumoderateur.com/strategie-inbound-marketing-axa/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#6213 A: (nsfw) https://git.io/JTniq
  easylist/easylist_adservers.txt
Labels: Easylist

#6210 A: (issuu.com) #6209
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#6209 A: https://issuu.com/wisteriahomedecor/docs/april-2019-issuu
  easylist/easylist_specific_hide.txt
Labels: Easylist

#6205 A: #6204
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#6204 A: https://www.flaticon.com/search?word=iphone
  easylist/easylist_specific_hide.txt
Labels: Easylist

#6203 A: #6202
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#6239 A: https://www.sibnet.ru/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#6202 A: https://www.flaticon.com/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#6245 Fix www.jmp.com search
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#6240 A: https://www.becharge.be/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#6258 P: (advert.club) https://forums.lanik.us/viewtopic.php?f=64&t=45297
  easylist/easylist_general_block.txt
Labels: Easylist

#6326 A: nperf.com (cookie specific hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#6324 M: https://app.datadoghq.eu/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy
