Repository easylist/easylist, pull requests merged in 2020-02, with the labels that each got.

#4807 M: Update easylist_specific_hide list for some bet sites in hltv
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4852 A: #4851
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#4851 A: http://www.vobium.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4869 Remove default Material-UI classname
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#4868 A: generic cookie note block, sm-mega.fi
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#4866 A: general cookie note hide, kahvikaveri.fi
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4865 A: generic cookie note block, smegshop.fi
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#4850 A: https://tintin-thegame.com/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easylist

#4849 A: https://www.china-devices.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#4848 A: (update dd4b4bd) https://www.nextinpact.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4847 A: #4846
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4846 A: https://atmarama.net/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4845 A: https://www.raspberrypi.org/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#4843 A: (qwant.com) https://hg.adblockplus.org/easylist/rev/02c58215b798
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4842 A: #4841
  fanboy-addon/fanboy_annoyance_general_block.txt
Labels: Fanboy Annoyances

#4841 A: https://www.univers-tricot.com/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#4840 A: #4839
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#4839 A: https://www.cuirtextilecrea.com/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4828 A: #4827
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4827 A: https://shemsfm.net/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4825 M: poki cookie element hide, 123pelit.com
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4872 M: Moved an adserver Easyprivacy -> Easylist
  easylist/easylist_adservers.txt
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easylist

#3021 A: http://fflares.com/2qr6cyih5ecs
  easylist/easylist_adservers_popup.txt
Labels: Easylist

#4880 A: cookie general hide, publiceye.ch
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4879 A: https://wwv.filmgratuit.net/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4861 Made it so that entries for 4 major sites in EasyList also covered their Tor addresses
  easylist/easylist_general_block.txt
  easylist/easylist_specific_block.txt
  easylist/easylist_specific_hide.txt
  easylist/easylist_whitelist.txt
  easylist/easylist_whitelist_dimensions.txt
  easylist/easylist_whitelist_general_hide.txt
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_block_popup.txt
  easylist_adult/adult_specific_hide.txt
  easylist_adult/adult_whitelist.txt
  easylist_adult/adult_whitelist_popup.txt
Labels: Easylist, NSFW

#4833 A: http://www.visionguinee.info/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#3285 A: https://www.blog-nouvelles-technologies.fr/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#3267 A: https://ffmovies.ru/
  easylist/easylist_thirdparty_popup.txt
Labels: Easylist

#4888 A: https://www.nextinpact.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4886 A: webtoons.com
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4889 A: https://www.service-public.fr/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#4890 A: https://www.air-journal.fr/
  fanboy-addon/fanboy_notifications_thirdparty.txt
Labels: Fanboy Notifications

#4891 A: #4890
  fanboy-addon/fanboy_notifications_general_block.txt
Labels: Fanboy Annoyances

#3259 A: https://www.nextofwindows.com/
  easylist/easylist_general_block.txt
Labels: Easylist

#3262 A: https://www.worthpoint.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#3260 A: https://www.laprovence.com/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4911 A: https://vidfast.co/embed-72mmuhxinz1q.html
  easylist/easylist_adservers.txt
Labels: Easylist

#4910 A: https://www.ma-petite-recette.fr/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4909 A: https://www.intermarche.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4908 A: https://lepetitjournal.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4907 A: https://www.elwatan.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4906 A: https://www.equirodi.co.uk/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#4904 P: http://kora-online.tv/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4902 A: https://dramacool.movie/
  easylist/easylist_general_hide.txt
Labels: Easylist

#4900 A: #4899
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4893 A: https://microcontrollerslab.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#4898 A: https://www.cuirtextilecrea.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#4899 A: (nsfw) cam4.fr
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#4896 A: https://www.laplateformeducoiffeur.com/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4903 A: https://elmoslsal.com/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#4895 A: http://100widgets.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4894 A: http://www.microweartech.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#4925 A: https://www.core1player.com/v/35qjycmj288m3pq
  easylist/easylist_thirdparty_popup.txt
Labels: Easylist

#4923 A: (nsfw) cam4.fr
  easylist/easylist_general_hide.txt
Labels: Easylist

#4924 A: #4923
  easylist_adult/adult_adservers.txt
Labels: Easylist

#4921 A: https://www.nextinpact.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4926 A: https://dailyuploads.net/dxr6zh732dvv
  easylist/easylist_adservers.txt
Labels: Easylist

#4920 A: https://serialeonline.to/
  easylist/easylist_adservers.txt
Labels: Easylist

#4932 A: https://exe.io/dYSQc
  easylist/easylist_general_block.txt
Labels: Easylist

#4922 A: https://animeyt2.tv/
  easylist/easylist_specific_block.txt
Labels: Easylist

#4928 A: https://rexdlfile.com/index.php?id=ultrapop-pro-color-filters-apk
  easylist/easylist_adservers.txt
Labels: Easylist

#4931 A: #4930
  easylist/easylist_general_hide.txt
Labels: Easylist

#4916 M: power.fi
  easyprivacy/easyprivacy_whitelist_international.txt
Labels: Update Filter

#4930 A: https://fc.lc/Re1skE
  easylist/easylist_specific_block.txt
Labels: Easylist

#4927 A: https://www.apkwhale.com/mx-player-pro/
  easylist/easylist_general_hide.txt
Labels: Easylist

#4939 M: Removed bypassed.net (parked)
  easylist/easylist_specific_block.txt
Labels: Update Filter

#4947 A: (weborama.fr profiling) https://www.acpm.fr/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4948 M: #4947
  easyprivacy/easyprivacy_specific.txt
Labels: Update Filter

#4949 A: https://www.acpm.fr/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4956 M: linkedin.com | cookie notification filter update
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Question

#2840 P: https://arsenal.army/shop/individualnaya-zashchita
  fanboy-addon/fanboy_annoyance_whitelist.txt
Labels: Fanboy Annoyances

#4970 P: (videos does not start) http://www.voici.fr/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#5005 A: #5004
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Annoyances

#5006 A: https://www.pes-patch.com/pes-2020
  easylist/easylist_specific_block.txt
Labels: Easylist

#5004 A: https://www.tryagame.fr/playstation-plus-mars-2020/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5003 A: https://dshield.org/
  easylist/easylist_specific_block.txt
Labels: Easylist

#5002 A: #5001
  easylist/easylist_adservers.txt
Labels: Easylist

#5001 A: (nsfw) realgfporn.com
  easylist/easylist_specific_block.txt
Labels: Easylist

#5000 A: #4999
  easylist/easylist_adservers.txt
Labels: Easylist

#4999 A: (fembed.com) https://secfilm.xyz/v/zmw-lhjr-44-701
  easylist/easylist_specific_block.txt
Labels: Easylist

#4998 A: https://www.hercampus.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4997 A: #4996
  easylist/easylist_general_block.txt
Labels: Easylist

#4996 A: (nsfw) amateri.com
  easylist/easylist_general_hide.txt
Labels: Easylist

#4995 A: sttinfo.fi
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#4994 A: https://linux.forumactif.org/
  fanboy-addon/fanboy_notifications_general_hide.txt
Labels: Fanboy Annoyances

#4992 A: #4991
  easylist/easylist_general_block_popup.txt
Labels: Easylist

#4991 A: (nsfw) e-wok.tv
  easylist/easylist_general_block.txt
Labels: Easylist

#4990 A: https://madame.lefigaro.fr/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Annoyances

#4989 A: http://www.mahjong.fr/jouer/mahjongdimensions.php
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4988 A: https://imac-torrents.com/snapmotion-4-4-2-torrent-download/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4987 A: #4986
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#4971 A: https://dz4link.com/ToK8dWDH
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4979 A: https://www.nextinpact.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#4981 A: https://tass.ru/
  easylist/easylist_general_hide.txt
Labels: Easylist

#4961 A: https://www.fnac.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#4960 A: https://annuaire.118712.fr/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4946 A: https://www.lameridionale.fr/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#4975 A: https://www.esporter.pl/
  easylist/easylist_general_block.txt
Labels: Easylist

#4976 A: https://www.pomponik.pl/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#4977 A: #4976
  fanboy-addon/fanboy_notifications_general_block.txt
Labels: Fanboy Notifications

#4962 A: https://flamy.ca/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4980 A: https://roaring.earth/baboon-lion-cub/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4983 A: #4982
  easylist/easylist_general_hide.txt
Labels: Easylist

#4982 A: https://www.sindonews.com/
  fanboy-addon/fanboy_notifications_specific_hide.txt
Labels: Fanboy Notifications

#4986 A: https://www.materiel.net/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5019 A: pccomponentes.com
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#5018 A: #5016
  easylist/easylist_general_block.txt
Labels: Easylist

#5016 A: (nsfw) porno333.com
  easylist_adult/adult_adservers.txt
Labels: Easylist, NSFW

#5017 A: (nsfw) xmissy.nl
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#5015 A: https://www.netmums.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#4966 A: horze.fi
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4965 A: lehtodigital.fi
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#4950 A: (#3313) webconfs.com
  easylist/easylist_specific_block.txt
Labels: Easylist

#4944 A: https://numberly.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#4943 A: (gofile.io) Update 7ee0fc4
  easylist/easylist_specific_block.txt
Labels: Easylist

#4942 A: https://youflix.me/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#4941 A: #4940
  easylist/easylist_general_hide.txt
Labels: Easylist

#4940 A: https://vshare.eu/embed-ebwdmif99zxu-729x400.html
  easylist/easylist_specific_block.txt
Labels: Easylist

#4938 A: https://apkcombo.com/adblock-plus/org.adblockplus.android/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#4929 A: #4928
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#4897 A: #4896
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#4985 P: alltube.pl & alltube.tv
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#4972 M: Update Propellerads adservers
  easylist/easylist_adservers.txt
Labels: Easylist, Revolving Adservers

#3257 A: https://www.wideopenspaces.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#5021 A: cerealia.ch
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#3063 A: https://www.raywenderlich.com/1950
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#3070 A: http://spellbackwards.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#5022 A: m-bet.co.tz
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#3074 A: https://www.isaham.my/
  easylist/easylist_general_block.txt
Labels: Easylist

#5009 Delist simply.com
  easylist/easylist_adservers.txt
Labels: Question
