Repository easylist/easylist, pull requests merged in 2020-06, with the labels that each got.

#5452 P: fix toonippo.co.jp videos
  easyprivacy/easyprivacy_whitelist_international.txt
Labels: Easyprivacy

#5450 P: veho.fi
  easyprivacy/easyprivacy_whitelist_international.txt
Labels: Easyprivacy

#5477 https://adweb.pro
  easylist/easylist_general_block.txt
Labels: Easylist

#5478 https://adscale.pl
  easylist/easylist_general_block.txt
Labels: Easylist

#5479 A: http://pics.io/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#5485 A: https://www.nyrr.org/
  fanboy-addon/fanboy_annoyance_general_block.txt
Labels: Fanboy Annoyances

#5480 P: ksml.fi|savonsanomat.fi
  easyprivacy/easyprivacy_whitelist_international.txt
Labels: Easyprivacy

#5460 P: anna.fi|kaksplus.fi
  easyprivacy/easyprivacy_whitelist_international.txt
Labels: Easyprivacy

#5481 M: Update Non-flagged (Revolving ad servers)
  easylist/easylist_adservers.txt
Labels: Easylist

#5484 A: https://govid.co/play/15482832
  easylist/easylist_specific_block.txt
Labels: Easylist

#5483 A: https://govid.co/play/15482832
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#5486 A: https://www.flashx.net/embed.php?c=aac27dde709b0728fbcf1a88437d1c20
  easylist/easylist_specific_block.txt
Labels: Easylist

#5487 A: #5486
  easylist/easylist_thirdparty.txt
Labels: Easylist

#5463 A: inmicsnebula.fi
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#5469 P: fix minato-yamaguchi.co.jp
  easylist/easylist_whitelist_general_hide.txt
Labels: Easylist

#5488 P: fix mashingup.jp
  easylist/easylist_whitelist_general_hide.txt
Labels: Easylist

#5473 Fixes https://forums.lanik.us/viewtopic.php?f=64&t=44747
  easyprivacy/easyprivacy_whitelist.txt
Labels: Easylist

#5468 P: https://www.tilt.fi/jaksot/jakso-14-kevat-2020/
  easylist/easylist_whitelist.txt
Labels: Easylist

#5513 A: (nsfw) pornhdtube.tv
  easylist_adult/adult_adservers.txt
Labels: Easylist, NSFW

#5507 A: https://www.ouedkniss.com/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#5497 A: http://www.entp.edu.dz/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5496 A: https://en-forme-apres-50ans.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#5500 P: power.fi
  easylist_cookie/easylist_cookie_whitelist_general_hide.txt
Labels: Easylist Cookies

#5504 A: http://elforqaan.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5495 A: http://www.wilaya-naama.dz/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#5492 A: https://breakingfirst.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#5494 A: https://www.univ-blida.dz/index.php/en/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#5514 A: (nsfw) hclips.com
  easylist/easylist_adservers.txt
Labels: Easylist, NSFW

#5515 A: #5514
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#5512 A: #5511
  easylist/easylist_general_block.txt
Labels: Easylist

#5511 A: (nsfw) xhamster.one
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#5508 A: https://www.notebookcheck.net/
  easylist/easylist_specific_block.txt
Labels: Easylist

#5509 A: #5508
  easylist/easylist_thirdparty.txt
Labels: Easylist

#5510 A: (notebookcheck.net) #5508
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#5493 A: https://www.zerohedge.com/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#5520 A: https://www.edureka.co/blog/3-compelling-to-choose-python/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#5521 A: https://abcvideo.cc/embed-ylw4nr224372.html
  easylist/easylist_specific_block.txt
Labels: Easylist

#5522 A: #5521
  easylist/easylist_thirdparty.txt
Labels: Easylist

#5505 A: http://midad.com/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#5491 A: https://www.dmalgerie.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5490 A: http://www.lejourdalgerie.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5536 A: (nsfw) txxx.com
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#5534 A: (nsfw) porn300.com
  easylist_adult/adult_specific_block.txt
Labels: Easylist

#5533 A: (nsfw) 3naked.com
  easylist_adult/adult_specific_block.txt
Labels: Easylist

#5532 A: (nsfw) reamporn.com
  easylist_adult/adult_specific_block.txt
Labels: Easylist

#5531 A: (nsfw) sonorousporn.com
  easylist_adult/adult_specific_block.txt
Labels: Easylist

#5529 P: fix simplii.com
  easylist_cookie/easylist_cookie_whitelist_general_hide.txt
Labels: Easylist Cookies

#5528 A: https://www.hurtigruten.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#5567 A: https://www.redbull.com/int-en/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#5566 A: https://www.konami.com/games/eu/en/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#5565 A: (mediafire.com) #5564
  easylist/easylist_general_hide.txt
Labels: Easylist

#5564 A: https://www.mediafire.com/error.php?errno=320
  easylist/easylist_specific_hide.txt
Labels: Easylist

#5561 gdatasoftware.com, gdata-software.com cookie bar
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#5559 A: online-convert.com
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#5527 A: https://www.sendinblue.com/blog/create-an-email-signup-form/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5526 A: https://www.journaldugeek.com/2020/06/10/ps5-conference-sony/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5498 A: https://fcmonline.com.ar/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5458 Amended 3 IP-based entries
  easylist/easylist_adservers_popup.txt
Labels: Easylist

#5580 P: http://ad4.fr/
  easylist/easylist_general_block.txt
Labels: Easylist

#5579 A: https://wamiz.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5593 A: varusteleka.fi
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#5614 P: fix jmedj.co.jp
  easylist/easylist_allowlist.txt
Labels: Easylist

#5628 A: https://puutarha.net/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#5627 A: https://www.omataloyhtio.fi/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#5626 A: https://www.ruutu.fi/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#5625 A: https://www.hs.fi/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#5623 A: valmet.com
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#5620 A: https://www.jyu.fi/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#5611 A: https://www.algerie360.com/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#5610 A: https://mawdoo3.com/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#5609 A: #5608
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#5608 A: https://en.savefrom.net/
  easylist/easylist_thirdparty.txt
Labels: Easylist

#5607 A: (savefrom.net) #5606
  fanboy-addon/fanboy_annoyance_specific_block.txt
Labels: Easylist

#5606 A: https://savefrom.net/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#5605 A: http://dzair-tube.online/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#5604 A: https://www.dzair-tube.com/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#5603 A: https://www.alaraby.co.uk/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5602 A: https://www.ennaharonline.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5601 A: https://www.marmiton.org/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#5600 A: https://www.journaldesfemmes.fr/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#5595 Fix spjai.com
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#5592 M: go.trouter.skype.com is not a tracker
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#5591 A: https://filerio.in/zi1qdafgxh28
  easylist/easylist_specific_block.txt
Labels: Easylist

#5590 A: https://notube.net/
  easylist/easylist_specific_block.txt
Labels: Easylist

#5582 P: southparkstudios.nu
  easylist_cookie/easylist_cookie_allowlist.txt
Labels: Easylist Cookies
