Repository easylist/easylist, pull requests merged in 2020-11, with the labels that each got.

#6358 A: (rbxactive.com) https://forums.lanik.us/viewtopic.php?f=64&t=45349
  fanboy-addon/fanboy_annoyance_allowlist_general_hide.txt
Labels: Fanboy Annoyances

#6378 A: https://audioz.download/
  easylist/easylist_specific_block.txt
Labels: Easylist

#6373 A: https://www.qwant.com/?q=adblock%20plus
  easylist/easylist_specific_hide.txt
Labels: Easylist

#6374 A: http://mubasher.aljazeera.net/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#6380 P: fix www.lacoste.com size selection
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#6401 A: https://www.aljazeera.net/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#6400 A: https://lancman.fr/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#6399 A: https://www.batterypoweronline.com/
  easylist/easylist_general_block.txt
Labels: Easylist

#6398 A: http://aegeanews.gr/
  easylist/easylist_general_block_dimensions.txt
Labels: Easylist

#6397 A: http://www.basingstokeobserver.co.uk/
  easylist/easylist_specific_block.txt
Labels: Easylist

#6396 A: https://www.navigateur-brave.fr/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#6395 A: #6394
  easylist/easylist_thirdparty.txt
Labels: Easylist

#6394 A: (streamplay.to) https://streamp1ay.cc/1p8b19iikf7m
  easylist/easylist_specific_block.txt
Labels: Easylist

#6392 A: https://www.rustica.fr/cuisine/cuisiner-noisette,15996.html
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#6391 A: https://www.leparking-moto.fr/moto-occasion/routiere.html
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#6390 A: http://www.topmercato.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#6389 A: https://www.footballclubdemarseille.fr/mercato-om/mercato.html
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#6388 A: (la-croix.com) #6387
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#6387 A: https://www.la-croix.com/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#6386 A: (lopinion.fr) #6384
  fanboy-addon/fanboy_notifications_general_hide.txt
Labels: Fanboy Annoyances

#6385 A: (lopinion.fr) #6384
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#6384 A: https://www.lopinion.fr/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#6383 A: https://www.comment-economiser.fr/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#6426 P: fix https://gotoeat.maff.go.jp/ contact info hidden
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#6420 A: https://www.ativo.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#6419 A: #6418
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#6418 A: http://karapaia.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#6417 A: https://www.linternaute.com/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#6413 A: https://www.wikihow.com/
  easylist/easylist_general_block.txt
Labels: Easylist

#6412 A: (nsfw) xhamster2.com
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#6410 A: http://comment-contacter.fr/contacter-easyjet-pour-une-reclamation/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#6409 A: https://www.playstation.com/en-au/get-help/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#6465 M: address leftover of many porn sites
  easylist/easylist_general_hide.txt
  easylist_adult/adult_adservers.txt
Labels: Easylist, NSFW

#6464 P: (no video player) https://www.beinsports.com/en/videos
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easylist

#6463 P: (animepahe.com) https://git.io/JkCUO & https://git.io/JkCUo
  easylist/easylist_specific_block.txt
Labels: Easylist

#6462 A: https://hero-magazine.com/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#6459 P: https://windscribe.com/myaccount/tweet4data
  fanboy-addon/fanboy_social_allowlist_general_hide.txt
Labels: Fanboy Social

#6457 A: (gmx.net) #6456
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#6456 A: (gmx.net) Update b83d395
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#6455 A: (nsfw) tits-guru.com
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#6454 A: (update #5768) https://kickass-kat.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#6453 A: https://zooqle.com/the-old-guard-2020-1080p-dual-xq1f7.html
  easylist/easylist_general_hide.txt
Labels: Easylist

#6451 A: #6450
  easylist/easylist_general_block.txt
Labels: Easylist

#6440 fix https://marshmallow-qa.com/marshmallow Send button
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#6439 P: fix https://pyfunceble.readthedocs.io/en/master/configuration/inde…
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#6438 P: fix https://www.adaware.com/ja/ad-block image
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#6484 A: https://manganelo.link/manga/read-miss-not-so-sidekickk/chapter-118/
  easylist/easylist_adservers.txt
Labels: Easylist

#6483 A:5dariyanews.com
  easylist/easylist_specific_block.txt
Labels: Easylist

#6481 A:telugubullet.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#6435 A: https://www.wikihow.com/Main-Page
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#6406 A: (m.3movs.com) #6405
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#6405 A: (nsfw) 3movs.com
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#6404 A: https://www.senscritique.com/film/Drunk/critique/222312427
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#6403 A: http://windowsbulletin.com/what-is-windows-bt-folder-is-it-safe-to-delete/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#6377 A: https://www.blockchain.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#6379 A: (audioz.download) #6378
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easylist

#6499 M: Removed obsolete filter (nsfw - xnxx.com)
  easylist_adult/adult_thirdparty.txt
Labels: Easylist, NSFW

#6498 A: (nsfw) anon-v.com
  easylist_adult/adult_thirdparty.txt
Labels: Easylist, NSFW

#6497 A: https://www.info.com/serp?q=adblock+plus
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#6496 A: https://www.privacywall.org/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Easylist

#6495 A: (seznam.cz) #6494
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#6494 A: https://www.seznam.cz/
  easyprivacy/easyprivacy_general.txt
Labels: Easylist, Easyprivacy

#6493 A: #6491
  easylist/easylist_general_hide.txt
Labels: Easylist

#6492 A: (pixabay.com) #6491
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#6491 A: https://pixabay.com/images/search/iphone/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#6490 A: Update mining domainds
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#6489 A: (similar issue #6403) nex-software.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#6488 A: https://www.linuxtricks.fr/news/12-actus-linuxtricks/477-info-ddos-sur-linuxtricks/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#6487 A: https://sourceforge.net/projects/pidgin/files/latest/download
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Easylist
