Repository easylist/easylist, pull requests merged in 2020-05, with the labels that each got.

#5323 A: https://topflownews.com/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#5321 A: https://www.edarabia.com/universities/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#5322 A: #5321
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5326 A: #5325
  easylist/easylist_general_block_popup.txt
Labels: Easylist

#5325 A: https://flvto-mp3.com/
  easylist/easylist_adservers_popup.txt
Labels: Easylist

#5320 A: https://forum.utorrent.cz/viewtopic.php?t=3097
  easylist/easylist_general_block.txt
Labels: Easylist

#5333 P: https://qastack.fr/webmasters/90339/
  easylist_cookie/easylist_cookie_whitelist_general_hide.txt
Labels: Easylist Cookies

#5330 A: Location based bet advertisment in hltv.org
  easylist/easylist_specific_block.txt
  easyprivacy/easyprivacy_specific.txt
Labels: Easylist

#5340 A: lahitapiola.fi
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#5336 A: https://gomovies-online.me
  easylist/easylist_general_hide.txt
Labels: Easylist

#5327 A: cellmapper.net
  easylist/easylist_specific_hide.txt
Labels: Easylist

#2806 A: (NSFW) 4fuckr.com
  easylist_adult/adult_thirdparty.txt
Labels: Easylist, NSFW

#5349 A: (fembed.com) https://sonline.pro/v/48pgkizzp1r2g-1
  easylist/easylist_specific_block.txt
Labels: Easylist

#5348 A: https://www.tantifilm.pizza/guarda/1917-2020-streaming-4/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#5354 A: https://www.memoireetvie.com/tu-ne-tueras-point-streaming/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5352 A: https://www.vbet.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5356 A: https://ec.algerietelecom.dz/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#5360 M: Removed oneload.site (parked)
  easylist/easylist_specific_block.txt
Labels: Easylist, Update Filter

#5363 A: http://tokkaban.com/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#5364 A: https://www.miles-and-more.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#5365 A: https://www.miles-and-more.com/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#5367 A: https://www.scaleway.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#5368 A: http://www.signiform.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#5383 A: https://www.darty.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#5382 A: https://www.nordeclair.fr/ & https://www.lesoir.be/
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#5379 M: Removed https://www.moscarossa.biz/ links hiding (nsfw)
  easylist/easylist_general_hide.txt
  easylist/easylist_whitelist_general_hide.txt
Labels: Easylist

#5377 A: https://marketplace.zedge.net/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#5376 A: (proglib.io) #5375
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#5374 A: https://www.echoroukonline.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5370 A: https://mstream.press/wpkypoo4llj6
  easylist/easylist_adservers.txt
Labels: Easylist

#5366 A: https://www.camer.be/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5387 A: yhteiso.telia.fi
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#5389 A: https://essalemelectronics.com/fr/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#5388 P: https://dood.watch/d/9yhzp0mztpla
  easylist/easylist_specific_block.txt
Labels: Easylist

#5386 A: https://github.com/AdguardTeam/AdguardFilters/issues/55823
  easylist/easylist_whitelist.txt
Labels: Easylist

#5385 A: https://csi.forcepoint.com/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#5411 A: https://www.topsante.com/medecines-douces/huiles-essentielles/6-facons-dutiliser-les-huiles-essentielles-60413
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5412 A: https://www.annasronline.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5413 A: http://www.algeriapressonline.com/index.php/news/algeria/8970
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#5414 A: http://www.dzfoot.com/
  fanboy-addon/fanboy_annoyance_general_block.txt
Labels: Fanboy Annoyances

#5444 P: como.fi|episodi.fi|fum.fi|inferno.fi|rumba.fi|soundi.fi|tilt.fi
  easyprivacy/easyprivacy_whitelist_international.txt
Labels: Easyprivacy

#5442 A: voice.fi
  easylist/easylist_adservers.txt
Labels: Easylist

#5439 A: staypro.fi
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#5433 A: https://www.remove.bg/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5430 A: https://yepi.com/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easylist

#5429 A: http://www.hellokids.com/c_33623/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5428 A: http://www.hellokids.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#5427 https://www.presstv.com/Detail/2020/05/27/626244/Iran-Venezuela-fuel-tankers
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5426 A: #5425
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#5425 A: https://ruptly.tv/en/videos/20200528-016
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5424 A: http://www.sudhorizons.dz/fr/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#5423 A: https://gofile.io/d/AUrhgZ
  easylist/easylist_specific_block.txt
Labels: Easylist

#5421 P: https://www.independent.com/
  easylist/easylist_whitelist_general_hide.txt
Labels: Easylist

#5392 A: brighteon.com
  easylist/easylist_specific_block.txt
Labels: Easylist
