Repository easylist/easylist, pull requests merged in 2020-07, with the labels that each got.

#5687 http://memytutaj.pl/
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#5702 A: https://www.tv5unis.ca/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#5701 A: https://filecrypt.co//Container/5F2FAAB80E.html
  easylist/easylist_specific_hide.txt
Labels: Easylist

#5660 A: https://footballia.net/
  easylist/easylist_adservers.txt
Labels: Easylist

#5661 A: (nsfw) pornhail.com
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#5662 A: #5661
  easylist_adult/adult_thirdparty.txt
Labels: Easylist, NSFW

#5663 A: (nsfw - pornhail.com) #5661
  easylist/easylist_general_block.txt
Labels: Easylist, NSFW

#5673 A: https://pixeldra.in/u/kfoddegS
  easylist/easylist_specific_hide.txt
Labels: Easylist

#5674 A: (pixeldra.in) #5673
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#5678 A: https://letsupload.co/e3fa
  easylist/easylist_specific_block.txt
Labels: Easylist

#5680 A: https://mirrorace.com/m/4lDbz
  easylist/easylist_specific_hide.txt
Labels: Easylist

#5664 A: https://www.medialog.fr/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#5652 A: (fembed.com) https://feurl.com/v/d5ndmsx8p6jj4g-
  easylist/easylist_specific_block.txt
Labels: Easylist

#5639 A: https://www.android-mt.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5638 A: https://www.ladepeche.fr/2020/06/30/toulouse-est-la-meilleure-ville,8957453.php
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5697 A: https://www.widilo.fr/code-promo/playstation-store
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#5585 A: https://www.eurosport.fr/football/bundesliga/2019-2020/transferts-un-contrat-de-quatre-ans-attendrait-meunier-a-dortmund_sto7784004/story.shtml
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5584 A: https://actu.orange.fr/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5692 why isn't piwik.js being blocked?
  easyprivacy/easyprivacy_general.txt
Labels: Invalid

#5704 A: https://www.indishare.org/ry1myvghv27l
  easylist/easylist_specific_block.txt
Labels: Easylist

#5703 A: (metomic.io) https://www.xsnews.nl/en/
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#5700 A: https://forum.telecharger-jeuxpc.fr/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#5698 A: https://annuaire-telechargement.best/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#5685 A: https://www.matkahuolto.fi/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#5721 A: https://ling.online/en/
  easylist/easylist_specific_block.txt
Labels: Easylist

#5720 A: https://down-paradise.com/v/z7eylbjjq884ln8
  easylist/easylist_specific_block.txt
Labels: Easylist

#5713 A: https://www.republicain-lorrain.fr/sport/2020/07/12/ugo-humbert-un-heros-si-discret
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5658 A: www.tori.fi
  easyprivacy/easyprivacy_specific_international.txt
Labels: Question

#5657 A: is.fi
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#5654 A: quora.com
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#5762 A: https://pirateproxy.voto/
  easylist/easylist_specific_block.txt
Labels: Easylist

#5731 A: https://www.albayan.ae/one-world/overseas/2020-07-16-1.3913434
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5726 P: fix locipo.jp videos
  easylist/easylist_allowlist.txt
Labels: Easylist

#5789 A: #5788
  easylist_adult/adult_adservers.txt
Labels: Easylist

#5788 A: (nsfw) javjunkies.com
  easylist_adult/adult_thirdparty.txt
Labels: Easylist, NSFW

#5785 A: https://streamwire.net/e/thngcblt949i
  easylist/easylist_adservers.txt
Labels: Easylist

#5783 A: (nsfw - mypornhere.com) #5782
  easylist_adult/adult_thirdparty.txt
Labels: Easylist, NSFW, Question

#5782 A: (nsfw) mypornhere.com
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#5781 A: https://beyondtheboxoffice.com/
  fanboy-addon/fanboy_social_thirdparty.txt
Labels: Fanboy Social

#5780 A: https://myvidis.top/v/l-7zxinzy7jlge8
  easylist/easylist_specific_block.txt
Labels: Easylist

#5779 A: https://www.torrentdownload.info/
  easylist/easylist_specific_block.txt
Labels: Easylist

#5827 Found and removed dead/parked movie-related domains
  easylist/easylist_specific_block.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#5824 A: G/O Media Affiliate Link Ads
  easylist/easylist_specific_hide.txt
Labels: Easylist

#5836 M: Removed video-buzz.eu
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#5819 A: https://www.ovh.com/fr/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#5821 A: http://adfloz.co/ICT97
  easylist/easylist_specific_block.txt
Labels: Easylist

#5837 A: http://mimibuzz.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5816 A: https://vidoza.net/embed-473yv7ht9nr7.html
  easylist/easylist_specific_block.txt
Labels: Easylist

#5835 A: https://www.elle.fr/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#5843 A: https://www.takeda.com/ja-jp/ CNAME issue
  easyprivacy/easyprivacy_allowlist.txt
Labels: uBO-CNAME

#5839 A: https://anaca3.com/blog/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#5838 A: http://cine-media.fr/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#5834 A: https://www.jeu-concours.biz/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5833 A: https://www.quebeccoupongratuit.com/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#5832 A: https://www.grazia.fr/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5830 P: #5823
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#5817 A: https://7vid.net/extreme-sports-video-4_c6e261d55.html
  easylist/easylist_general_hide.txt
Labels: Easylist

#5807 A: #5806
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#5847 Remove Nation Media Group specific hide
  easylist/easylist_specific_hide.txt
Labels: Easylist

#5806 A: http://a10.com/ & http://agame.com/ & http://girlsgogames.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#5805 A: https://www.cabinetaci.com/subornation-de-temoin/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5804 A: #5802
  easylist/easylist_general_hide.txt
Labels: Easylist
