Repository easylist/easylist, pull requests merged in 2020-04, with the labels that each got.

#5193 A: https://www.formula1.com/en/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#5194 A: (formula1.com) #5193
  easylist/easylist_general_hide.txt
Labels: Easylist

#5131 A: https://www.zappos.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#5128 A: https://famuathletics.com/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#5195 A: https://www.1001cocktails.com/recettes/recette_margarita_354941.aspx
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5185 A: https://www.sythe.org/
  easylist/easylist_specific_block.txt
Labels: Easylist

#5184 A: https://www.pstream.net/e/KJxQ2W0P91WW00L
  easylist/easylist_specific_block.txt
Labels: Easylist

#5191 A: https://dictzone.com/english-french-dictionary/hello
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5198 A: http://www.mavanimes.co/
  easylist/easylist_whitelist.txt
Labels: Easylist

#5199 A: (fembed.com) https://mavplay.com/v/60g1ei0el18jwl8
  easylist/easylist_specific_block.txt
Labels: Easylist

#5183 A: https://trends24.in/
  easylist/easylist_general_hide.txt
Labels: Easylist

#5188 A: (renaultsport.com) #5187
  fanboy-addon/fanboy_notifications_specific_block.txt
Labels: Fanboy Notifications

#5187 A: https://www.renaultsport.com/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#5122 A: #5121
  easylist/easylist_general_block.txt
Labels: Easylist

#5121 A: (nsfw) xnxxvideo.pro
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#5196 A: https://www.sehatok.com/info
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5123 A: (nsfw) adult-channels.com
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#5124 A: #5123
  easylist/easylist_general_hide.txt
Labels: Easylist

#5125 A: (nsfw) porndollz.com
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#5119 A: (nsfw) xvideosxporn.com
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#5120 A: #5119
  easylist_adult/adult_adservers.txt
Labels: Easylist

#5197 A: https://www.observalgerie.com/une-equipe-de-journalistes-arretee/2…
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#5211 A: https://www.sythe.org/
  easylist/easylist_specific_block.txt
Labels: Easylist

#5210 A: #5209
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#5209 A: (aimtell.com) https://onceddl.com/
  fanboy-addon/fanboy_notifications_general_block.txt
Labels: Fanboy Notifications

#5189 A: https://zurich.consulfrance.org/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5159 A: https://www.pstream.net/e/KJxQ2W0P91WW00L
  easylist/easylist_adservers.txt
Labels: Question

#5133 A: #5132
  fanboy-addon/fanboy_notifications_general_hide.txt
Labels: Fanboy Annoyances

#5132 A: https://www.filmibeat.com/
  fanboy-addon/fanboy_notifications_general_block.txt
Labels: Fanboy Annoyances, Fanboy Notifications

#5129 A: https://www.shoko.fr/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#5127 A: https://ultimaker.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#5130 A: #5129
  fanboy-addon/fanboy_annoyance_thirdparty.txt
Labels: Fanboy Annoyances

#5216 M: https://www.hltv.org/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#5137 A: (nsfw) porno333.com
  easylist_adult/adult_specific_block.txt
Labels: Question

#5244 A: (6play.fr) #5243
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#5243 A: https://www.6play.fr/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#5238 A: https://www.solvusoft.com/en/file-extensions/file-extension-dsc/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#5237 A: #5236
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#5236 A: https://www.solvusoft.com/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#5235 A: https://www.batiactu.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#5234 A: https://www.iamvpn.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5233 A: http://extramovies.casa/torrent.php?id=5c0361d42c7eb66b49c7699212a1d3e508311b33
  easylist/easylist_general_hide.txt
Labels: Easylist

#5232 https://www.sythe.org/
  easylist/easylist_specific_block.txt
Labels: Easylist

#5224 M: Update bet class filters into the list
  easylist/easylist_specific_hide.txt
Labels: Easylist

#5222 A: displays.agneovo.com
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#3064 A: https://www.cinemahd.co/episode/lobo-boru-2018-1x6/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#3080 A: https://beingames.net/pes2019-datapack4-released
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#3073 A: #3072
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#5258 whitelist ads.atmosphere.copernicus.eu
  easylist/easylist_general_block.txt
Labels: Easylist

#5260 A: https://www.sythe.org/
  easylist/easylist_specific_block.txt
Labels: Easylist

#5259 A: https://www.leparking.fr/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#5257 A: https://3dinsider.com/gold-filament/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5256 A: http://vidstreamup.com/videos/watch/86701/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5255 A: https://vidstream.kim/f/uc2vc4P7CY/
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#5254 A: http://www.redirection-web.net/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#5253 A: https://www.nextinpact.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#5281 A: https://www.soonnight.com/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#5278 A: http://www.pinkstripeysocks.com/
  fanboy-addon/fanboy_annoyance_thirdparty.txt
Labels: Fanboy Annoyances

#5279 A: http://www.sky-animes.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#5277 A: (application-remuneratrice.com) #5276
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#5283 A: https://www.cloudways.com/blog/how-to-clone-a-website/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#5282 A: http://www.wii-info.fr/
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#5280 A: https://www.dzmob.com/blog/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#5284 A: #5283
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5275 A: #5274
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#5276 A: https://application-remuneratrice.com/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#5273 A: https://www.sythe.org/
  easylist/easylist_specific_block.txt
Labels: Easylist

#5272 A: (androidweblog.com) #5267
  easylist/easylist_specific_hide.txt
Labels: Easylist

#5274 A: https://www.chimica-online.it/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#5270 A: https://woorke.com/
  easylist/easylist_thirdparty.txt
Labels: Easylist

#5294 http://www.advert.org.pl
  easylist/easylist_general_block.txt
Labels: Easylist

#2977 A: https://www.photopea.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#5289 A: https://video.sibnet.ru/shell.php?videoid=3462096
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#5290 A: #5289
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#2971 A: https://streamango.tv/episode/genius-season-1-episode-1/
  easylist/easylist_general_hide.txt
Labels: Easylist

#5268 https://unitedwithisrael.org/
  easylist/easylist_general_block.txt
Labels: Easylist

#5271 A: #5270
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#5269 A: http://rockysite.net/
  easylist/easylist_general_hide.txt
Labels: Easylist

#5285 A: add a common app-banner script
  fanboy-addon/fanboy_annoyance_general_block.txt
Labels: Fanboy Annoyances

#5299 M: Update bet ads class in hltv.org
  easylist/easylist_specific_hide.txt
Labels: Easylist

#5311 A: #5310
  easylist/easylist_general_hide.txt
Labels: Easylist

#5310 A: https://www.truecaller.com/search/uk/0612345678
  easylist/easylist_specific_hide.txt
Labels: Easylist
