Repository easylist/easylist, pull requests merged in 2021-12, with the labels that each got.

#9921 A: https://aa01.to/
  easylist/easylist_adservers.txt
Labels: Easylist

#9922 A: https://chromoscience.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#9909 A: [NSFW] https://www.deviants.com/
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9923 A: https://pahe.ph/
  easylist/easylist_adservers.txt
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#9936 Combined 2 equal rules
  easylist/easylist_allowlist.txt
Labels: Easylist

#8389 A: https://multimedia-english.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#9930 P: https://muumuu-domain.com/?mode=conpane&state=mail_apply (account …
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#9940 A: (nsfw) dailyporn.club (fixes https://github.com/AdguardTeam/Adguar…
  easylist_adult/adult_adservers.txt
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9951 A: [NSFW] https://www.porn300.com/
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9955 P: https://www.bs11.jp/program/
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#9950 A: [NSFW] https://pornguide.info/
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9949 A: [NSFW] https://chikiporn.com/
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9934 A: v.youku.com (address https://github.com/uBlockOrigin/uAssets/issue…
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#9974 A: https://yts.mx/
  easylist/easylist_adservers.txt
Labels: Easylist

#9990 A: [NSFW] https://crocotube.com/
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#9991 A: [NSFW] https://efukt.com/
  easylist/easylist_thirdparty.txt
  easylist_adult/adult_thirdparty.txt
Labels: Easylist

#9988 A: [Fix] https://pokeminers.com/
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#9885 A: https://www.yuketang.cn/training/index
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#9979 A: (nsfw) hentaidude.xxx (fixes https://github.com/AdguardTeam/Adguar…
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9977 A: https://manhuascan.com/
  easylist/easylist_adservers.txt
  easylist/easylist_specific_block.txt
Labels: Easylist

#9976 A: https://www.dramacool9.co/
  easylist/easylist_adservers.txt
Labels: Easylist

#9975 A: https://flixrs.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#9946 A: [NSFW] https://www.cumlouder.com/
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9969 A: https://cryptoslate.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#9971 P: https://languagecloud.sdl.com/lc/t/UNIQUE-ID/dashboard (account re…
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#9967 A: https://www.visualcapitalist.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#9965 A: https://coinlisting.info/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#9963 A: https://srsone.top/ & https://strtpe.link/
  easylist/easylist_adservers.txt
  easylist/easylist_specific_block.txt
Labels: Easylist

#9960 A: https://iir.ai/IyzYL
  easylist/easylist_general_hide.txt
Labels: Easylist

#9932 A: tamperelainen.fi (install our app notify)
  fanboy-addon/fanboy_notifications_specific_hide.txt
Labels: Fanboy Notifications

#9926 M/P: Update sfr.fr exceptions
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#9968 A: heraldsheets.com
  easylist/easylist_general_hide.txt
Labels: Easylist

#10000 P: https://www.mistore.jp.e.az.hp.transer.com/store/nihombashi/event_…
  easylist/easylist_allowlist.txt
Labels: Easylist

#10006 M: [NSFW] Fix Broad Third-Party Rule 321bcdb
  easylist_adult/adult_thirdparty.txt
Labels: Easylist, NSFW

#10002 Fix thisoldhouse.com cookie consent
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#9841 M: Fix https://github.com/uBlockOrigin/uAssets/pull/10452
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#10003 A: (nsfw) pornhd.com
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#10004 A: (nsfw) https://here.xxx/index.php?video=165965 (fixes https://gith…
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9998 A: https://bitcoiner.tv/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10005 A: (nsfw) https://tiktits.com/categories/tiktok-nsfw/gymnast-showed-h…
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#10009 A: (nsfw) cuntest.net (fixes https://github.com/AdguardTeam/AdguardFi…
  easylist_adult/adult_specific_hide.txt
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easylist, NSFW

#9883 A: https://cloud.baidu.com/doc/SUGAR/s/Jkdzgmc01
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#10013 A:indianexpress.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10032 A: https://perfectdailygrind.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10030 A: http://watchsexandthecity.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#10025 P: vierumaki.fi (Hide cookie banner background overlay)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#10024 A: (nsfw) 7mmtv.tv/ja/censored_content/8986/[EYAN-006]%E9%99%B8%E4%B8…
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#10020 A: https://new.qq.com/omn/20211207/20211207A07LK400.html
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#10019 A: http://blog.sina.com.cn/s/blog_89a729a40102wjwg.html (closes https…
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#10015 fix https://github.com/uBlockOrigin/uAssets/pull/10350 and fix https://github.com/easylist/easylist/pull/9509
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#10080 A: [NSFW] https://manhwax.com/
  easylist/easylist_adservers.txt
Labels: NSFW

#10077 A: https://www.dramacool9.co/
  easylist/easylist_adservers.txt
Labels: Easylist

#10082 A: https://www6.f2movies.to/
  easylist/easylist_adservers.txt
Labels: Easylist

#10099 A: https://ww8.readonepiece.com/
  easylist/easylist_adservers.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10098 A: https://gogoanime.ac/
  easylist/easylist_adservers.txt
Labels: Easylist

#10097 A: https://ca123movies.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#10096 A: http://mangastream.mobi/
  easylist/easylist_adservers.txt
Labels: Easylist

#10095 A: https://www.animefastmega.com/2000/03/qxnvymkgbmkgswt1ihlvisaotgvn…
  easylist/easylist_thirdparty.txt
Labels: Easylist

#8959 A: https://m.qidian.com/book/1982186.html
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#9882 A: http://www.fun.tv/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#10094 A: http://www.4399.com/
  fanboy-addon/fanboy_annoyance_specific_uBO.txt
Labels: Fanboy Annoyances

#10087 A: [NSFW] https://porncomics.to/
  easylist/easylist_adservers.txt
Labels: Easylist

#10091 A: [NSFW] https://allporncomic.com/
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_thirdparty.txt
Labels: NSFW

#10092 A: https://1anime.to/
  easylist/easylist_adservers.txt
Labels: Easylist

#10088 https://kissasians.org/
  easylist/easylist_adservers.txt
Labels: Easylist

#10086 A: [NSFW] https://manga18fx.com/
  easylist/easylist_adservers.txt
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#10085 A: [NSFW] https://hentai20.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#10089 A: https://123movies.net/
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#10083 A: https://animedao.to/
  easylist/easylist_adservers.txt
Labels: Easylist

#10109 A: https://appgallery.huawei.com/Featured
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#10116 A: [NSFW] https://sxyprn.com/
  easylist/easylist_adservers.txt
Labels: Easylist, NSFW

#10127 A: [NSFW] http://www.grannyhd.net/
  easylist/easylist_adservers.txt
Labels: NSFW

#10158 A: https://www.shorouknews.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#10157 A: https://arabic.cnn.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#10156 A: https://www.watzatsong.com/en
  easylist/easylist_general_hide.txt
Labels: Easylist

#10155 A: https://www.lepoint.fr/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#10154 A: https://www.lepoint.fr/
  easylist_cookie/easylist_cookie_international_specific_block.txt
Labels: Easyprivacy

#10153 A: https://bbs.pcbeta.com/viewthread-1913063-1-1.html
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#10151 A: https://unix.stackexchange.com/users/1
  easylist/easylist_general_hide.txt
Labels: Easylist

#10150 A: https://lg-dzstore.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#10149 A: https://000webhost.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10148 A: https://www.banxybank.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#10147 A: https://www.soonnight.com/alsace/photos/autres-20180408,57,45,1054650,17031845.html
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#10172 A: datakauppa.fi (cookie hide for uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#10049 A: https://www.flashscore.fr/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#10185 A: http://www.cntcm.com.cn/xueshu/2016-08/25/content_20007.htm
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#10184 A: https://gomovies.lv/
  easylist/easylist_adservers.txt
  easylist_adult/adult_adservers_popup.txt
Labels: Easylist

#10182 A: https://herogayabmodeon.net/
  easylist/easylist_adservers.txt
Labels: Easylist

#10181 A: https://katmoviehd.nz/
  easylist/easylist_adservers.txt
Labels: Easylist

#10180 A: (nsfw) https://www.3movs.com/videos/63607/olivia-austin-seduces-ju…
  easylist_adult/adult_specific_hide.txt
Labels: Easylist

#10179 A: [NSFW] https://manhwa18.cc/
  easylist_adult/adult_specific_block.txt
Labels: Easylist

#10195 A: https://yts.mx/
  easylist/easylist_adservers.txt
Labels: Easylist

#10130 A: https://strtpe.link/
  easylist/easylist_adservers.txt
Labels: Easylist

#9898 A: [NSFW] https://jagaporn.com/
  easylist/easylist_adservers.txt
  easylist_adult/adult_specific_hide.txt
Labels: Easylist

#10214 paydemic.com #10210
  easylist/easylist_adservers.txt
Labels: Easylist

#10299 Fix es[.]wallapop[.]com
  easylist/easylist_allowlist.txt
Labels: Easylist

#10340 A: https://goosegame.io/
  easylist/easylist_specific_hide.txt
Labels: Easylist
