Repository easylist/easylist, pull requests merged in 2021-08, with the labels that each got.

#6283 A: https://downdetector.com/status/youtube/
  easylist/easylist_general_block.txt
Labels: Easylist

#3058 A: #3057
  easylist/easylist_general_hide.txt
Labels: Easylist

#8517 A: genius.com (specific ad hide)
  easylist/easylist_specific_hide.txt
Labels: Easylist

#8507 A: aoc.com (cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#8503 A: https://fanyi.baidu.com/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#8491 ottverse.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#8490 instantfap.com###af
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#8524 A: weloma.net (fixes https://github.com/AdguardTeam/AdguardFilters/is…
  easylist/easylist_general_block.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#8555 M: address https://github.com/easylist/easylist/commit/2b07a85335dff4…
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#8556 A: https://pg.surveymonkey.com/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#8559 Fix https://github.com/AdguardTeam/AdguardFilters/issues/89992
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#8553 A: https://www.racerstar.com/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#8554 A: accounts.reddit.com​
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#8552 A: (nsfw) https://new.fastpic.org/album/qMm8SCe7rB
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#8561 Fix https://github.com/AdguardTeam/AdguardFilters/issues/89990#issuec…
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#6656 M: domain name update (kotimaa24.fi -> kotimaa.fi)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#8544 U: gamestart.de
  easylist/easylist_allowlist.txt
Labels: Easylist

#8550 A: www.newyorker.com (fixes https://github.com/AdguardTeam/AdguardFil…
  easylist/easylist_general_hide.txt
Labels: Easylist

#8540 A: (betaseries.com) https://github.com/easylist/easylist/pull/6148#issuecomment-890429936
  easylist/easylist_general_hide.txt
Labels: Easylist

#8527 Xiaomi tracker
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#8537 A: https://www.blockchain.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#6355 A: https://www.masrawy.com/
  fanboy-addon/fanboy_notifications_specific_hide.txt
Labels: Fanboy Notifications

#6354 A: #6353
  easylist/easylist_general_hide.txt
Labels: Easylist

#6361 A: https://jav.work/movie/genm-043 (nsfw)
  easylist_adult/adult_adservers.txt
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#8563 A: https://w.mail.qq.com
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#8557 A: http://aliotop.fr/aliotop/7QLDONPzhcr
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#8541 A: https://www.turfomania.fr/actualites/deauville-prix-rothschild-mother-earth-tient-sa-revanche.htm?idactualite=12621
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#8575 A: https://bigfarm.goodgamestudios.com/
  easylist/easylist_general_block.txt
Labels: Easylist

#8572 A: https://www.ecobank.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#8571 A: https://abidjan.net/
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#8570 A: (shop-pharmacie.fr) #8569
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#8569 A: https://www.shop-pharmacie.fr/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#8568 A: http://yvance77.space-blogs.net/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#8577 P: www.nap-camp.com (fixes https://github.com/AdguardTeam/AdguardFilt…
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#8558 A: https://www.nationalgeographic.com/ (partly fixes https://github.c…
  easylist/easylist_general_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#8534 A: metsakeskus.fi (generic cookie hide)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#8532 A: podleze-piekielko.pl (Ubo, cookie)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#8585 M: changed generic filter to make it more safe
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#8615 A: https://eth-converter.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#8614 A: https://www.meilleurmobile.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#8612 A: https://www.websitebuilderexpert.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#8611 A: https://www.quellecompagnie.com/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#8610 A: https://www.mitrasias.com/
  fanboy-addon/fanboy_notifications_general_block.txt
Labels: Fanboy Notifications

#8606 A: maaseuduntulevaisuus.fi (generic newsletter hide)
  fanboy-addon/fanboy_notifications_general_hide.txt
Labels: Fanboy Annoyances

#8613 A: #8612
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#8603 ##.bb_desktop
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#8598 A: #8597
  fanboy-addon/fanboy_notifications_general_block.txt
Labels: Fanboy Notifications

#8597 A: (finanzen.net) https://github.com/easylist/easylistgermany/pull/138
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#8588 A: kuntarekry.fi (cookie hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#8596 P: howstuffworks.com (videos are blocked)
  easylist/easylist_allowlist.txt
Labels: Easylist

#8593 P: m.motonet.fi (product images blocked)
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#8584 A: rd.fi (notifications)
  fanboy-addon/fanboy_notifications_specific_block.txt
  fanboy-addon/fanboy_notifications_specific_hide.txt
  fanboy-addon/fanboy_notifications_specific_uBO.txt
Labels: Fanboy Annoyances

#8583 A: rd.fi (social block)
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#8582 A: https://www.deepl.com/translator
  fanboy-addon/fanboy_notifications_specific_hide.txt
Labels: Fanboy Notifications

#8638 A: https://ninjashare.to/download/gsv5dUKXwKhbUExuaUAVDT?t=0249464965…
  easylist/easylist_specific_block.txt
Labels: Easylist

#8637 M: Update adservers
  easylist/easylist_adservers.txt
Labels: Easylist

#8636 A: https://abcvideo.cc/embed-7sii0hmduz3a-1080x536.html
  fanboy-addon/fanboy_annoyance_general_block.txt
Labels: Fanboy Annoyances

#8633 A: https://smtnet.com/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#8632 A: https://www.zilek.com/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#8629 A: https://www.bloomberg.com/news/articles/2021-08-11/u-s-demands-chi…
  easylist/easylist_general_hide.txt
Labels: Easylist

#8622 A: hrw.org
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#8621 P: http://www.adpartner.jp/
  easylist/easylist_general_block.txt
Labels: Easylist

#8617 A: https://www.qidian.com/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#8578 A: (nsfw) https://frprn.com/
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#8670 P: https://www.arukikata.co.jp/city/MIL/ (fixes search-hotel widget)
  easylist/easylist_allowlist.txt
Labels: Easyprivacy

#8667 A: http://mp3juice.app/
  easylist/easylist_specific_block.txt
Labels: Easylist

#8666 P: (nsfw) nsfw.xxx (fixes https://github.com/AdguardTeam/AdguardFilte…
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#8659 A: (nsfw) http://www.redtube.fm/video-4557/sexy-colombiana-is-picked-…
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#8650 A: bestsimilar.com (generic cookie hide)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#8658 A: kokemaenjokilaakso.fi (notifications hide)
  fanboy-addon/fanboy_notifications_specific_hide.txt
Labels: Fanboy Notifications

#8648 A: https://wowma.jp/item/349293475?spe_id=top_rank_1
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#8643 A: (nsfw) https://hentaiworld.tv/ (fixes https://github.com/AdguardTe…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#8511 P: jaatama.fi (all front page pictures are blocked)
  fanboy-addon/fanboy_social_allowlist.txt
Labels: Fanboy Social

#8510 P: / M: kauppahalli24.fi (filter broken, products won't display)
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#8664 colibriwp.com
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#8669 A: (nsfw) http://www.teen-angels.org/galleries/zemani/033/ (fixes htt…
  easylist_adult/adult_adservers.txt
Labels: NSFW

#8645 A: (nsfw) pornodiamant.xxx
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#8642 A: https://www.ifeng.com/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#8676 A: (nsfw) www.winporn.com
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#8649 P: / M: danskebank.fi (some pictures won't load, cookielist, Ubo) (remade)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#8674 A: (nsfw) c.datingdeserving.com
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#8536 A: https://www.ecranlarge.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#8685 address ping on cnn.com | address https://github.com/AdguardTeam/AdguardFilters/issues/91414
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#8684 topuniversities.com
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#8682 A: https://www.deepl.com/translator
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#8604 NSFW: javfor.tv##.my-2.container M: #8352
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#8515 A: tokmanni.fi (newsletter modal)
  fanboy-addon/fanboy_notifications_specific_hide.txt
Labels: Fanboy Annoyances

#8647 A: (nsfw) https://www.aznude.com/browse/videos/recent/1.html (fixes h…
  easylist/easylist_general_hide.txt
Labels: Easylist

#8693 A: https://www.axes-net.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#8772 Added `##.adace-slideup-slot-wrap`
  easylist/easylist_general_hide.txt
Labels: Easylist

#7051 A: puuilo.fi (generic cookie block)
  easylist_cookie/easylist_cookie_allowlist.txt
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#8832 P: studio55.fi (article(s) removed)
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#8831 P: radiosun.fi (images blocking)
  easylist/easylist_allowlist_dimensions.txt
Labels: Easylist

#8829 A: play.google.com (cookie banner block)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#8827 A: (nsfw) https://javtape.site/11158/heyzo-0960-yuna-hoshizaki-sensit…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#8794 A: (nsfw) https://pornone.com/ (fixes https://github.com/AdguardTeam/…
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#8795 A: (nsfw) https://javdoe.fun/11806/heyzo-0652-kyoto-yui-jav-free-beau…
  easylist/easylist_adservers.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#8790 A: https://www.allocine.fr/video/player_gen_cmedia=19586073&cfilm=274530.html
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#8123 M: generic cookie filter modified to avoid unwanted blockings
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#8365 P: / M: verkkokauppa.com (cookie accept button removed, modified generic filter)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#2793 A: https://www.delfi.lt/
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#8789 A: https://tradelocks.co.uk/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#8788 A: (ign.com) #8787
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#8787 A: https://www.ign.com/
  easylist/easylist_specific_block.txt
Labels: Easyprivacy

#8750 A: (nsfw) https://xxxshake.com/videos/67626/ria-sakuragi/?utm_source=…
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#8774 A: hakaraw.com (popup)
  easylist/easylist_adservers.txt
Labels: Easylist

#8900 A: https://igg-games.com/ (fixes https://github.com/AdguardTeam/Adgua…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#8898 A: / P: elo.fi (cookie notification background remnant blocks usage of the site)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#8897 A: (nsfw) yourlust.com (fixes popunder)
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#8896 A: (nsfw) anysex.com (fixes popunder)
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#8895 A: (nsfw) www.gayboystube.com (fixes popunder)
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#8893 A: savonsanomat.fi (app installation notify)
  fanboy-addon/fanboy_notifications_specific_hide.txt
Labels: Fanboy Notifications

#8877 A: (loot.g2a.com) #8876
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#8876 A: https://loot.g2a.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#8878 A: (g2a.com) #8876
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#8873 A: https://www.theweathernetwork.com/ (meteomedia.com)
  fanboy-addon/fanboy_notifications_general_block.txt
Labels: Fanboy Notifications

#8872 A: https://www.cnet.com/
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#8867 A: https://jeu.video/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#8865 A: https://www.meteocity.com/france/paris-v2988507
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#8864 A: (arkadium.com) #8863
  fanboy-addon/fanboy_notifications_general_block.txt
Labels: Fanboy Notifications

#8866 A: (allocine.fr) #8791
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#8862 A: https://www.eqrae.com/خلطة-ورق-السدر-للشعر/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#8874 P: instalki.pl (some pictures blocked by Social list)
  fanboy-addon/fanboy_social_allowlist.txt
Labels: Fanboy Social

#8859 A: https://iqraa.com/index?Lang=en
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#8856 A: https://blog.cloudflare.com/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#8858 P: https://right-on.co.jp/
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#8857 P: docs.axway.com (generic cookie hide matches body element)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#8764 easyprivacy_allowlist.txt: adobedtm.com exception
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#8763 markammay.com
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#8747 myhealth.va.gov
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#8702 A: https://fanyi.baidu.com/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#8903 A: https://kissanimes.su/ep/kanojo-okarishimasu-episode-3-english-sub…
  easylist/easylist_thirdparty.txt
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easylist, Easyprivacy

#8902 A: www1.kiss-anime.asia,www2.kissanime.mobi
  easylist/easylist_general_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#8912 A: https://tsri.ch/zh/
  easylist/easylist_general_hide.txt
Labels: Easylist

#8911 A: https://sociallinks.io/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#8908 P: nordvpn.com (fixes https://www.reddit.com/r/uBlockOrigin/comments/…
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#8767 A: (nsfw) https://hdpornfree.xxx
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#5734 A: https://dtechclub.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#8914 A | related: https://github.com/AdguardTeam/AdguardFilters/issues/91854
  easylist/easylist_adservers.txt
Labels: Easylist

#8915 A: tiendeo.fi (generic cookie hide)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies
