Repository easylist/easylist, pull requests merged in 2021-03, with the labels that each got.

#7292 ethereumads.com || https://www.mypdns.org/T3970
  easylist/easylist_adservers.txt
Labels: Easylist

#7321 A: jooble.org (specific cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#7322 A: Update #7300
  easylist_cookie/easylist_cookie_thirdparty.txt
Labels: Easylist Cookies

#7320 A: duunitori.fi (generic cookie block)
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#7315 A: (nsfw) porngifs2u.com (fixes https://github.com/AdguardTeam/Adguar…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#7336 A: (nsfw) thehun.net (fixes https://github.com/AdguardTeam/AdguardFil…
  easylist/easylist_general_block.txt
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#7334 A: comic.k-manga.jp
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#7333 A: nordnet.fi (generic cookie hide)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#7328 A: pixiv.net (mobile view; fixes https://github.com/AdguardTeam/Adgua…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#7324 A: #7323
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist

#7323 A: vinted.fr, vinted.es, vinted.de, vinted.nl
  easylist/easylist_specific_block.txt
Labels: Easylist

#7310 A: (nsfw) https://www.hornygamer.com/hentai-games/Bedroom-Android-Typ…
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#7309 P: tori.fi (cookie hiding rule removes a checkbox)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#7284 A: 7news.com.au
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#7281 A: (nsfw) https://www.lewdgamer.com/2021/02/23/roche-parfegrasse-the-…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#7351 P: (nsfw) http://www.perfectgirls.net/gal/741667/Flirty_girl_with_mas…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#7350 A: www.onamae.com
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#7347 M: ###privacy-statement -> ###privacy-statement:not(.checkbox)
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#7345 M: ###privacypolicy -> ###privacypolicy:not(input)
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#7344 A: https://www.motortrend.com/news/dodge-future-fca-psa/
  easylist/easylist_specific_hide.txt
  easyprivacy/easyprivacy_specific.txt
Labels: Easylist, Easyprivacy

#7285 A: www.defenseone.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#7420 P: https://travel.rakuten.co.jp/yado/saitama/kawagoe.html (fixes http…
  easylist/easylist_allowlist.txt
Labels: Easylist

#7408 A: (nsfw) https://justfullporn.com/adriana-chechik-blackmail-stepsist…
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#7407 A: (nsfw) https://masalaseen.net/today-exclusive-sexy-call-girl-blowj…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#7406 P: https://www.jrepoint.jp/entry/provisional/
  fanboy-addon/fanboy_notifications_allowlist.txt
Labels: Fanboy Annoyances

#7405 A: (nsfw) https://www.foxhq.com/piper-essence-photodromm/ (fixes http…
  easylist_adult/adult_adservers.txt
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy, NSFW

#7404 A: https://www.telesatellite.com/actu/57351-m.html
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#7397 A: www.55truck.com
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#7396 A: https://sentry.io/welcome/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#7387 A: (nsfw) https://scrolller.com/r/celebswithbigtits (fixes https://gi…
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#7386 A: (nsfw) https://hentai-share.tv/3432-shikoyaka-naru-toki-mo-hameru-toki-mo…
  easylist/easylist_adservers.txt
  easylist/easylist_specific_block.txt
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easylist, Easyprivacy

#7280 A: (nsfw) https://lewdninja.com/game/28700-space-rescue-code-pink-v40…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#7270 A: https://ww1.readjujutsukaisen.com/chapter/jujutsu-kaisen-chapter-1…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#7264 P: https://shop.asobistore.jp/feature/ml7threburn/ (fixes https://twi…
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#7279 A: https://imagetwist.com/cy23c6e66txs/eorltpg6gkx31.jpg (fixes https…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#7471 P: https://soccer.yahoo.co.jp/jleague/
  easylist/easylist_allowlist.txt
Labels: Easylist

#7466 A: www.bing.com (fixes https://github.com/AdguardTeam/AdguardFilters/…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#7459 M: sourceforge.net (removing a cookie whitelist rule)
  easylist_cookie/easylist_cookie_allowlist.txt
Labels: Easylist Cookies

#7454 P: taloon.com (topbar detached from the top, cookie list issue)
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
Labels: Easylist Cookies

#7451 M: make more specific
  fanboy-addon/fanboy_notifications_allowlist.txt
  fanboy-addon/fanboy_notifications_general_block.txt
Labels: Fanboy Notifications

#7447 P: datakauppa.fi (cookie banner hiding breaks the page)
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
Labels: Easylist Cookies

#7446 A: https://www.msn.com/en-us/news/us/father-of-trans-daughter-deliver…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#7445 P: https://live.nicovideo.jp/watch/lv330945055
  easylist/easylist_specific_block.txt
Labels: Easylist

#7444 P: bloomberg.co.jp, bloomberg.com
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#7440 A: scandinavianphoto.fi (specific cookie banner)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#7437 A: https://www.opensubtitles.org
  easylist/easylist_specific_hide.txt
Labels: Easylist

#7436 A: https://www.opensubtitles.org
  easylist/easylist_specific_hide.txt
Labels: Easylist

#7263 A: (nsfw) https://ahentai.top/index.php?route=comic/article&comic_id=…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#7250 A: (nsfw) https://zoophiliahentai.com/1125750/unknown (fixes https://…
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#7246 A: https://www.gamikaze.com/news/tekken-7-le-50e-personnage-est-tease
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#7243 P: https://www.assuropoil.fr/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#7248 A: (nsfw) https://www.fpo.xxx/videos/249237/porn-big-boobs-2021/ (fix…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#7262 P: displayad.naver.com & searchad.naver.com (fixes https://github.com…
  easylist/easylist_general_block.txt
Labels: Easylist

#7245 A: https://www.telecharger-jeu-pc.com/
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#7244 A: http://warframe-builder.com/
  easylist/easylist_thirdparty.txt
Labels: Easylist

#7242 A: (dailyuploads.net) https://git.io/Jt9Rs
  easylist/easylist_specific_hide.txt
Labels: Easylist

#7241 A: (nsfw) thegay.com (fixes https://github.com/AdguardTeam/AdguardFil…
  easylist/easylist_general_hide.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#7473 P: real-sports.jp (fixes AdguardTeam/AdguardFilters#78094)
  easylist/easylist_allowlist.txt
  easyprivacy/easyprivacy_specific_international.txt
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#7482 A: https://apkforpc.com/zineway-for-pc
  easylist/easylist_specific_hide.txt
Labels: Easylist

#7493 P: https://kakuyomu.jp/official (fixes https://github.com/AdguardTeam…
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#7526 M: redundant filter
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#7525 M: removed redundant filter
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#7523 M: scandinavianphoto.fi (updated broken filter)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#7522 M: redundant filter
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#7519 P: www.kenko-tokina.co.jp
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#7518 P: www.anime-japan.jp (fixes https://github.com/AdguardTeam/AdguardFi…
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#7500 P: https://games.wkb.jp/html5games/play/testyourmemory/
  easylist/easylist_general_block.txt
Labels: Easylist

#7499 A: https://www.last.fm/ru/music/The%2BSmiths (fixes https://github.co…
  easylist/easylist_general_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#7498 P: https://anond.hatelabo.jp/20190530161149 (fixes https://github.com…
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#7532 A: (nsfw) https://www.mumbaiporn.com/indian-video/7057426
  easylist/easylist_adservers.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#7238 A: https://www.japan-fans.com/showthread.php?tid=7896 (fixes https://…
  easylist/easylist_specific_block.txt
Labels: Easylist

#7337 P: (nsfw) https://www.freexcafe.com/erotica/femjoy/gallery1j5d6/pics/…
  easylist/easylist_adservers.txt
  easylist/easylist_general_hide.txt
  easylist_adult/adult_specific_hide.txt
Labels: Easylist

#7231 A: (nsfw) http://www.blogbugs.org/video/?CwhSUlZGX0oe (fixes https://…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW
