Repository easylist/easylist, pull requests merged in 2021-07, with the labels that each got.

#8259 A: #8257
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#8257 A: (adblockplus.org) #8256
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#8256 A: https://adblockplus.org/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#8255 A: https://www.askmefast.com/Write_me_an_essay_for_election-qna6599784.html
  easylist/easylist_general_hide.txt
Labels: Easylist

#8254 A: https://thenewsjuice.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#8222 A: https://reelgood.com/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#8212 A: (google.com) #8211
  fanboy-addon/fanboy_annoyance_specific_block.txt
Labels: Fanboy Annoyances

#8333 A: sss.fi (cookie block, Ubo)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#8331 A: (nsfw) pornchimp.com
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#8330 A: (nsfw) https://xnxxporn.video/video/horny-son-licks-and-a-his-momm…
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#8329 A: (nsfw) https://hdpornfree.xxx/en/cat_dir/mom/ (fixes https://githu…
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#8328 A: (nsfw) https://hog.tv/video/10022225_nearly_caught_fucking_in_mcdo…
  easylist/easylist_adservers.txt
  easylist_adult/adult_specific_hide.txt
  easyprivacy/easyprivacy_specific.txt
Labels: NSFW

#8327 A: (nsfw) https://m.3movs.xxx/videos/285626/richelle-ryan-and-jimmy-m…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#8323 P: https://www.nicovideo.jp/watch/sm21813482
  fanboy-addon/fanboy_social_allowlist_general_hide.txt
Labels: Fanboy Social

#8322 P: https://www.iosysos.com/
  fanboy-addon/fanboy_annoyance_allowlist_general_hide.txt
Labels: Fanboy Annoyances

#8316 A: (nsfw) https://igg-games.com/pc-games-adult-18 (fixes https://gith…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#8361 A: https://le-routeur-wifi.com/les-offres-pro-de-bouygues-telecom/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#8359 A: elisaviihde.fi (cookie banner hide, Ubo)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#8357 A: (nsfw) https://thejavmost.com/video/pppd-0004-103cm-kcup-chichi (f…
  easylist/easylist_adservers.txt
  easylist_adult/adult_specific_hide.txt
Labels: Easylist

#8353 A: (nsfw) https://hpjav.top/drs-04/ (fixes https://github.com/Adguard…
  easylist_adult/adult_specific_hide.txt
Labels: Easylist

#8345 A: (bolor-toli.com) #8344
  easylist/easylist_specific_hide.txt
Labels: Easylist

#8343 P: https://www.techeyesonline.com/tech-column/detail/PR-IWATSU-019/ (…
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#8344 A: http://bolor-toli.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#8339 A: #8338
  easylist/easylist_general_hide.txt
Labels: Easylist

#8374 A: (nsfw) https://www.reddit.tube/video/6e19967990313fb32f3fc83a46607…
  easylist/easylist_adservers.txt
Labels: Easylist, NSFW

#8364 A: (nsfw) https://javseen.tv/54701/mum-125-studio-minimum-fairies-in-…
  easylist/easylist_adservers.txt
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#8381 P: http://banc.jp/career/
  easylist/easylist_allowlist.txt
Labels: Easylist

#8382 P: http://kaitaro.jp/
  easylist/easylist_allowlist.txt
Labels: Easylist

#8411 M: Update clickadu.com revolving adservers
  easylist/easylist_adservers.txt
Labels: Easylist

#8435 A: stackoverflow.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#8427 A: veikkaus.fi (generic cookie hide)
  easylist_cookie/easylist_cookie_general_hide.txt
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#8421 A: https://w.mail.qq.com
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#8419 Added `third-party`
  easylist/easylist_adservers.txt
Labels: Easylist

#8418 A: taloon.com (cookie banner, Ubo)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#8414 A: varusteleka.com|.fi (cookie hide, Ubo)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#8410 P: seura.fi (videos broken)
  easylist/easylist_allowlist.txt
Labels: Easylist

#8405 A: https://www.deepl.com/translator
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#8408 A: https://soft98.ir/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#8403 A: airam.fi (cookie notification, Ubo)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#8395 A: https://commercelayer.io
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#8393 M: redundant filter
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
Labels: Easylist Cookies

#8392 M: redundant filter
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
Labels: Easylist Cookies

#8423 A: (nsfw) https://hentaiff.com/first-love-episode-01-english-dubbed/ …
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#8456 A: imgur.com (new analytics on any image pages)
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#8462 A: https://liqahcorona.ma/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#8465 A: https://www.gadgetsnow.com/
  fanboy-addon/fanboy_notifications_general_block.txt
Labels: Fanboy Notifications

#8454 A: utorrent.com (generic cookie hide)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#8450 A: https://www.eumzug.swiss/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#8448 P: / A: vr.fi (cookie whitelist for ABP and addition for Ubo) (remade)
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#8443 A: https://juejin.cn/post/6988139732018397215
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#6517 P: https://ascii.jp/
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#8496 P: http://tcm-koko.ed.jp/
  easylist/easylist_allowlist.txt
Labels: Easylist

#6348 A: https://redgoal.gr/
  easylist/easylist_general_block.txt
Labels: Easylist

#6345 A: https://www.elsport.com/
  fanboy-addon/fanboy_notifications_general_block.txt
Labels: Fanboy Notifications

#7040 A: seura.fi (generic ad hide rule)
  easylist/easylist_general_hide.txt
Labels: Easylist

#7019 A: paakallo.fi (specific cookie hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#6886 A: veoh.com (generic 3p cookie block)
  easylist_cookie/easylist_cookie_thirdparty.txt
Labels: Easylist Cookies

#8495 A: https://baike.baidu.com/item/%E6%A2%85%E6%B6%85%E5%8A%B3%E6%96%AF%…
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#8497 P: https://www.flat-ads.com/ (fixes https://github.com/AdguardTeam/Ad…
  easylist/easylist_allowlist.txt
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#8494 A: https://wap.sogou.com/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#8505 A: https://zone.msn.com/en-us/home (fixes https://github.com/AdguardT…
  easylist/easylist_specific_hide.txt
Labels: Easylist
