Repository easylist/easylist, pull requests merged in 2021-04, with the labels that each got.

#7594 Fix Patreon cookie banner filter
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#7591 A: tulikulma.fi (generic cookie hide)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#7600 P: www.jp.square-enix.com
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#7580 A: (nsfw) https://vjav.com/videos/398715/ashlyn-rae/ (fixes https://g…
  easylist/easylist_general_hide.txt
Labels: Easylist, NSFW

#7579 A: https://imgsen.com/mdaywmhb6u6d/photo-1551582045-6ec9c11d8697.jpg.…
  easylist/easylist_adservers.txt
Labels: Easylist

#7577 P: livedoorblogstyle.jp (fixes https://github.com/AdguardTeam/Adguard…
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#7576 A: https://arstechnica.com/gaming/2021/04/8bitdo-pro-2-gamepad-review…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#7575 A: (nsfw) https://gamcore.com/hentai (fixes https://github.com/Adguar…
  easylist_adult/adult_thirdparty.txt
Labels: Easylist, NSFW

#7569 P: www.wsj.com
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#7562 P: https://www.melonbooks.co.jp/detail/detail.php?product_id=792558 (…
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#7561 A: www.speedcheck.org (fixes https://github.com/AdguardTeam/AdguardFi…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#7560 P: https://s.tabelog.com/tokyo/map/ (fixes https://github.com/Adguard…
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#7558 A: (nsfw) https://hypnohub.net/post?tags=open_clothes+&commit=Search …
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#7564 A: https://www.elwatannews.com/news/details/5055551
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#7565 A: https://m.akhbarelyom.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#7563 A: https://dimonvideo.ru/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#7553 A: (nsfw) 69gfs.com
  easylist_adult/adult_specific_hide.txt
  easylist_adult/adult_thirdparty.txt
Labels: Easylist, NSFW

#7611 M: remove redundant filters
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#7640 M: included in EasyList
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#7655 clapper.com.br
  easylist/easylist_thirdparty.txt
Labels: Easylist

#7645 A: www.starq-online.com
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#7644 A: www.caliente.mx
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#7642 A: (nsfw) https://hentai-sharing.net/tutorials/ (fixes https://github…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#7641 Block tracking from gem.com domain
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#7643 A: (nsfw) https://www.mobilepornmovies.com/video/busty-stepmother-wit…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#7639 A: https://content.huchezai.com/weibo/1693163980/K0Z3ixtvy
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#7638 A: https://www.gmx.net/fairplay/#.68ceb1c13adf29cfebbeb20898599b90
  easyprivacy/easyprivacy_general.txt
  easyprivacy/easyprivacy_specific.txt
  easyprivacy/easyprivacy_specific_international.txt
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#7617 P: (nsfw) https://hentaihd.xyz/ver/jk-fuuzoku-gakuensai-1 (fixes http…
  easylist_adult/adult_allowlist.txt
Labels: NSFW

#7616 A: https://leechpremium.link/index.php (fixes https://github.com/Adgu…
  easylist/easylist_specific_block.txt
Labels: Easylist

#7683 P: developers.google.com (fixes https://github.com/AdguardTeam/Adguar…
  easylist/easylist_general_block.txt
Labels: Easylist

#7704 P: https://this.kiji.is/-/units/39166665832988672 (fixes https://gith…
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#7718 P: admax.co.jp, admax.jp, admax.shinobi.jp
  easylist/easylist_general_block.txt
Labels: Easylist

#7717 P: https://www.friendcafe.jp/media/all
  easylist/easylist_allowlist.txt
Labels: Easylist

#7726 P: https://www.nintendo.co.jp/ring/adv/index.html
  easylist/easylist_allowlist.txt
Labels: Easylist

#7719 A: (nsfw) milf.dk
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#7709 A: asus.com (specific cookie block)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#7708 A: mediafire.com (specific cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#7705 A: (nsfw) dragonthumbs.com - popup
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#7703 A: (nsfw) nhentai.com (fixes https://github.com/AdguardTeam/AdguardFi…
  easylist/easylist_specific_block.txt
  easylist_adult/adult_thirdparty.txt
Labels: Easyprivacy

#7694 A: https://www.futureelectronics.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#7693 P: https://www.aqua-adserver.com/
  easylist/easylist_general_block.txt
Labels: Easylist

#7692 A: https://www.maison-et-domotique.com/
  fanboy-addon/fanboy_annoyance_general_block.txt
Labels: Fanboy Social

#7691 A: https://linuxize.com/post/how-to-install-asterisk-on-ubuntu-20-04/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#7689 A: https://tubidy.news/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#7688 A: https://egmus.vip/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#7687 A: (wheregoes.com) #7686
  easylist/easylist_general_hide.txt
Labels: Easylist

#7686 A: https://wheregoes.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#7681 A: speedtest.net (specific cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#7676 P: https://b.hatena.ne.jp/entry/s/b.hatena.ne.jp/15th
  fanboy-addon/fanboy_social_thirdparty.txt
Labels: Fanboy Social

#7670 A: (nsfw) https://masalaseen.net/today-exclusive-desi-boudi-showing-h…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#7637 P: (nsfw) freeadultcomix.com (fixes https://github.com/AdguardTeam/Ad…
  easylist/easylist_adservers.txt
  easylist_adult/adult_specific_hide.txt
  easylist_adult/adult_thirdparty.txt
Labels: NSFW

#7747 M: remove dead pages
  easylist/easylist_specific_block.txt
  easylist/easylist_specific_block_popup.txt
Labels: Easylist, Update Filter

#7745 A: https://www.windowslatest.com/2021/04/21/windows-10-task-manager-i…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#7742 Hide `.ad` on <counter.dev>
  easylist/easylist_specific_hide.txt
Labels: Easylist

#7740 P: https://book.dmm.com/
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#7741 Exclude <derstandard.at> from `||privacy-mgmt.com`
  easylist_cookie/easylist_cookie_thirdparty.txt
Labels: Easylist Cookies

#7649 A: asmand.wordpress.com (generic cookie block)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#7572 A: icecat.biz (generic cookie hide)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#7552 A: https://www.aupetitparieur.com/
  fanboy-addon/fanboy_notifications_thirdparty.txt
Labels: Fanboy Notifications

#7550 A: (kolompc.com) #7549
  easylist/easylist_general_hide.txt
Labels: Easylist

#7549 A: https://kolompc.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#7161 A: nuudelit.fi (generic cookie block & specific hide)
  easylist_cookie/easylist_cookie_general_block.txt
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#7536 A: http://www.immar-interactive.com/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#7751 P: https://www.flexjapan.co.jp/site/toukenranbu
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#7752 M: fix ad-leftover on various NSFW sites
  easylist/easylist_general_hide.txt
Labels: Easylist

#7544 P: www.rakuten.co.jp
  easylist/easylist_general_block.txt
Labels: Easylist

#7171 A:presskitaquat.com
  easylist/easylist_specific_hide.txt
Labels: Easylist
