Repository easylist/easylist, pull requests merged in 2021-09, with the labels that each got.

#8746 advancedassessments.co.uk
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#8938 A: http://bbs.sg169.com/forum-16-1.html
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#8935 A: https://pan.huang1111.cn/s/OxbHL
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#8951 P: iltalehti.fi (Twitter tweets removed)
  fanboy-addon/fanboy_social_allowlist_general_hide.txt
Labels: Fanboy Social

#8948 A: https://news.cctv.com/2021/09/02/ARTIFUwQmxK5zsdKVlRMlOiE210902.shtml
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#8946 A: https://www.acfun.cn/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#8945 A: https://cybermap.kaspersky.com
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#8942 A: https://www.channelnewsasia.com/world/covid-19-mu-new-variant-who-…
  easylist/easylist_general_hide.txt
Labels: Easylist

#8928 A: #8927
  fanboy-addon/fanboy_notifications_general_block.txt
Labels: Fanboy Annoyances, Fanboy Notifications

#8927 A: https://panamby.com.br/
  easylist_cookie/easylist_cookie_thirdparty.txt
Labels: Easylist Cookies

#8926 A: https://www.muaa.com.ar/
  fanboy-addon/fanboy_annoyance_thirdparty.txt
Labels: Fanboy Annoyances

#8740 familyaware.org
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#8714 phoneworld.com.pk
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#8739 screening.mhanational.org
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#8988 A: https://www.truewealth.ch/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#8986 A: (nsfw) https://xcavy.com/videos/14554/gently-fucked-a-sleepy-sissy…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#8981 P: kauppahalli24.fi (EP breaks content)
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#9002 M: add to Amazon TLDs
  easylist/easylist_specific_hide.txt
Labels: Easylist

#9030 A: https://www.pcbeta.com/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#9028 P: kaaoszine.fi (fix also read article section removal)
  easylist/easylist_allowlist.txt
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easylist, Easyprivacy

#9026 A: (nsfw) https://www.pornogratisdiario.com/mama-pide-un-prestamo-al-…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9021 A: https://poki.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#9072 A: https://www.sohu.com/a/488013591_267106
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#9070 A: https://www.lizhi.fm/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#9069 A: https://pan.baidu.com/disk/home
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#9065 A: elmotv.com (generic adserver)
  easylist/easylist_adservers.txt
Labels: Easylist

#9063 A: (mainnews.center) #9004
  easylist/easylist_adservers.txt
Labels: Easylist

#9059 A: paihdelinkki.fi (cookie hide uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#9058 P: power.fi (EP prevents sending product reviews)
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#9056 P: elisa.fi (endless loading)
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#9057 A: anna.fi (generic cookie block)
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#9045 M: fix #9039
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#9040 P: https://support.nec-lavie.jp/driverlist?searchType=1 (update #9037)
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#9017 P: https://jmap.io/jmap-demo-webmail/ (fixes AdguardTeam/AdguardFilte…
  easylist/easylist_allowlist.txt
Labels: Easyprivacy

#9004 A: https://mainnews.center/
  easylist/easylist_general_block.txt
Labels: Easylist

#8998 A: #8996 (itsup.com)
  easylist_adult/adult_adservers.txt
Labels: NSFW

#8996 A: (nsfw) spankbang.com
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#9090 A: Update revolving adservers
  easylist/easylist_adservers.txt
Labels: Easylist

#8977 A: varma.fi (cookie hide, uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#9087 M: Fixes https://github.com/AdguardTeam/AdguardFilters/issues/90004
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#9118 A: bing.com (cookie hide uBO)
  easylist_cookie/easylist_cookie_specific_hide.txt
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#9117 A: http://ivfree.asia/imbd/7138-imbd-312-kouzuki-anjyu-.html (fixes h…
  easylist/easylist_adservers.txt
Labels: Easylist

#9109 A: velimark.com (generic cookie hide)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#9100 A: http://www.jzhx.net/gjb
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#9111 A: https://www.elzaburu.es/blog/2021/02/spain-removed-from-notorious-…
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#9122 A: https://blog.csdn.net/nyist_zxp/article/details/120031279
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#9158 A: iltalehti.fi (tracking server)
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#9163 A: https://www.bilibili.com/video/BV19L411b7uS
  fanboy-addon/fanboy_social_allowlist_general_hide.txt
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#9148 P: https://www.libhunt.com/t/ublock-origin
  easylist/easylist_allowlist.txt
Labels: Easylist

#9188 A: vuokraovi.com (specific data policy banner hide for uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#9180 luhta.com - Fix scrolling
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#9123 A: https://www.iqiyi.com/
  easyprivacy/easyprivacy_specific_international.txt
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Easyprivacy, Fanboy Annoyances

#8993 NSFW: cinemapee.com
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9198 M: www.denhamjapan.jp (removes dead domain nex8.net)
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#9195 P: www.benesse-style-care.co.jp
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#9199 A: https://www.rizap.jp/voice/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#9197 A: klmanga.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#9220 A: nettimoto.com (tracking pixel)
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#9218 A: https://www.quickanddirtytips.com/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#9173 A: https://www.tumblr.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#9210 A: https://github.com/AdguardTeam/AdguardFilters/issues/50622
  easylist/easylist_adservers.txt
Labels: Easylist

#9270 A: ylasatakunta.fi (cookie specific hide uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#9236 A: / M: aamuposti.fi + sister sites (app installation notify)
  fanboy-addon/fanboy_notifications_specific_hide.txt
Labels: Fanboy Notifications

#9268 A: lauttakyla.fi (cookie hiding)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#9267 A: www.future-labo.com
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#9256 P: https://mangaseek.net/magazine/618.html
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#9244 NSFW: igayporn.tv (##.ae-player__itv)
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9258 P: kiuruvesilehti.fi,urjalansanomat.fi (scrolling blocked if cookies not accepted)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#9265 A: re-doing.com
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#9257 A: https://www.bilibili.com/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#9252 NSFW: hqasianporn.org##.coverup
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9234 A: alasatakunta.fi / lapuansanomat.fi (cookie banner hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#9254 A: forssanlehti.fi (Social hiding remnants)
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#9253 P: forssanlehti.fi (title of the page not loaded)
  fanboy-addon/fanboy_social_allowlist.txt
Labels: Fanboy Social

#9243 NSFW: japaneseporn.xxx #9238
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9240 NSFW: boycall.com
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9241 NSFW: sexedchat.com (Cookie banner.)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#9235 A: jarviseudunsanomat.fi (generic cookie hide)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#9231 NSFW: machogaytube.com
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9230 A: https://www.einrichten-design.ch/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#9226 A: http://ensb.univ-bechar.dz/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#9224 A: https://www.bramoinfo.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#9225 A: https://fsjes-agadir.info/vb/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#9222 A: #9221
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#9223 A: #9221
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#9221 A: https://commentwiki.fr/comment-faire-un-potager-en-2021/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#9219 A: https://skindar.com.dz/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#9217 A: https://note.com/nehamane_123/n/n6f21dc23d478
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#9215 A: https://www.entv.dz/world-cup-2022-qualifiers-niger-algeria
  easylist/easylist_specific_block.txt
Labels: Easylist

#9208 A: luhta.com (specific cookie hide for uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#8487 robloxhackscripts.com #8485
  easylist/easylist_specific_hide.txt
Labels: Easylist

#9216 A: (entv.dz) #9215
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social
