Repository easylist/easylist, pull requests merged in 2021-06, with the labels that each got.

#8051 A: https://github.com/abp-filters/abp-filters-anti-cv/issues/615#issuecomment-855211513
  easylist/easylist_adservers.txt
Labels: Easylist

#7991 P: https://www.jjazz.net/player/?prog_num=J-1627&category=jazz-clock-…
  easylist/easylist_allowlist.txt
Labels: Easylist

#8049 A: https://www.cruisersforum.com/forums/
  easylist/easylist_adservers.txt
Labels: Easylist

#8032 A: https://imgsen.com/f4a250jlml4x/1700784a085e7b4f8407224e93003c8b.j…
  easylist/easylist_adservers.txt
Labels: Easylist

#8044 A: http://anpsedic.org/ & http://howtoandroitroot.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#7992 P: www.jrtours.co.jp (fixes https://github.com/Yuki2718/adblock/issue…
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#8054 A: https://www.viselio.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#8052 addresses silverprice.org ads
  easylist/easylist_specific_hide.txt
Labels: Easylist

#8050 A: https://picclick.fr/?q=iphone
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#8048 A: #8046
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#8047 A: #8046
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#8045 A: https://www.fixya.com/support/t612092-gps
  easylist/easylist_general_hide.txt
Labels: Easylist

#8046 A: https://www.lowrance.com/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#8043 A: http://www.ausfish.com.au/
  easylist/easylist_general_hide.txt
Labels: Easylist

#8031 P: https://www.t-fashion.jp/shop/abahouse/goods/13587212
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#8010 reddit.com - block popup
  fanboy-addon/fanboy_notifications_specific_hide.txt
Labels: Fanboy Annoyances

#8002 P: https://www.itempost.jp/
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#7998 P: https://www.epson.jp/products/ecotank/ewm752t/
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#8059 A: (nsfw) https://comicsxxxgratis.com/dragon-ball-super-porno-bulma-x…
  easylist_adult/adult_specific_hide.txt
  easylist_adult/adult_thirdparty.txt
Labels: NSFW

#8057 overflow fix for all Latvian governmental sites
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#7987 A: https://www.deutscher-honorarkonsul-basel.ch/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#7985 A: jaatama.fi (generic hide)
  easylist/easylist_general_hide.txt
Labels: Easylist

#7907 M: Blocking Rakuten Automate scripts causes breakages of images or embed social media posts.
  easyprivacy/easyprivacy_allowlist.txt
Labels: Fanboy Social

#8064 A: https://www.goal.com/jp/%E3%83%8B%E3%83%A5%E3%83%BC%E3%82%B9/premi…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#8085 P: https://www.arukikata.com/air/list?searchKind=0&toDates=20210616&b…
  easylist/easylist_allowlist.txt
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#8081 P: https://www.matsukiyo.co.jp/store/online/search
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easylist

#8079 NSFW: gigapornmovies.com .happy-footer + .happy-under-player
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#8062 A: https://rawkuma.com/ (fixes https://github.com/AdguardTeam/Adguard…
  easylist/easylist_adservers.txt
Labels: Easylist

#7908 A: https://hxfile.co/qend73rq3i15
  easylist/easylist_adservers_popup.txt
Labels: Easylist

#7901 P: https://www.chintaistyle.jp/
  easylist/easylist_allowlist.txt
Labels: Easylist

#8104 Update easylist_general_hide.txt
  easylist/easylist_general_hide.txt
Labels: Easylist

#8199 P: https://radiko.jp/ (fixes https://github.com/AdguardTeam/AdguardFilters/issues/83956 )
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#8191 P: https://game-tsutaya.tsite.jp/game/detail/209
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#8189 A: https://thenounproject.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#8193 P: hatenacorp.jp
  easylist/easylist_allowlist.txt
  easylist/easylist_allowlist_general_hide.txt
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#8188 A: https://thenounproject.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#8187 A: https://www.cleanpng.com/free/linux.html
  easylist/easylist_general_hide.txt
Labels: Easylist

#8186 A: #8185
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#8184 A: #8182
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#8183 A: #8182
  easylist/easylist_specific_hide.txt
Labels: Easylist

#8179 P: www.yuukinohana.co.jp
  easylist/easylist_allowlist.txt
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#8182 A: https://www.daniweb.com/programming/mobile-development/threads/535456/
  easylist/easylist_specific_block.txt
Labels: Easylist

#8178 A: danskebank.fi (cookie banner hide, Ubo)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#8167 A: https://www.rennes-infos-autrement.fr/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#8177 P: danskebank.fi (site unaccessible)
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
Labels: Easylist Cookies

#8166 A: https://699pic.com/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#8161 P: https://pc-play.games.dmm.com/play/pluslinks/
  easylist/easylist_general_block.txt
Labels: Easylist

#8158 A: https://www.sendspace.com/file/47sdqw
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#8157 A: (nsfw) broncs.net
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#8156 P: https://www.japantimes.co.jp/ads/the-best-of-japan/special_edition…
  easylist/easylist_general_block.txt
Labels: Easylist

#8223 A: https://www.cabletv.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#8221 A: #8219
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#8220 A: https://shotcut.org/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#8219 A: https://www.makeuseof.com/what-is-rocky-linux/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#8217 ##.sponsor-grid__sponsor + ##.sponsors
  easylist/easylist_general_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#8216 ##.discourse-adplugin
  easylist/easylist_general_hide.txt
Labels: Easylist

#8215 P: job.inshokuten.com
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist
