Repository easylist/easylist, pull requests merged in 2021-01, with the labels that each got.

#6969 A: https://www.alkhaleej.ae/2021-01-11/تونس-والحوار-الوطني/مقالات/الرأي
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#7079 A: http://www.pulsaroptics.fr/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#7078 A: (naturabuy.fr) #7076
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#7077 A: (naturabuy.fr) #7076
  fanboy-addon/fanboy_notifications_general_block.txt
Labels: Fanboy Notifications

#7076 A: https://www.naturabuy.fr/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#7075 P: https://1trackapp.com/en/track/12345678
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#7074 A: https://www.toucharger.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#7073 A: https://mabricole.com/ & https://bigshop.pt/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#7072 A: https://angarthemes.eu/demo/P17AT04/fr/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#7071 A: https://receive-sms-online.info/447868672487-UnitedKingdom
  easylist/easylist_specific_block.txt
Labels: Easylist

#7069 A: https://www.readmng.com/otherworldly-evil-monarch/1/all-pages (fix…
  easylist/easylist_general_hide.txt
Labels: Easylist

#7068 A: (nsfw) https://m.drtuber.com/video/7174702/daddy-cooks-swapping-te…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#7067 P: (nsfw) https://www.realgfporn.com/
  easylist/easylist_allowlist_general_hide.txt
Labels: NSFW

#7066 A: (nsfw) https://www.pornrabbit.com/
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#7065 A: https://fr.freedownloadmanager.org/Windows-PC/VirtualBox-GRATUIT.html
  easylist/easylist_specific_block.txt
Labels: Easylist

#7061 A: #7060
  easylist/easylist_general_block.txt
Labels: Easylist

#7060 A: https://thepiratebay10.org/
  easylist/easylist_specific_block.txt
Labels: Easylist

#7085 P: https://www.sankei.com/politics/news/210127/plt2101270043-n1.html …
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#7084 A: (nsfw) https://www.bigtitsgallery.net/big-tits-cartoon/mega-tit-ce…
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#7095 A: https://www.torlock.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#7094 A: (nsfw) saradahentai.com
  easylist_adult/adult_specific_block.txt
Labels: NSFW
