Repository easylist/easylist, pull requests merged in 2021-11, with the labels that each got.

#9459 A: https://ytmp3.cc/en26/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#9504 A: https://www.torlock.com/
  easylist/easylist_adservers.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#9495 A: [NSFW] http://porn00.org
  easylist/easylist_adservers_popup.txt
Labels: Easylist, NSFW

#9498 M: counter.dev
  easylist/easylist_specific_hide.txt
Labels: Easylist

#9503 A: https://animeheaven.ru/
  easylist/easylist_adservers.txt
Labels: Easylist

#9499 A: https://cbeci.org/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#9494 kalkulatori.lv (cookies)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#9427 A: https://puzzlegarage.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#9559 A: (nsfw) https://4kpornvideos.tv/gallery/12824201/peachy-keen (fixes…
  easylist/easylist_adservers.txt
  easylist/easylist_general_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#9537 A: (nsfw) https://m.hd21.com/, https://m.nuvid.com/video/6472090/japa…
  easylist/easylist_adservers.txt
Labels: Easylist, NSFW

#9147 P: https://pointmall.rakuten.co.jp/game/bingo, https://pointmall.raku…
  easylist/easylist_allowlist.txt
Labels: Easylist

#8305 A: apteekkari.fi (cookie hide specific)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#7023 A: prisma.fi (gdpr block)
  easylist_cookie/easylist_cookie_international_specific_block.txt
Labels: Easylist Cookies

#6734 A: stockmann.com (generic cookie block)
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#9562 A: (mag.relax.by) abp-filters/abp-filters-anti-cv#703
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#9541 A: https://www.planet.fr/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#9545 A: https://www.medisite.fr/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#8672 africacheck.org
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#6173 A: (nsfw) bestweapon.ru
  fanboy-addon/fanboy_notifications_thirdparty.txt
Labels: Fanboy Notifications

#9524 A: (nsfw) https://zh.hentai-cosplays.com/image/net-red-coser-photo-a-…
  easylist/easylist_general_hide.txt
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#9513 A: (nsfw) heroero.com
  easylist/easylist_general_hide.txt
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#9514 A (nsfw) https://www.camgirl-video.com/enmarchenoire-isabellaboth-gir…
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#9110 M: Move entry for ziarulevenimentul.ro
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#9141 fix https://github.com/AdguardTeam/AdguardFilters/issues/94917
  easylist/easylist_specific_hide.txt
Labels: Easylist

#8698 ceoworld.biz
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Annoyances

#8334 P: https://www.junonline.jp/chateau-jun/product/food/wine/EID16040
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#9577 A: [NSFW] https://www.cumlouder.com/
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#9585 A: https://animeheaven.ru/
  easylist/easylist_adservers.txt
Labels: Easylist

#9583 A: https://www.skidrowreloaded.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#9584 keep.eu (cookies)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#9580 M: videogameschronicle.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#9576 A: https://ja.dvdfab.cn/photo-enhancer-online.htm (https://github.com…
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#9571 A: https://labfresh.eu/
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#9578 A: playstationtrophies.org (Ad placeholder)
  easylist/easylist_specific_hide.txt
Labels: Easylist

#9574 A: https://www.mothhel.net/post/62263 (mobile user agent)
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#9570 A: https://www.geekmonkey.in/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#9592 A: https://signup.oxfordclub.jp/six_forever_stocks_s_gdn
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#9591 A: www.accuradio.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#9605 Fix/ag#98995
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9603 A: (nsfw) https://roleplayers.co/videos/114414/fresh-blonde-plowed-ou…
  easylist/easylist_adservers.txt
  easylist_adult/adult_specific_hide.txt
Labels: Easylist

#9608 A: [NSFW] https://www.theyarehuge.com/
  easylist_adult/adult_adservers.txt
Labels: NSFW

#9604 A (nsfw) sexygirlspics.com (fixes https://github.com/AdguardTeam/Adgu…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9609 A: [NSFW] https://www.amateur8.com/
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9515 A: (nsfw) pornez.net
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9566 A: #9565
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#9553 A: https://www.apkonline.net/runapk/prepare-androidapk.html
  easylist/easylist_specific_hide.txt
Labels: Easylist

#9550 A: https://www.justgeek.fr/m-84110/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#9661 A: https://www.tumblr.com/dashboard
  easylist/easylist_specific_hide.txt
Labels: Easylist

#9665 A: https://www.sanitas.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#9652 A: [NSFW] https://www.tube-bunny.com/
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#9651 A: https://www.flicksmore.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#9539 A: https://mail.qq.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#9649 Block tracking requests on Oracle cloud console
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#9675 M: collectandgo.be
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#9648 A: [NSFW] https://hotmovs.com/
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#9694 A: [NSFW] https://pxrnxx.xyz/
  easylist/easylist_adservers.txt
Labels: Easylist, NSFW

#9722 P: www.reuters.com (fixes https://github.com/AdguardTeam/AdguardFilte…
  easylist/easylist_allowlist.txt
Labels: Easylist

#9682 A: https://w1.123animes.mobi/
  easylist/easylist_adservers.txt
Labels: Easylist

#9769 A: hammasoskari.fi (generic cookie hide)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#9767 A: kotaku.com (specific cookie block)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#9741 A: (nsfw) https://www.jav321.com/video/snis00420 (addresses https://g…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9764 A: https://www.desktophut.com/
  easylist/easylist_thirdparty.txt
Labels: Easylist

#9763 A: https://www.hltv.org/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#9790 A: https://tsri.ch/
  easylist/easylist_general_hide.txt
Labels: Easylist

#9784 3dtube.xxx##.promotionbox
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9782 globalblue (cookies)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#9781 A: cbsnews.com (Hide cookie banner background overlay)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#9779 A: (nsfw) spankbang.xxx
  fanboy-addon/fanboy_notifications_general_block.txt
Labels: Fanboy Notifications

#9778 A: https://community.tp-link.com/en/home/forum/topic/7349
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#9776 A: https://www.etsy.com/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#9775 A: #9774
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#9774 A: https://wetransfer.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#9773 A: https://www.stackry.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#9772 A: https://www.regus.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#9758 A: http://www.freebookspot.club/
  easylist/easylist_adservers.txt
  easylist/easylist_specific_block.txt
Labels: Easylist

#9749 M: remove obsolete regex filter by #6720
  easylist/easylist_thirdparty.txt
Labels: Easylist

#9708 A: elisa.fi (specific cookie hide, uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#9747 A: #9746
  fanboy-addon/fanboy_annoyance_general_block.txt
Labels: Fanboy Annoyances

#9744 A: https://mail.zoho.com/zm/#mail/folder/inbox
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#9733 A: ruohonjuuri.fi (stats server)
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#9735 A: fyndiq.fi (cookie banner hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#9734 A: ruohonjuuri.fi (generic cookie block, 3rd party)
  easylist_cookie/easylist_cookie_thirdparty.txt
Labels: Easylist Cookies

#9804 A: https://ytmp3.cc/
  easylist/easylist_adservers_popup.txt
Labels: Easylist

#9816 A: https://gogoanime.wiki/
  easylist/easylist_adservers.txt
Labels: Easylist

#9817 A: [NSFW] http://www.fxporn.net/
  easylist/easylist_adservers.txt
Labels: Easylist

#9803 A: [NSFW] https://xfantazy.com/
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9815 A: (ouedkniss.com) #9813
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#9813 A: https://www.ouedkniss.com/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#9693 A: https://www.sogou.com/web?query=Test
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#9835 P: newsis.com
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#9830 A: (nsfw) pornpapa.com
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#9829 Add another Admiral host
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#9826 A: aamulehti (statistics)
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#9824 A: (nsfw) www.zoofiliatube.xxx (fixes https://github.com/AdguardTeam/…
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#9825 M: make generic
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#9820 A: kuntsari.fi + other sites (generic cookie block)
  easylist_cookie/easylist_cookie_international_specific_block.txt
Labels: Easylist Cookies

#9819 scootergear.dk
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#9814 A: (ouedkniss.com) #9813
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#9725 A: pixiv.net (mobile)
  easylist/easylist_general_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#9730 P: https://b-cloud.templatebank.com/brother/
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#9789 A: bloomberg.com (cookie hide, uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#9797 A: https://www.booking.com/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#9711 book.dmm.co.jp #9705
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#9695 A: (nsfw) javme.net
  easylist/easylist_general_hide.txt
Labels: Easylist

#9721 A: https://pan.baidu.com/s/1HHtHltCCitsfmJGNsx6Fig
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#9705 A: (nsfw) book.dmm.co.jp
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#9703 A: epressi.com (cookie banner hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#9697 A: autokeskus.fi (cookie banner generic hide)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#9560 P: hobbyhall.fi (content won't load)
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#9680 A: (nsfw) https://www.sunporno.com/videos/1551087/hot-ebony-mama (fix…
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#9681 A: (nsfw) https://www.fapnado.com/videos/72878/she-let-both-of-us-fuc…
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#9881 Fix https://github.com/uBlockOrigin/uAssets/issues/10644
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies
