Repository easylist/easylist, pull requests merged in 2022-05, with the labels that each got.

#11891 A: https://coloredmanga.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11890 A: https://bflix.ru/
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#11889 A: [NSFW] https://adult.mat6tube.com/
  easylist/easylist_adservers.txt
Labels: Easylist, NSFW

#11888 A: http://roof99dollars.com/
  easylist/easylist_specific_block.txt
Labels: Easylist, NSFW

#11886 A: [NSFW] https://txxx.com/
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#11883 A: https://4qrcode.com/scan-qr-code.php
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11887 A: [NSFW] https://supjav.com/
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#11878 A: https://www.gala.fr/
  fanboy-addon/fanboy_newsletter_general_hide.txt
Labels: Fanboy Newsletters

#11877 A: http://elil.cc/dssxe6 (ezie.cc)
  easylist/easylist_specific_block.txt
Labels: Easylist

#11875 A: https://www.layerstack.com/en/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#11874 A: https://top.gg/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#11873 A: https://www.lacoccinelle.net/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#11872 A: https://frameboxxindore.com/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#11869 A: https://www.chromeproxy.net/
  easylist/easylist_general_block.txt
Labels: Easylist

#11870 A: #11869
  easylist/easylist_adservers.txt
Labels: Easylist

#11896 P: https://www.redbull.com/jp-ja/g2-esports-lec-spring-playoffs-2022-win
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy, Easylist Cookies

#11880 Add 14 Thai Websites to easylist cookie
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#11893 A: https://www.onlymyhealth.com
  easylist/easylist_general_hide.txt
Labels: Easylist

#11903 A: https://yts.mx/
  easylist/easylist_general_block.txt
Labels: Easylist

#11907 A: https://yts.mx/
  easylist/easylist_general_block.txt
Labels: Easylist

#11908 A: https://pomvideo.cc/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11924 P: https://adx.solutionshill.com/
  easylist/easylist_general_block.txt
Labels: Easylist

#11922 A: [NSFW] https://sxyprn.com/
  easylist/easylist_general_hide.txt
Labels: Easylist, NSFW

#11921 A: [NSFW] https://vxxx.com/
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#11919 A: https://kenyan-post.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11926 M:eenadu.net
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#11928 A:cinemaexpress.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11927 A:indiatimes.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11913 A: https://mtaeta.info/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11931 A: seiska.fi (newsletter widget, generic hide)
  fanboy-addon/fanboy_newsletter_general_hide.txt
Labels: Fanboy Newsletters

#11918 P: https://www.google.*/maps/* (Brave-specific CNAME issue)
  easylist/easylist_thirdparty.txt
Labels: Easylist

#11916 A: https://kollelbudget.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11911 A: https://exportfromnigeria.info/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11906 add getbutton.io
  fanboy-addon/fanboy_social_thirdparty.txt
Labels: Fanboy Social

#11932 A: [NSFW] https://pinayflix.tv/
  easylist_adult/adult_adservers_popup.txt
Labels: Easylist

#11947 A: Adservers(bundle) - 08/05/22
  easylist/easylist_adservers.txt
Labels: Easylist

#11946 A: https://lilymanga.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11945 A: [NSFW] https://thegay.com/
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#11944 A: http://www.filmeserialeonline.org/
  easylist/easylist_adservers_popup.txt
Labels: Easylist

#11940 A: (nsfw) https://www.watchmygf.xxx/videos/asian-seductress-in-red-mi…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#11936 A: (nsfw) bitchesgirls.com
  easylist/easylist_general_hide.txt
Labels: NSFW

#11938 A: (nsfw) jav.rocks
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy, NSFW

#11952 M: (NSFW) Typo on fapcat.com
  easylist/easylist_adservers.txt
Labels: Update Filter

#11963 Airhost_09052
  easylist/easylist_general_hide.txt
Labels: Easylist

#11971 A: [NSFW] https://supjav.com/
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#11967 A: Image Popups
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#11959 A: https://tossinggames.com/
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#11956 A: [NSFW] https://picshick.com/
  easylist_adult/adult_specific_block.txt
Labels: Easylist

#11955 A: [NSFW] https://hothit.me/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11937 A (nsfw) https://porn18videos.com/mov/vintage_schoolgirls/2369214
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#11934 A: (nsfw) pornpoppy.com
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#11962 A: (nsfw) https://xgirls.agency/videos/3220/lera-ok-2021-06-18-1548-l…
  easylist/easylist_general_hide.txt
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#11939 A: (nsfw) xfantasy.su
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#11978 A: esri.fi (cookie banner hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#11976 M: mehilainen.fi (cookie dialog filter update)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#11973 M: Fixes #10290
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11982 A: http://hornyjourney.com/
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#10043 A: https://www.brandsoftheworld.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11994 M: Fix for proxy popups
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#11992 A: [NSFW] https://www.bigtitslust.com/
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#11988 A: [NSFW] https://www.trannygem.com/
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#7100 A: https://doctorzerenia.com/
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#9843 M: Fix https://github.com/uBlockOrigin/uAssets/pull/10282
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#9853 A: https://goodhometime.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#6806 P: https://www.mozilla.org/en-US/newsletter/updated/
  fanboy-addon/fanboy_annoyance_allowlist.txt
Labels: Fanboy Newsletters

#12019 P: https://paypaymall.yahoo.co.jp/store/ploom/top/
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#12018 A: endeavorga.org (parked page ad frame)
  easylist/easylist_thirdparty.txt
Labels: Easylist

#12017 A: https://jsbs2012.jp/matchingapp/question/app_honninkakunin.html
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#12007 A: real.buffstreams.tv
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#12006 A: mangaraw.co
  easylist/easylist_adservers.txt
Labels: Easylist

#12004 A: [NSFW] https://www.pornwhite.com/
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#12009 A: https://www.apotelyt.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12035 A: https://hentaihaven.xxx/
  easylist/easylist_specific_hide.txt
Labels: Easylist, NSFW

#12027 A: ads on 50gameslike.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12022 A: pixwox.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12038 A: https://kissanime.com.ru/
  easylist/easylist_specific_block.txt
Labels: Easylist

#12084 A: https://www.sundaypost.com/fp/clap-your-hands-stamp-your-feet-fies…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12082 A: Adservers(bundle) - 20/05/22
  easylist/easylist_adservers.txt
  easylist/easylist_general_hide.txt
Labels: Easylist

#12080 A: Image popups
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#12081 A: https://animefreak.ws/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12002 A: https://bucksco.today/
  easylist/easylist_general_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12085 `localrent.com` (cookies)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#12069 A: https://extramovies.tel/
  easylist/easylist_specific_block.txt
Labels: Easylist

#12060 A: [NSFW] https://hentaiworld.tv/
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#12065 P: https://d-card.jp/st/campaigns/index.html
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#12047 A: https://mfilecloud.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#12046 A: https://www.pastemytxt.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12045 A: [NSFW] https://www.bigtitslust.com/
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#12040 A: [NSFW] https://javguru.top/
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#12051 P: https://www.bloomberg.com/news/articles/2022-05-18/thousands-shown…
  easylist/easylist_allowlist.txt
Labels: Easylist

#12086 A: www.taisei-techsolu.jp
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#12087 A: www.psc-inc.co.jp​
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#12026 A: dood.pm
  easylist/easylist_specific_block.txt
Labels: Easylist

#12100 A: pointcard.rakuten.co.jp
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#12054 A: https://unsplash.com/
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#12092 A: Image popups
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#12095 A: https://www.target.com
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#12120 A: https://kotaku.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12123 A: lielahdenapteekki.fi (generic cookie banner hide)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#12117 A: https://www.distractify.com/p/will-the-mandalorian-be-in-obi-wan-kenobi
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12110 A: https://www.tractorbynet.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12137 A: https://www.proxcskiing.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12136 A: https://www.digi.no/artikler/vi-ma-vaere-i-stand-til-a-odelegge-st…
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#12146 P: https://fx-rashinban.com/pair/USD-JPY (fixes https://github.com/Ad…
  easylist/easylist_adservers.txt
  easylist/easylist_allowlist.txt
Labels: Easylist

#12143 M: Adresses https://github.com/AdguardTeam/AdguardFilters/issues/120171
  easylist/easylist_adservers.txt
Labels: Easylist

#12134 M: move to easylist_cookie
  easylist/easylist_specific_hide.txt
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#12142 A: puuilo.fi (notification hide, uBO)
  fanboy-addon/fanboy_notifications_specific_uBO.txt
Labels: Fanboy Notifications

#12135 A: daimaru-fudosan.com
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#12132 P: https://www.toptal.com/developers/gitignore/ (fixes https://github…
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#12130 A: https://nitroscans.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12129 A: (nsfw) https://bdsmstreak.com/video/34204/bondage-on-the-couch (fi…
  easylist_adult/adult_specific_block.txt
Labels: NSFW
