Repository easylist/easylist, pull requests merged in 2022-10, with the labels that each got.

#13570 A: https://m.hotping.jp/product/%E3%83%90%E3%82%A4%E3%82%AB%E3%83%A9%…
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#13569 A: medium tracking
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13564 A: https://www.sgcarmart.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13566 A: https://www.online-convert.com/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#13574 M: replace /popunder. with specific rules
  easylist/easylist_general_block.txt
  easylist/easylist_thirdparty.txt
Labels: Easylist

#13576 A: www.minhaconexao.com.br
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#13578 A: (nsfw) https://www.yourporngod.com/videos/256575/cute-gay-guy-brad…
  easylist/easylist_adservers.txt
Labels: Easylist, NSFW

#13581 A: nyongbejoo3.web.app
  easylist/easylist_adservers.txt
Labels: Easylist

#13575 A: (nsfw) https://javbebe.com/uncensored/, https://xxx-picture.com/al…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#13556 A: magbak.com
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#13618 A: https://www.scan-manga.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#13615 A: apteekkiverkkokauppa.fi (GDPR banner)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#13617 A: https://www.pngrepo.com/ & https://www.svgrepo.com/
  fanboy-addon/fanboy_social_allowlist.txt
Labels: Fanboy Social

#13614 A: https://www.janvas.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#13632 A: https://www.tumblr.com/explore/trending
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13577 A: https://ici.radio-canada.ca
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#13646 P: https://kisscartoon.sh/Cartoon/Johnny-Test-Season-06/Episode-026B-…
  easylist/easylist_specific_block.txt
Labels: Easylist

#13651 A: (nsfw) teensnow.biz, young-tube.me
  easylist_adult/adult_thirdparty.txt
Labels: Easyprivacy

#13647 P: https://www.nippon.com/ja/search.html?s=%E7%B4%99 (fixes https://g…
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#13654 A: (nsfw) https://mylistcrawler.com/asian (fixes https://github.com/A…
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#13648 A: (nsfw) https://camseek.tv/videos/57945/vicats-milla-dawning-0f58d5…
  easylist/easylist_adservers.txt
  easylist_adult/adult_specific_hide.txt
Labels: Easylist

#13682 A: https://dontorrent.uno/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Annoyances

#13681 A: https://www.gamestorrents.fm/home/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#13679 A: #13674
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#13686 A: https://postimg.cc/bdpP010W
  easylist/easylist_general_hide.txt
Labels: Easylist

#13667 M: Update
  easylist/easylist_adservers.txt
  easylist/easylist_specific_block.txt
  easylist/easylist_specific_block_popup.txt
  easylist_adult/adult_specific_block.txt
Labels: Easylist

#13666 M: Fix
  easylist/easylist_specific_hide.txt
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#13671 A: https://www.momox.fr
  easylist_cookie/easylist_cookie_general_hide.txt
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#13676 A: (nsfw) hentai44.com
  easylist/easylist_adservers.txt
Labels: Easylist

#13677 A: (nsfw) xxxtik.com
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#13678 A: (nsfw) #13675
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#13661 A: https://investmentguruindia.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#13664 A: (nsfw) https://whentai.com/view/46518/nadia-rayne-the-legend-of-he…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#13650 A: (nsfw) https://hayjav.com/271459289/91-av-91cm-101
  easylist_adult/adult_adservers.txt
Labels: NSFW

#13704 M: Update
  easylist/easylist_adservers.txt
  easylist/easylist_general_hide.txt
  easylist/easylist_thirdparty.txt
  easylist_adult/adult_specific_block.txt
Labels: Easylist

#13707 A: (nsfw) sexjav.tv (fixes https://github.com/AdguardTeam/AdguardFilt…
  easylist/easylist_general_hide.txt
Labels: NSFW

#13706 A: https://www.digitalocean.com/community/tutorials/top-best-linux-da…
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13698 A: bikebiz.com
  easylist/easylist_specific_block.txt
Labels: Easylist

#13662 A: https://www.writerscafe.org/
  easylist/easylist_general_hide.txt
Labels: Easylist

#13652 A: (nsfw) javxxoo.com
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#13638 A: https://app.box.com/s/gzj65oaik4cic1852g5zqyaqw8f2v55w
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13718 A: apkmaven.io
  easylist/easylist_adservers.txt
  easylist/easylist_specific_block.txt
Labels: Easylist

#13735 A: https://www.livemint.com/
  fanboy-addon/fanboy_newsletter_general_block.txt
Labels: Fanboy Newsletters

#13732 A: https://www.globalguideline.com/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#13727 A: Update
  easylist/easylist_adservers.txt
Labels: Easylist

#13745 A: https://www.givemesport.com/88063486-tyson-fury-anthony-joshua-con…
  easylist/easylist_general_block.txt
Labels: Easyprivacy

#13744 A: https://es.slideshare.net/logosacademyeduec/area-y-volumen-de-cili…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13740 A: https://www.intel.com/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13738 A: https://www.desimartini.com/web-stories/all-you-need-to-know-about…
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#13737 A: https://www.desimartini.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#13749 A: https://www.dropbox.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#13748 A: https://ostechnix.com/
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#13712 A: #13709 #13710 #13711
  easylist/easylist_adservers.txt
Labels: Easylist

#13711 A: (nsfw) xmilf.com
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#13777 A: https://dropbox.com/s/jtvozx5213xjghy/20220908%20BPEA%20comment.pdf
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13776 D: jp.naver.line.android
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#13775 P: https://www.lecanardenchaine.fr/ fix login
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#13774 M: programs.sbs.co.kr
  easylist/easylist_allowlist.txt
Labels: Easyprivacy

#13773 A: https://charliehebdo.fr
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#13783 A: (nsfw) https://jp.pornhub.com/video/search?search=%E3%82%AF%E3%83%…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#13781 A: https://dlandroid.com/adblock-browser-for-android-apk/download/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#13754 A: telekom.hu (Fixes #13753)
  easylist_cookie/easylist_cookie_allowlist.txt
Labels: Easylist Cookies

#13795 P: https://www.focus.de/
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#13756 P: https://www.reuters.com/world/us/us-lawmakers-made-urgent-pleas-he…
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#13797 A: https://nichegamer.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#13790 A: buzzfeed (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#13786 A: https://smallseotools.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#13788 A: https://web.airdroid.com/?
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13780 A: https://bluemail.me/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#13766 A: https://www.instacart.com/store/hub/grocery
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13801 M: add ://ads. exception from uBO-Unbreak (fixes https://github.com/u…
  easylist/easylist_general_block.txt
Labels: Easylist

#13762 A: https://streema.com
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13771 A: https://thorium.rocks/media/Material/material-design
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#13765 A: https://www.gopuff.com/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13761 A: https://www.kaggle.com/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13805 A: (startpage.com) #13804
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13804 A: https://www.startpage.com/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#13800 A: www.portevergladeswebcam.com (www.portevergladeswebcam.com player)
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easylist

#13823 A: https://www.merriam-webster.com/dictionary/brut
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13820 A: https://enjoyyourbusiness.fr/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#13819 A: https://www.wimi-teamwork.com/fr/
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#13817 A: https://www.sncf-connect.com
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#13816 A: https://fr.indeed.com/cmp/Starbucks
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#13818 A: https://www.boots.com/max-factor-colour-elixir-moisture-kiss-lipst…
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13832 A: Update revolving adservers
  easylist/easylist_adservers.txt
Labels: Easylist

#13833 A: https://phish.report/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13847 A: utm.openskies.sh
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#13845 A: http://123movies.to/ [Parking]
  easylist/easylist_adservers.txt
Labels: Easylist

#13840 A: https://www.digital-eliteboard.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#13613 A: https://convertingcolors.com/blog.html
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13828 A: attr-2p.com
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#13841 A: https://www.speedsolving.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13837 A: https://www.fiverr.com/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13838 A: https://www.fiverr.com/categories/graphics-design/website-design
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13836 A: https://www.reverbnation.com/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13834 A: https://www.welcometothejungle.com/en
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13861 A: (nsfw) manga9.co​
  easylist/easylist_specific_block.txt
  easylist_adult/adult_specific_block.txt
Labels: Easylist

#13886 P: [Breakage] https://www.kombi.de/
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#13883 A: https://fr.khanacademy.org/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#13905 A: https://www.centos.org/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13900 A: (nsfw) https://ok.xxx/popular/?ad_sub=336 (fixes https://github.co…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#13879 A: https://www.20minutes.fr/sport/4006578-20221023-semaine-48h-repas-…
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#13912 A: https://thestoryshack.com/tools/brand-name-generator/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#13909 A: https://www.fontanka.ru/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#13895 A: https://vietnamnet.vn/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#13890 A: https://www.onworks.net/os-distributions?start=6
  easylist/easylist_specific_hide.txt
Labels: NSFW

#13920 A: www.budgettravel.com
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#13928 A: https://viinilehti.fi/ (cookie hide)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#13948 A: (nsfw) https://games.dmm.co.jp/detail/MistTrainGirlsX/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#13947 A: sanoma tracking
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#13946 A: maaseuduntulevaisuus.fi + koneviesti.fi
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#13950 A: https://www.foreca.com/ (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#13945 A: io-tech.fi
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#13889 A: https://immobilier.nc/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#13960 A: https://www.theatlantic.com/technology/archive/2022/10/amazon-trac…
  easylist/easylist_general_hide.txt
Labels: Easylist

#13961 A: www.acheter-lunettes.com
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#13959 P: www.natgeotv.com
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
Labels: Easylist Cookies

#13956 A: https://www.cubdomain.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#13953 https://ubuntu.com/tutorials/install-ubuntu-on-wsl2-on-windows-10
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#13951 A: https://www.onmsft.com/how-to/how-to-make-microsoft-edge-match-win…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13942 A: https://nicolascoolman.eu/2022/09/27/clipify-editeur-video/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#13973 A: (nsfw) pornpics.network (fixes https://github.com/AdguardTeam/Adgu…
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#13979 A: (#13941) photofiltres.fr
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#13986 A: https://www.supertoinette.com/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy
