Repository easylist/easylist, pull requests merged in 2022-12, with the labels that each got.

#14284 A: (nsfw) https://gay-streaming.com/scream-gisp-halloween-special-jac…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#14289 A: https://www.cdp.net
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#14283 A: https://www.devex.com/
  easylist/easylist_general_hide.txt
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist, Easylist Cookies

#14262 A: (nsfw) kbjfree.com (fixes https://github.com/AdguardTeam/AdguardFi…
  easylist/easylist_adservers.txt
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
  easylist_adult/adult_thirdparty.txt
Labels: Easylist, NSFW

#14259 A: https://fedtechmagazine.com/article/2019/07/manage-windows-10-sett…
  fanboy-addon/fanboy_annoyance_specific_block.txt
Labels: Fanboy Annoyances

#14255 A: https://www.aterima-work.pl/ (cookie hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#14249 A: https://8bitplay.com/ (cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#14251 A: https://www.bioburger.fr/menu/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#14254 A: https://9goaltv.to/ (9goal.tv)
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#14260 M: #14169
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#14264 A: manga1000.top
  easylist/easylist_adservers.txt
Labels: Easylist

#13876 A: https://www.coursera.org/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#14290 A: https://unixbhaskar.wordpress.com/
  fanboy-addon/fanboy_annoyance_thirdparty.txt
Labels: Fanboy Annoyances

#14303 A: https://jp.bake8523.com/doc_Z2JTYTEveHh6cmJmRDlKdDlOMWpPZz09
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#14299 A: https://www.liverpoolway.co.uk/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14298 A: https://dvdfab.org/video/how-to-use-javplayer.htm, https://dvdfab.…
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy, Update Filter

#14302 M: Update
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#14296 A: https://usersdrive.com/hnf1d84v9gtk.html
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14295 A: (nsfw) xnhub.com
  easylist/easylist_adservers.txt
Labels: Easylist

#14307 A: Multiple sites (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#14321 M: Fix typo
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#14319 A: (nsfw) atube.xxx
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#14293 A: (nsfw) boobsrealm.com
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#14336 A: nainen.com (GDPR script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#14326 A: https://www.fastcompany.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#14292 A: (nsfw) mostsexyporn.com
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#13874 A: https://mixpanel.com/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13882 A: https://www.metarouter.io
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#14375 A: amazon.com.be (GDPR dialog)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#14390 M: Removed 9goal.tv & 9goaltv.cc
  easylist/easylist_specific_hide.txt
Labels: Update Filter

#14376 A: https://tekninen.fi/ (cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#14373 P: https://factory.pixiv.net/books/books/new (login required to actua…
  easylist/easylist_allowlist.txt
Labels: Easyprivacy

#14374 A: https://factory.pixiv.net/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#14372 A: https://abema.tv/search?q=%E6%A9%9F%E5%8B%95%E6%88%A6%E5%A3%AB%E3%…
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#14371 A: https://www.msn.com/ja-jp/news/techandscience/%E8%AA%B0%E3%82%82%E…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14377 A: https://in.popsilla.com/app/co.uk.ringgo.android/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14421 A: Multiple sites (cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#14417 A: https://greyhound-data.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14418 A: www.millennial-grind.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14419 M: fix for issue #14398
  easylist/easylist_specific_hide_abp.txt
Labels: Update Filter

#14423 A: https://jalkapallon-mm.fi/ (cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#14412 A: https://cointiply.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#14401 A: https://www.m24.ru/news/obshchestvo/14122022/531558
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#14400 P: (thecity.m24.ru) #14382
  fanboy-addon/fanboy_social_allowlist.txt
Labels: Fanboy Social

#14399 P: https://okwave.co.jp/about/policy/ (EasyList Cookie)
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
Labels: Easylist Cookies

#14422 P: https://www.keravanenergia.fi/ (Fix scrolling)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#14416 A: https://blog.whatsapp.com/ (cookie hide)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#14420 M: video content blocked on autobild.de
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#14429 A: https://tympanus.net/
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#14434 A: (similarweb.com) #14403
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#14442 P: https://myna.go.jp/alpha/discover (mobile UA)
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#14445 A: [NSFW] `http://desiporn.tube/`
  easylist_adult/adult_specific_block.txt
Labels: Update Filter

#14456 A: https://www.veho.fi/ (cookie script)
  easylist_cookie/easylist_cookie_international_specific_block.txt
Labels: Easylist Cookies

#14451 A: valostore.fi
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#14466 A: https://kangasalansanomat.fi/ (cookie hide)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#14450 A: valomania.fi (GDPR dialog)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#14471 A: (nsfw) https://www.pornv.xxx/video/6869/huge-tit-youngster-sucks-k…
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#14470 A: https://buzzfeed.com/jp/sumirekotomita/1000pesos-japan-philippines…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14485 A: https://www.mmsaatio.fi/ (cookie hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#14484 A: (nsfw) https://familypornhd.com/resisting-my-stepsis-is-futile/ (f…
  easylist/easylist_general_block.txt
  easylist/easylist_general_hide.txt
Labels: Easylist

#14482 A: (nsfw) pornstar-scenes.com (fixes https://github.com/AdguardTeam/A…
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#14488 A: (nsfw) vidx.one
  easylist_adult/adult_thirdparty.txt
Labels: Easylist, NSFW

#14504 M: https://www.framer.com/ (update cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#14503 A: ouka.fi (GDPR script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#14501 A: https://event.hoken-mammoth.jp/sp/lps/event_promotion12/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#14499 A: www.ganjing.com (fixes https://github.com/AdguardTeam/AdguardFilte…
  easylist/easylist_specific_block.txt
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist, Easylist Cookies

#14500 P: https://townwork.net/tokyo/areaSelect/ (mobile UA)
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#14496 A: https://timesofmalta.com/ (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#14492 P: https://adv.lack-girl.com/special/
  easylist/easylist_general_block.txt
  easylist/easylist_general_block_popup.txt
Labels: Easylist

#14509 A: https://www.terveyskauneus.fi/ (cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#14534 A: https://www.huffingtonpost.fr/insolite/article/andrew-tate-arrete-…
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#14527 A: https://www.komoot.fr/plan/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy
