Repository easylist/easylist, pull requests merged in 2022-09, with the labels that each got.

#13154 A: https://www.yugatech.com/guides/big-data-promos-smart-globe-gomo-dito-sun-tm/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13166 M: Obsoletes
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#13167 M: 1337x.to (filter updates)
  easylist/easylist_specific_hide.txt
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#13168 A: https://billetterie.mnhn.fr/fr_FR/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#13164 A: https://sncf-connect.com
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#13171 A: https://m.interglot.com/en/fr/bookmark
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13183 P: https://www.labartt.com/detail-nemovitosti/pronajem/komercni-prostor/pronajem-obchodniho-prostoru-58-m-670916
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#13178 A: https://shopee.ph/
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#13177 P: https://www.gamerevolution.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13188 A: lahella.fi (specific cookie hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#13193 A: https://genshin.honeyhunterworld.com/?lang=EN
  easylist/easylist_general_hide.txt
Labels: Easylist

#13190 A: Multiple sites (specific cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#13195 A: https://stackshare.io/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13197 A: https://www.saashub.com/1-1-1-1-alternatives
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13194 A: https://www.nextinpact.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#13201 A: https://www.junauza.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13202 A: https://www.anime-store.fr/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#13207 A: Adservers (Bundle)
  easylist/easylist_adservers.txt
Labels: Easylist

#13205 A: https://www.scan-manga.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#13198 A: https://www.ctrl.blog/entry/tplink-aggressive-ntp.html
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13221 A: https://time.is/ (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#13220 A: https://www.bilibili.com/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#13258 A: bodymaja.fi (specific cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#13248 A: https://www.radiopooki.fi/ (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#13253 A: https://map.baidu.com/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#13227 A: crimereads.com
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#13265 A: http://www.ip-secrets.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#13266 A: https://sitedozor.ru/audit/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#13260 A, M: psyche.co, aeon.co
  fanboy-addon/fanboy_annoyance_specific_block.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_block.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#13270 P: https://www.sans.org/registration/register.php?event=74170
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
Labels: Easylist Cookies

#13267 A: Update trackingservers
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#13271 A: karttakauppa.fi (cookie script)
  easylist_cookie/easylist_cookie_international_specific_block.txt
Labels: Easylist Cookies

#13283 A: www.freshworks.com
  easylist/easylist_thirdparty.txt
Labels: Easylist

#13277 M: Fix(typo)
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13279 A: (nsfw) http://javtk.com/148263/atid-529-the-class-president-who-is…
  easylist/easylist_general_hide.txt
Labels: Easylist

#13280 A: (nsfw) https://javjoy.com/videos/cen/296512/aoz-314z (fixes https:…
  easylist/easylist_general_hide.txt
Labels: Easylist

#13281 A: https://www.sonyalpharumors.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13284 P: https://www.deepl.com/en/appcontact/?macos_app_version=3.5.251434&…
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13288 A: gab.com - advertising in comment section
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13282 A: www.allmovie.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13304 Fixes forum report regarding ride.guru
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#13303 M: lindex.com (update cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#13296 A: https://www.stjegypt.com/article/2360
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#13299 A: https://abbaspc.net/idm-crack/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13297 A: https://douploads.net/e1hrvauhnmpx
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13314 P: https://ads.doordash.com/portal
  easylist/easylist_allowlist_popup.txt
Labels: Easylist

#13313 A: Unblocked element on chloeting.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13318 A: https://animixplay.to/
  easylist/easylist_adservers.txt
Labels: Easylist

#13321 P: https://dbook.docomo.ne.jp/list/1I21/bebd445609abc5452a371259e05ac…
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#13333 P: https://petri.com/how-to-add-domain-controller-to-existing-domain/
  easylist/easylist_general_hide.txt
Labels: Easylist

#13339 A: https://latestupdatespk.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#13347 M: https://www.couchtuner.show/ (fix)
  easylist/easylist_adservers.txt
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#13335 A: [NSFW] https://thisvid.com/
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#13354 P: https://dmagazine.docomo.ne.jp/list/1A21/20c58199aefaaba312642c886…
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#13355 P: https://ezzocard.com/
  easylist/easylist_specific_hide.txt
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist, Easylist Cookies

#13357 A: reddit.com (mobile cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#13359 A: https://www.instagram.com/
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#13360 A: https://www.kroger.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13361 A: https://www.zalando.de/
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#13362 A: mangas-raw.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13358 Fix/ag#129795
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#13364 A: trademark-clearinghouse.com (cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#13363 A: https://www.teknikdelar.se/ (cookie hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#13369 A: https://www.hostinger.fr/tutoriels
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#13368 A: https://www.frandroid.com/marques/apple/1473586_i
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#13379 A: https://www.kitploit.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13376 A: https://kb.iu.edu/d/afar
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#13395 A: https://www.videogameschronicle.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#13394 A: https://www.surveymonkey.com/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Easylist

#13390 A: anizm.net (fixes https://github.com/AdguardTeam/AdguardFilters/iss…
  easylist/easylist_adservers.txt
Labels: Easylist

#13387 A: flixable.com (cookie modal background overlay)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#13397 A: (nsfw) #13384
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#13404 A: https://www.buyersclub.se/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#13403 A: https://lennot.rantapallo.fi/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#13410 A: https://www.startpage.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13413 A: https://pikbest.com/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13408 A: https://www.wacom.com/en-us
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#13417 A: (internxt.com) #13411
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#13419 A: snapchat.com (specific cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#13425 A: https://us.host-tools.com/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#13428 A: https://miniwebtool.com/sort-text-by-length/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#13420 A: https://www.islands.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#13445 A: https://www.inverse.com/ (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#13436 A: Email Tracking (nautiljon.com)
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#13435 A: https://threatpost.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13434 A: https://www.sncf-connect.com trackers
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#13464 A: https://www.wheels.ca/ (ad placeholders)
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13463 A: https://www.wheels.ca/ (cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#13462 A: https://moovitapp.com
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#13448 A: https://imgpile.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13482 M: Update
  easylist/easylist_adservers.txt
Labels: Easylist

#13486 P: https://ascii.jp/elem/000/004/095/4095442/
  easylist/easylist_allowlist.txt
Labels: Easylist

#13479 A: applicationinsights.azure.com Azure tracking
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#13492 A: https://realfavicongenerator.net/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#13490 A: https://www.osradar.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13504 A: https://beefree.io/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#13503 A: https://community.ebay.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#13501 A: (nsfw) freelivesex.tv
  easylist_adult/adult_specific_block.txt
Labels: Easylist

#13500 A: https://chektools.com/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#13494 A: https://www.digiboy.ir/
  easylist/easylist_general_hide.txt
Labels: Easylist

#13493 A: https://www.sanctuary.fr/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#13523 P: https://campus.arte.tv
  easylist_cookie/easylist_cookie_allowlist.txt
Labels: Easylist Cookies

#13519 A: https://gogoanime.nl/
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#13520 A: https://www.techonthenet.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#13521 A: https://www.greatandhra.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13526 A: https://image.online-convert.com/convert-to-png
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13545 A: https://www.xda-developers.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#13542 A: https://www.odoo.com/forum
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13537 M: Update
  easylist/easylist_adservers.txt
  easylist/easylist_adservers_popup.txt
  easylist_adult/adult_specific_block.txt
Labels: Easylist

#13548 A: Multiple sites (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#13541 A: https://www.odoo.com/fr_FR/forum/mrp-14/mps-color-codes-204731
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#13544 A: https://www.xda-developers.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#13554 P: point.rakuten.co.jp (account required)
  easylist/easylist_allowlist.txt
Labels: Easylist

#13558 A: hyvinvoinnin.fi (newsletter + notification)
  fanboy-addon/fanboy_newsletter_international_hide.txt
  fanboy-addon/fanboy_notifications_specific_hide.txt
Labels: Fanboy Annoyances, Fanboy Newsletters

#13553 A: aiheenasyopa.fi (GDPR script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#13551 P: https://www.doordash.com/
  easylist/easylist_general_block.txt
Labels: Easylist

#13552 A: https://coinweek.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13562 Update readme.md
  README.md
Labels: Invalid
