Repository easylist/easylist, pull requests merged in 2022-02, with the labels that each got.

#10698 A: [NSFW] https://javgg.net/
  easylist/easylist_adservers.txt
Labels: Easylist, NSFW

#10706 A: [NSFW] https://internetchicks.com/
  easylist/easylist_adservers.txt
Labels: Easylist, NSFW

#10702 A: https://mangadna.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10694 A: jatehuoltoa.fi (generic cookie block)
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#10693 A: https://www.kiss-anime.org/
  easylist/easylist_adservers.txt
Labels: Easylist

#10700 P: https://mainichi.jp/articles/20220124/k00/00m/040/010000c (fixes h…
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#10670 A: (nsfw) gotanynudes.com
  easylist/easylist_adservers.txt
Labels: Easylist, NSFW

#10690 A: https://www.b1tv.ro/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#10669 A: #10668
  easylist/easylist_general_hide.txt
Labels: Easylist

#10696 A: https://www.y2meta.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#10408 P: https://times.abema.tv/articles/-/10010701 (fixes https://github.c…
  easylist/easylist_allowlist.txt
Labels: Easyprivacy

#10688 A: https://hdmovies4u.live/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10687 A: https://animekisa.cc/
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#10674 A: https://www.flashscore.info/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#10675 A: https://www.amazon.co.jp/gp/cart/view.html?ref_=nav_cart
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#10673 A: #10672 (homify.fr)
  fanboy-addon/fanboy_annoyance_general_block.txt
Labels: Fanboy Annoyances

#10667 A: https://yeslicense.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#10716 A: (nsfw) porn77.info (fixes https://github.com/AdguardTeam/AdguardFi…
  easylist/easylist_general_hide.txt
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#10717 A: (nsfw) kissjav.com (fixes https://github.com/AdguardTeam/AdguardFi…
  easylist_adult/adult_specific_hide.txt
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Easylist, NSFW

#10718 A: (nsfw) https://javlibrary.cc/42146-xmom-39-unfaithful-wife-opens-h…
  easylist/easylist_thirdparty.txt
Labels: Easylist, NSFW

#10719 A: [NSFW] https://easyporn.xxx/
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#10720 A:[NSFW] https://www.uiporn.com/
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#10723 A: https://lookmoviess.com/
  easylist/easylist_adservers.txt
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#10711 A: [NSFW] https://gaysex.tv/
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#10712 A: [NSFW] https://pornstargold.com/
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#10714 A: [NSFW] https://hclips.com/
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#10666 A: https://www.theneworiginals.eu/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#10665 A: https://www.lesnumeriques.com/
  fanboy-addon/fanboy_newsletter_general_hide.txt
Labels: Fanboy Annoyances

#10375 A: https://beforeitsnews.com/
  easylist/easylist_adservers.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10760 A: https://www.dhnet.be/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#10761 A: https://www.ultimedia.com/deliver/generic/iframe?src=q3q35qu
  easylist/easylist_general_block.txt
Labels: Easylist

#10762 A: https://www.dhnet.be/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#10758 A: https://www.6play.fr/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#10751 A: https://clickdoc.fr/cd-fr/search
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#10753 A: https://www.gumtree.sg/s-home-furnishing/v1c44p1
  easylist/easylist_general_hide.txt
Labels: Easylist

#10734 A: hbomax.com (specific cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#10765 M: https://github.com/easylist/easylist/pull/10674
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#10780 A: https://mobileunlock24.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#10779 A: (gsmserver.com) #10778
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#10778 A: https://gsmserver.com/
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#10777 A: https://www.numerama.com/pop-culture/805979-pourquoi-la-serie-friends-reste-t-elle-si-populaire-apres-tant-de-temps.html
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#10776 A: https://popcrush.com/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#10775 A: (nsfw) tukif.com
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#10774 A: https://www.generation-nt.com/cnil-2021-record-action-repressive-protection-donnees-actualite-1997452.html
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#10773 A: (gsmserver.com) #10772
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#10772 A: https://gsmserver.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10771 A: (nsfw) rat.xxx
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#10770 P: https://easy-firmware.com/index.php?a=login
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#10764 A: https://www.grostracteurspassion.com/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#10763 A: https://www.fredzone.org/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#10759 A: https://www.futura-sciences.com/tech/breves/multimedia-bon-plan-cdiscount-remise-225-tv-samsung-55tu7022-4762/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#10755 A: #10754
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#10754 A: https://www.jofogas.hu/magyarorszag?q=tablet&cg=5000
  easylist/easylist_general_hide.txt
Labels: Easylist

#10752 A: https://www.kijiji.ca/h-lethbridge/1700230
  easylist/easylist_general_hide.txt
Labels: Easylist

#10733 A: notion.so (specific cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#10790 A: https://animexin.xyz/
  easylist/easylist_adservers.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10376 A: https://www.pfister.ch/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#10377 A: https://www.pfister.ch/
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#10806 M: https://pixabay.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10820 A: https://www.modirum.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#10821 P: https://docs.tealium.co.jp/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#10828 A:ehitavada.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10834 Fix fop
  FOP.py
Labels: FOP

#10846 A: https://snipcart.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#10848 A: http://stonetoss.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10836 P: https://www.tv-tokyo.co.jp/ariyoshieeeee/ (fixes https://github.co…
  easylist/easylist_allowlist.txt
Labels: Easylist

#10818 A: https://www.sat-universe.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#10871 A: https://github.com/easylist/easylistgermany/pull/177
  easylist/easylist_general_hide.txt
Labels: Easylist

#10870 A: #10869
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#10869 A: https://arabic.rt.com/russia/1323801-
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#10868 A: #10867
  easylist/easylist_adservers.txt
Labels: Easylist

#10867 A: https://promos-algerie.com/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#10866 A: https://www.btolat.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#10865 A: #10864
  easylist/easylist_adservers.txt
Labels: Easylist

#10864 A: https://apkcombo.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#10863 A: https://adsdesi.com/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#10862 A: https://z3x-team.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#10860 A: https://www.startpage.com/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#10859 A: https://www.name.com/
  fanboy-addon/fanboy_newsletter_general_hide.txt
Labels: Fanboy Newsletters

#10858 A: https://who.is/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10856 A: #10854
  easylist/easylist_general_block.txt
Labels: Easylist

#10873 obsolete rules removed
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#10855 A: #10854
  easylist/easylist_adservers.txt
Labels: Easylist

#10854 A: (nsfw) youngpornvideos.com
  easylist_adult/adult_thirdparty.txt
Labels: NSFW

#10853 A: (nsfw) 037jav.com
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#10308 A: (nsfw) m.hqporner.com (related: https://github.com/AdguardTeam/Adg…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#10850 A: unitedtalent.com (specific cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#10823 A: cityam.com (ad placeholders)
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10936 A: www.todorollup.com
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#10935 A: www.svetodom.ru
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#10932 A: placenzaexistenci.cz
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#10924 A: www.mydress.com
  easylist_cookie/easylist_cookie_specific_hide.txt
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easylist, Easyprivacy

#10926 A: www.nathalieschuterman.com
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#10923 A: baku.ws
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#10922 A: www.globirdenergy.com.au
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#10921 P: https://search-voi.0101.co.jp/freeword/?store=&q=test and https://…
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#10920 P: https://www.nittsu.com/Tracking/ja/Tracking/Enter
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#10938 A: looselystore.com
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#10909 A: https://haveibeenpwned.com/
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#10907 A: [NSFW] https://www.tube-bunny.com/
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#10906 A: https://193.178.172.113/
  easylist/easylist_specific_hide.txt
Labels: NSFW

#10905 A: https://primcloud.careers/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10895 A: https://www.healthline.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10883 P: apu.fi (section won't load)
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#10881 A: #10880
  fanboy-addon/fanboy_newsletter_general_hide.txt
Labels: Fanboy Newsletters

#10880 A: https://pharmasimple.com/fr/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#10952 A: https://ww1.123moviesh.to/
  easylist/easylist_adservers.txt
Labels: Easylist

#10815 A: (nsfw) https://hotmovs.tube/videos/2513464/horny-pornstar-shawna-e…
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#10785 A: mangareader.cc (fixes https://github.com/AdguardTeam/AdguardFilter…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10784 A: www.notion.so
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#10646 P: https://wowma.jp/item/455078307?wadd=1000000000000000159_319_11156…
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#10296 P: https://www.saitama-np.co.jp/news/2021/12/26/02.html (fixes https:…
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#10973 A: [NSFW] https://m.tnaflix.com/
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#10972 A: [NSFW] https://tubxporn.xxx/
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#10969 A: [NSFW] https://m.4tube.com/
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#10994 A: https://filmyzilla.beauty/
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#10998 A: (nsfw) watchfreeadultvideos.com
  easylist/easylist_adservers.txt
Labels: Easylist

#11003 A: #11002
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#11002 A: https://www.textnow.com/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#10989 A: www.coinsnumismatics.com
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easylist

#10986 A: https://www.flv2mp3.by/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10983 https://www.ouest-france.fr/
  fanboy-addon/fanboy_annoyance_general_block.txt
Labels: Fanboy Annoyances

#10980 A: https://www.ouest-france.fr/
  easylist_cookie/easylist_cookie_international_specific_block.txt
Labels: Easylist Cookies

#10982 A: https://teteamodeler.ouest-france.fr/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#10975 P: http://www.kazi.co.jp/icejewels/ (fixes https://github.com/Adguard…
  easylist/easylist_general_block.txt
Labels: Easylist

#10981 A: https://www.francelive.fr/article/france-live/p-7302776/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#10976 A: https://www.usa.philips.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#11012 A: https://www.takataka.gr/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#11041 A: [NSFW] http://footztube.com/
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#11040 A: [NSFW] http://alloldpics.com/
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#11050 A: https://www.facebook.com/gaming/play/163968927626407/?source=faceb…
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#11007 A: https://www.ntppool.org/
  fanboy-addon/fanboy_annoyance_general_block.txt
Labels: Fanboy Social

#10985 A: https://www.test-achats.be/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#10984 A: #10983
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#10979 A: https://www.cosmeto-nature.com/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#10977 A: https://www.olybop.fr/des-illustrations-sur-la-vie-du-quotidien/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#10958 Handle false positives on https://bookdown.org/
  fanboy-addon/fanboy_social_allowlist.txt
Labels: Fanboy Social

#10941 A: https://kit.co/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10804 A: https://www.paruvendu.fr/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#10655 A: https://www.gktorrents.net/
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easylist

#11065 A: opendemocracy.net
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#11062 A: (nsfw) #11061
  easylist_adult/adult_specific_block_popup.txt
Labels: Easylist, NSFW

#11061 A: (nsfw) xteen.name
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#11059 A: https://www.easeus.fr/ #11060
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#11060 A: https://www.easeus.fr/ #11059
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#11083 A: [NSFW] https://hentai20.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#11082 A: https://www.crypto-news-flash.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11078 P: https://www.bbc.com/news/live/world-europe-60542877 (fixes https:/…
  fanboy-addon/fanboy_notifications_specific_block.txt
Labels: Fanboy Notifications

#11077 A: https://herogayab.net/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11075 A: [NSFW] https://nudostar.com/
  easylist/easylist_adservers.txt
Labels: Easylist
