Repository easylist/easylist, pull requests merged in 2022-01, with the labels that each got.

#10356 P: https://www.withings.com/fi/en/ (Fix scrolling)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#10352 A: https://mail.qq.com
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#10350 A: https://haokan.baidu.com/v?vid=5765942094359842803
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#10335 A: (nsfw) https://www.eachporn.com/es/video/231250/hairy-teen-creampi…
  easylist/easylist_adservers.txt
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#10348 P: https://books.dmkt-sp.jp/item/987b8ec9cdc09f4abc8bdce0dc3b957e8c53…
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#10345 P: https://sp.comics.mecha.cc/books/79952 (related: https://github.co…
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#10344 A: https://www.bilibili.com/kuawan/2021zmdy/pc/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#10343 A: https://fmovies.ps/
  easylist/easylist_specific_block_popup.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10339 A: [NSFW] https://javdisk.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#10123 A: https://www.japscan.ws/
  easylist/easylist_adservers.txt
Labels: Easylist

#10359 A: https://fmoviesto.cc/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10333 A: voima.fi (Hide cookie banner background overlay)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#10367 Address asahi-kasei.com cookie consent
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#10357 A: https://sflix.to/
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#10371 A: [NSFW] https://hitomi.la/
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#10342 A: https://www.123movies2022.org/
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#10287 A: https://www.kkbox.com/tw/tc/song/xvS00WY0XMLkzkrRkzkrR0XL-index.ht…
  easylist/easylist_adservers.txt
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easylist

#10368 A: https://projectfreetv.watch/
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#10373 A: https://ca123movies.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#10379 A: https://ww2.torrentz2.cyou/
  easylist/easylist_adservers.txt
Labels: Easylist

#10329 A: https://kissasian.watch/
  easylist/easylist_adservers.txt
Labels: Easylist

#10326 A: https://komi-san.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#10316 A: https://www.weareplaystation.fr/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#10314 A: https://www.inshallah.com/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#10324 A: https://gogoanime.run/
  easylist/easylist_adservers.txt
Labels: Easylist

#10384 A: https://www.filmstreaming1.in/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#10374 A: http://blog.sina.com.cn/s/blog_635c86d50102zvmo.html
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#10372 A: https://123moviesgoto.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#10271 A: https://www.monacomatin.mc/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#10268 A: colonist.io (fixes https://github.com/AdguardTeam/AdguardFilters/i…
  easylist/easylist_general_hide.txt
Labels: Easylist

#10436 A: https://dramacool1.org/
  easylist/easylist_adservers.txt
Labels: Easylist

#10431 A: https://www.dramacool9.at/
  easylist/easylist_adservers.txt
Labels: Easylist

#10448 A: https://www.migros-engagement.ch/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#10491 A: generic cookie hide (oikeus.fi)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#10489 P: https://www.news24.jp/sp/index.html#bmb=1 (fixes https://github.co…
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#10488 P: https://classy-online.jp/lifestyle/188697/ (related: https://githu…
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#10487 P: https://www.kobe-np.co.jp/news/sougou/202201/sp/0014978284.shtml (…
  easylist/easylist_allowlist.txt
Labels: Easylist

#10486 P: www.cookielaw.org
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#10483 A: [NSFW] https://idolsblog.tv/
  easylist/easylist_adservers.txt
Labels: Easylist

#10482 A: https://readcomiconline.li/
  easylist/easylist_adservers.txt
Labels: Easylist

#10481 A: https://earnmoneyhub.com/#
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10479 A: https://streamzz.to/
  easylist/easylist_adservers.txt
Labels: Easylist

#10294 A: https://moviecrumbs.net/
  easylist/easylist_adservers.txt
Labels: Easylist

#9871 A: https://www.tekniikkaosat.fi/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#10192 A: [NSFW] https://javgg.net/
  easylist/easylist_adservers.txt
  easylist_adult/adult_specific_hide.txt
Labels: Easylist

#10474 A: https://www.japscan.ws/
  easylist/easylist_adservers.txt
Labels: Easylist

#10467 A: [NSFW] https://ruvideos.net/
  easylist/easylist_adservers.txt
Labels: Easylist

#10466 A: https://ettv.unblockit.how/
  easylist/easylist_adservers.txt
Labels: Easylist

#10464 A: https://bt4g.org/
  easylist/easylist_adservers.txt
Labels: Easylist

#10460 A: https://pcgamestorrents.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#10452 A: [NSFW] https://hentai20.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#10451 A: https://beginningmanga.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#10449 A: https://www.mp3juices.cc/
  easylist/easylist_adservers.txt
Labels: Easylist

#10450 A: http://tamilyogi.best/
  easylist/easylist_adservers.txt
Labels: Easylist

#10438 A: https://herogayab.net/
  easylist/easylist_adservers.txt
Labels: Easylist

#10437 A: https://www3.musichq.net/
  easylist/easylist_adservers.txt
Labels: Easylist

#10434 A: https://www.lineageos18.com/
  easylist/easylist_adservers.txt
  easylist/easylist_specific_block.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10428 A: https://www.polygon.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10453 Allow netmede.pt/code/ga.min.js
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#10502 A: https://sportsbay.watch/
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#10501 A: https://www6.f2movies.to/
  easylist/easylist_adservers.txt
Labels: Easylist

#10500 A: https://www.livegore.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#10499 A: https://www.uwatchfree.do/
  easylist/easylist_adservers.txt
Labels: Easylist

#10498 A: https://yts.torrentbay.to/
  easylist/easylist_adservers.txt
Labels: Easylist

#10497 A: https://manhuascan.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#10429 A: [NSFW] https://hitomi.la/
  easylist/easylist_adservers.txt
  easylist_adult/adult_specific_block.txt
Labels: Easylist

#10427 A: https://animebee.to/
  easylist/easylist_specific_block.txt
Labels: Easylist

#10425 A: https://kissanime.com.ru/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10424 A: [NSFW] https://javdisk.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#10416 A: https://www.proxfree.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10413 A: https://www.govtrack.us
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#10410 A: [NSFW] https://flizmovies.cc/
  easylist/easylist_specific_block.txt
  easylist_adult/adult_adservers.txt
Labels: Easylist

#10407 A: https://apk4all.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#10405 A: https://nitroscans.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#10310 M: https://attestation.app/privacy-policy, https://grapheneos.org/faq
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
  fanboy-addon/fanboy_annoyance_allowlist_general_hide.txt
Labels: Easylist Cookies

#10521 A: https://www.skidrow-games.com/
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#10245 A: https://yifymovies.one/
  easylist/easylist_adservers.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10557 A: https://www.lesoir.be/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#10558 A: https://www.lesoir.be/
  fanboy-addon/fanboy_newsletter_general_hide.txt
Labels: Fanboy Annoyances

#10546 A: https://www.jumia.dz/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#10564 A: sign.aatos.app (generic cookie hide)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#10551 A: https://emalm.com/?vid
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10503 P: https://www.express.co.uk/news/politics/1551200/nicola-sturgeon-co…
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#10536 A: [NSFW] https://familyporn.tv/
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#10556 A: https://www.sookbtp.com/
  fanboy-addon/fanboy_newsletter_general_hide.txt
Labels: Fanboy Annoyances

#10555 A: https://www.sookbtp.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#10554 A: https://www.educatout.com/
  fanboy-addon/fanboy_newsletter_general_hide.txt
Labels: Fanboy Annoyances

#10553 A: https://www.educatout.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#10579 A: https://yomovies.nl/
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#10582 A: www.urbandictionary.com (fixes https://github.com/AdguardTeam/Adgu…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10530 A: https://123putlocker.io/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10612 P: crunchyroll.com (broken videos)
  easylist_cookie/easylist_cookie_allowlist.txt
Labels: Easylist Cookies

#10597 A: https://www.manomano.fr/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#10596 A: https://www.gesso.be/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#10595 A: https://www.ouedkniss.com/s/1?keywords=abc
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#10594 A: #10593
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#10593 A: https://www.electromenager-compare.com/
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#10586 A: https://www.mma-core.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10569 A: https://www.jumia.com.eg/
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#10566 A: arsadata.se (specific cookie hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#10563 A: aatos.app (generic cookie hide)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#10562 A: voas.fi (generic cookie hide)
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
  easylist_cookie/easylist_cookie_general_hide.txt
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#10561 A: koas.fi (generic cookie hide)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#10560 A: https://scan-fr.cc/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#10559 A: https://www.torrent9.si/torrent/999/queens-us-s01e01-french-hdtv
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#10547 A: https://www.jumia.com.eg/catalog/?q=box+tv
  easylist/easylist_general_block.txt
Labels: Easylist

#10540 hide realbooru ad on gelbooru
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10637 A: https://flutter.dev/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#10628 A: [NSFW] https://xfantazy.com/
  easylist/easylist_adservers.txt
Labels: Easylist, NSFW

#10627 A: [NSFW] https://hentaiworld.tv/
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#10516 A: https://wpbakery.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#10517 A: #10516
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies
