Repository easylist/easylist, pull requests merged in 2022-08, with the labels that each got.

#12789 A: quora.com (cookie banner block)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12788 A: www.lastpass.com (addresses https://github.com/AdguardTeam/Adguard…
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#12786 A: e-ville.com (cookie banner hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#12781 P: ampparit.com (feedback button hid by social media list)
  fanboy-addon/fanboy_social_allowlist_general_hide.txt
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#12787 A: chrome.google.com (switch to Chrome nag)
  fanboy-addon/fanboy_notifications_specific_hide.txt
Labels: Fanboy Notifications

#12783 A: https://sharylattkisson.com/2022/07/study-unvaccinated-covid-patients-contagious-for-shorter-period-of-time-than-vaccinated/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12791 M: small performance improvement
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#12792 A: flashscore.fi (specific cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#12803 A: liiga.fi (specific cookie hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#12802 A: (sportsadda.com) #12801
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#12801 A: https://www.sportsadda.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#12807 P: is.fi (video doesn't work)
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#12805 A: www.30tidennivyzva.cz
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#12798 A: https://dz.afribaba.com/search.html?q=iphone
  easylist/easylist_thirdparty.txt
Labels: Easylist

#12790 Moved altruja.de from tracking_servers to specific
  easyprivacy/easyprivacy_specific.txt
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#12773 A: opensubtitles.org (specific ad hide)
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12811 A: autodoc.fi (generic cookie banner block)
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#12810 A: https://www.1280wnam.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12815 A: is.fi (generic ad hide)
  easylist/easylist_general_hide.txt
Labels: Easylist

#12808 A: Ad in navigation glory985.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12796 A: https://apk4free.org/aida64/
  easylist/easylist_general_hide.txt
Labels: Easylist

#12809 A: 999thehawk.com sweetjack ad
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12825 P: lempaala.ideapark.fi / olutposti.fi (locked scrolling)
  easylist_cookie/easylist_cookie_specific_ABP.txt
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#12824 P: https://www.galaopublicidade.com/
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#12821 A: https://www.scopus.com/freelookup/form/author.uri
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#12772 A: areena.yle.fi (pauserecommendations during a video + sharing button)
  fanboy-addon/fanboy_notifications_specific_hide.txt
Labels: Fanboy Annoyances

#12751 A: ask.fm (forced app download / login page)
  fanboy-addon/fanboy_notifications_specific_uBO.txt
Labels: Fanboy Notifications

#12835 M: rowery-indiana.pl
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies, Update Filter

#12838 A: iskelma.fi & voice.fi (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12840 A: https://www.planetebd.com/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#12839 A: https://www.ledojomanga.com/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#12841 A: https://www.jeuxvideo-live.com/
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#12833 A: (nsfw) classificadosxbr.com
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#12844 A: https://www.infoconcert.com/news/n-17909.html
  easylist/easylist_general_hide.txt
Labels: Easylist

#12843 A: https://www.infoconcert.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#12842 A: https://gamewave.fr/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#12832 A: (nsfw) pecattus.com.br
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#12830 A: https://portail.softmaroc.org/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#12829 A: https://www.ecranlarge.com/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#12827 A: https://www.jacquielawson.com/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#12853 A: https://www.ouedkniss.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#12846 A: podplay.com + more (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12859 M: redundancies
  fanboy-addon/fanboy_notifications_specific_block.txt
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social, Fanboy Notifications

#12857 A: sanakirja.org (gdpr dialog block)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12855 A: base64encode.org (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12870 A: radiocity.fi (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12866 M: obsolete filters
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#12887 A: ruutu.fi (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12883 A: ruutu.fi (tracking pixel)
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#12877 A: https://www.extreme-down.io/
  easylist/easylist_adservers.txt
Labels: Easylist

#12897 M: redundant rule
  easylist/easylist_general_block.txt
Labels: Easylist

#12892 M: duplicate rule
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12900 A: Multiple sites (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12924 A: aarrelehti.fi + others (gdpr block)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12920 A: urbandictionary.com (gdpr block)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12911 A: vpd.fi (specific gdpr block)
  easylist_cookie/easylist_cookie_international_specific_block.txt
Labels: Easylist Cookies

#12916 P: tapahtumat.iijokiseutu.fi + more (Fixes popup)
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#12919 A: chess.com (ad placeholder)
  easylist/easylist_general_hide.txt
Labels: Easylist

#12922 A: suomela.fi (newsletter, generic)
  fanboy-addon/fanboy_newsletter_general_hide.txt
Labels: Fanboy Newsletters

#12923 A: suomela.fi (social media share container)
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#12917 A: https://www.manga-sanctuary.com/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#12914 P: https://www.nationalgeographic.com/
  easylist/easylist_specific_hide.txt
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#12913 A: https://www.msn.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12910 A: https://www.tp-link.com/us/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#12909 A: https://igg-games.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#12908 P: https://r2b2.io/
  easylist/easylist_adservers.txt
Labels: Easylist

#12931 A: (nsfw) https://www.rat.xxx/videos/2628/teen-three-way-sex-action/?…
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#12929 A: https://www.cloudflare.com/learning/ssl/what-is-an-ssl-certificate…
  easyprivacy/easyprivacy_specific.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Easyprivacy, Fanboy Annoyances

#12928 A: bloomberg.com (GDPR dialog, uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#12943 A: https://www.startpage.com/privacy-please/startpage-articles/global-privacy-issues
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#12942 A: https://www.startpage.com/privacy-please/startpage-articles/global-privacy-issues
  fanboy-addon/fanboy_newsletter_general_hide.txt
Labels: Fanboy Newsletters

#12941 A: https://community.bt.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#12940 A: https://vnkb.com/what-is-a-sub-domain/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12937 A: mtvyritys.fi (GDPR script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12936 P: / A: cmore.fi (hide GDPR dialog without breakages)
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#12938 M: obsolete filter
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12947 A: https://www.malwarebytes.com/vpn
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#12945 M: removing redundancies
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12956 A: synonyymit.fi (generic ad server)
  easylist/easylist_adservers.txt
Labels: Easylist

#12957 P: https://m.bilibili.com/dynamic/686058310439272488 (fixes https://g…
  fanboy-addon/fanboy_notifications_specific_hide.txt
Labels: Fanboy Notifications

#12951 M: update
  easylist/easylist_specific_block.txt
Labels: Easylist, Update Filter

#12953 P: https://www.dimensions.com/element/leaderboard-ad-728-x-90
  easylist/easylist_allowlist.txt
Labels: Easylist

#12949 M: merging / removing redundants
  easylist_cookie/easylist_cookie_general_block.txt
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12918 A: https://voiranime.com/anime/kumicho-musume-to-sewagakari/kumicho-musume-to-sewagakari-04-vostfr/
  easylist/easylist_adservers_popup.txt
Labels: Easylist

#12915 A: https://www.elecrow.com/programmable-relay-timer-switch-pcb-only.html
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#12962 P: https://www.independent.co.uk/asia/southeast-asia/aung-san-suu-kyi…
  easylist/easylist_allowlist.txt
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#12963 M: remove obsolete filter for vizcloud
  easylist/easylist_specific_block.txt
Labels: Easylist

#12968 P: https://www.msn.com/en-us/health/medical/dc-mobile-clinic-to-deliver-back-to-school-shots-to-children-in-the-district/ar-AA10IzvR?ocid=hplocalnews
  easylist/easylist_specific_hide.txt
Labels: Easylist, Update Filter

#12972 A: finder.fi (GDPR block)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12966 A: https://voiranime.com/anime/kumicho-musume-to-sewagakari/kumicho-musume-to-sewagakari-04-vostfr/
  easylist/easylist_adservers_popup.txt
Labels: Easylist

#12978 P: elisa.fi (content not loading)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12867 A: https://tvtv.us/ma/longmeadow/01116/luUSA-DITV543-DEFAULT
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12986 A: https://sports.caracoltv.com
  easylist/easylist_general_hide.txt
Labels: Easylist

#12988 M: filter change for Sanoma Corporation (GDPR)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#12987 A: elisa.fi (GDPR specific block)
  easylist_cookie/easylist_cookie_international_specific_block.txt
Labels: Easylist Cookies

#12985 A: www.cadenas.co.jp
  easylist_cookie/easylist_cookie_general_hide.txt
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy, Easylist Cookies

#12983 A: (nsfw) https://forced-tube.net/content/girls-with-big-tits-capture…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#12991 fixedLeftAd-generic
  easylist/easylist_general_hide.txt
Labels: Easylist

#12990 M: / P: Obsoletes + whitelistings (GDPR, Alma Media)
  easylist_cookie/easylist_cookie_allowlist.txt
  easylist_cookie/easylist_cookie_general_hide.txt
  easylist_cookie/easylist_cookie_international_specific_block.txt
  easylist_cookie/easylist_cookie_specific_uBO.txt
  easylist_cookie/easylist_cookie_thirdparty.txt
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easylist Cookies

#13002 A: Confection.io wordpress integration
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#13001 A: https://mabanque.fortuneo.fr fix login
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#12995 A: 10kysymysta.fi + more (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#13006 M: Fix cookie hiding for storyhouseegmont/egmont
  easylist_cookie/easylist_cookie_specific_hide.txt
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#13005 A: vaalikone.fi + others (GDPR block)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#13003 A: www.ikyu.com
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#12984 A: (nsfw) imhentai.xxx
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#13034 Fix boxzilla filters
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Easylist

#13033 A: https://cdiscount.com tracking
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#13010 Fix quantamagazine.org cookie notice removal
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#13038 A: monorail-edge.shopifysvc.com shopify tracking
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#13042 clickoutnetwork.care
  easylist/easylist_adservers.txt
Labels: Easylist

#13048 A: https://doctolib.fr tracking
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#13044 A: https://orange.fr tracking
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#13046 A: https://ouest-france.fr gdpr banner
  easylist_cookie/easylist_cookie_international_specific_block.txt
Labels: Easylist Cookies

#13052 A: Multiple sites (generic cookie hide)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#13029 A: https://www.woodworkforinventor.com/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#13028 A: https://www.tinkercad.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#13058 F: Hidden Footer on thedriven.io
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13055 A: nordiskfilm.com (cookie hide for uBO)
  easylist_cookie/easylist_cookie_allowlist.txt
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#12971 A: ecoteekki.fi (generic newsletter block)
  fanboy-addon/fanboy_newsletter_thirdparty.txt
Labels: Fanboy Newsletters

#13070 A: fortune.com
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#13075 A: suomentivoli.fi (specific cookie hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#13081 P: offering-flower.com
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#12758 A: mikrobitti.fi +others (social share button container remnant)
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#13090 A: Multiple sites (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#13089 P: taloon.com (newsletter overlay breaks scrolling)
  fanboy-addon/fanboy_newsletter_specific_uBO.txt
Labels: Fanboy Newsletters

#13100 A: luxexpress.eu (specific cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#13099 A: ilvesfoorumi.com (specific cookie hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#13098 A: krookmedia.fi (cookie script)
  easylist_cookie/easylist_cookie_international_specific_block.txt
Labels: Easylist Cookies

#13101 A: offliberty.io
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13087 M: performance improvement
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#13086 M: fix bloomberg.com ad selector
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13104 A: nikaraw.com (addresses https://github.com/AdguardTeam/AdguardFilte…
  easylist/easylist_adservers.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13117 A: https://support.nfl.com zendesk tracking
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#13109 A: moottori.fi (newsletter)
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#13122 P: www.dailymotion.com
  easylist_cookie/easylist_cookie_specific_hide.txt
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#13130 A: whatsapp.com (GDPR dialog, uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#13145 A: https://www.soundguys.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13150 A: https://www.android-x86.org/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#13149 A: https://www.asics.com/us/en-us/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13146 P: https://www.system5.jp/pages/search?kw=%E3%83%89%E3%83%AD%E3%83%BC…
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#13144 A: https://kurashinista.jp/
  easylist/easylist_general_hide.txt
Labels: Easylist
