Repository easylist/easylist, pull requests merged in 2022-04, with the labels that each got.

#11537 A: https://vigilantcitizen.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11536 A: https://www.washingtonpost.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11534 A: http://kt.freestreams-live1.com/channel-3/
  easylist/easylist_adservers.txt
Labels: Easylist

#11533 A: https://tver.jp/episodes/epzhwjq02t
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#11554 A: https://filmyzilla.autos/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11561 A: https://www.thenetnaija.co/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11563 A: Adservers (bundle) - 05/04/22
  easylist/easylist_adservers.txt
Labels: Easylist

#11565 A: https://www.tokyvideo.com/video/lucky-luke-theme (fixes https://gi…
  easylist/easylist_general_hide.txt
Labels: Easylist

#11569 A: https://jujutsukaisenonline.net/
  easylist/easylist_specific_block_popup.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11566 A: https://moviesjoy.to/
  easylist/easylist_adservers_popup.txt
  easylist/easylist_thirdparty.txt
Labels: Easylist

#11567 A: (nsfw) https://7mmtv.tv/ja/censored_content/130004/JRZE-067%20%E5%…
  easylist/easylist_adservers.txt
  easylist_adult/adult_adservers.txt
Labels: Easylist, NSFW

#11577 A: https://www.1tamilmv.run/
  easylist/easylist_adservers_popup.txt
Labels: Easylist

#11520 A: [NSFW] https://www.pornhat.com/
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#11521 A: [NSFW] https://www.rat.xxx/
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#11599 A: (nsfw) https://www.dxlive.com/
  easyprivacy/easyprivacy_specific_international.txt
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#11594 A: ww.animeland.tv, ww.kiss-anime.ws
  easylist/easylist_general_block.txt
  easylist/easylist_specific_block.txt
Labels: Easylist

#11596 P: https://www.so-net.ne.jp/access/hikari/minico/ad/
  easylist/easylist_allowlist.txt
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#11592 A: (nsfw) jennylist.xyz (fixes https://github.com/AdguardTeam/Adguard…
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#11590 A: https://www.kroger.com
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#11583 A: (nsfw) https://www.erotikfilmsitesi1.com/co-ed-confidential-s1/ (fixes https://github.com/AdguardTeam/AdguardFilters/issues/114884)
  easylist/easylist_adservers.txt
  easyprivacy/easyprivacy_general.txt
Labels: Easylist, NSFW

#11604 A: https://apkfree.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#11605 A: https://apkcombo.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#11606 A: https://youtube4kdownloader.com/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Easylist

#11522 A: [NSFW] https://www.empflix.com/
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#11518 A: [NSFW] https://www.3movs.com/
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#11612 A: (nsfw) https://biqle.org/watch/-169921748_456241036 (fixes https:/…
  easylist/easylist_adservers.txt
  easylist_adult/adult_specific_block.txt
  easyprivacy/easyprivacy_general.txt
Labels: Easylist, Easyprivacy, NSFW

#11627 A: [NSFW] https://czechvideo.io/
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#11625 A: https://youflix.site/
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#11648 A: https://t2mio.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#11641 A: https://mlwbd.host/
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#11652 A: https://tioanime.com/
  easylist/easylist_thirdparty.txt
Labels: Easylist

#11593 A: https://www.intouchweekly.com
  easylist/easylist_adservers.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11669 P: https://www.pch.com/games/minute-mania/mahjongg-minute/gameplay
  easylist/easylist_allowlist.txt
Labels: Easylist

#11621 A: https://ads.shopee.sg/
  easylist/easylist_allowlist_popup.txt
Labels: Easylist

#11665 A:dkoding.in
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11663 A: Hide ads on Unsplash.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11661 A: [NSFW] https://simpasian.net/
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#11659 A: https://vidhdthe.online/
  easylist/easylist_specific_block.txt
Labels: Easylist

#11658 A: http://manganatos.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11650 A: https://ww1.123movies.tc/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11657 A: https://www1.solarmovies.movie/
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#11603 P: http://adcreative.es/
  easylist/easylist_general_block.txt
Labels: Easylist

#11613 A: resolve ads.shopee whitelist
  easylist/easylist_general_block.txt
Labels: Easylist

#11598 P: https://wave.popin.cc/audioplayer.html?channel=president&nid=62464…
  easylist/easylist_allowlist.txt
Labels: Easylist

#11513 A: (nsfw) asiangaysex.net
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#11482 A: https://abc.com/shows/step-into-the-movies-with-derek-and-julianne…
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#11480 A: (nsfw) fapster-xxx.pornproxysite.com (fixes https://github.com/Adg…
  easylist/easylist_adservers.txt
  easylist/easylist_adservers_popup.txt
  easylist_adult/adult_adservers.txt
Labels: Easylist

#11673 A: https://www.lecho.be/innover/general/penurie-et-hausse-des-prix-dynamisent-les-filieres-de-construction-circulaire/10380846.html
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#11672 A: https://www.lecho.be/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#11674 A: #11673
  fanboy-addon/fanboy_newsletter_general_hide.txt
Labels: Fanboy Newsletters

#11671 A: (nsfw) tubev.pro
  easylist/easylist_adservers.txt
Labels: Easylist, NSFW

#10825 A: https://www.tumblr.com/dashboard
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#11666 A:republicworld.com
  easylist/easylist_general_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10144 M: Remove
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Easyprivacy

#9678 Fix file header texts
  easylist_cookie/easylist_cookie_specific_ABP.txt
  easylist_cookie/easylist_cookie_specific_uBO.txt
  fanboy-addon/fanboy_annoyance_specific_ABP.txt
  fanboy-addon/fanboy_annoyance_specific_uBO.txt
  fanboy-addon/fanboy_notifications_specific_ABP.txt
  fanboy-addon/fanboy_notifications_specific_uBO.txt
  fanboy-addon/fanboy_social_specific_ABP.txt
  fanboy-addon/fanboy_social_specific_uBO.txt
Labels: Easylist Cookies, Fanboy Social, Fanboy Annoyances, Fanboy Notifications

#9858 A: https://www.courrier-picard.fr/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#11686 A: stadium.fi (specific cookie banner filter for uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#11685 A: www.audirichfield.com
  easyprivacy/easyprivacy_general.txt
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#11678 P: https://www.nike.com/au/launch?s=upcoming (fixes https://github.co…
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#11688 A: https://www.tubefilter.com/2022/01/24/hank-green-tiktok-creator-fu…
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#11676 A: (nsfw) projectjav.com
  easylist/easylist_general_hide.txt
Labels: Easylist

#11649 A: [NSFW] https://www.cambro.tv/
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#11691 A: https://www.news18.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#6539 A: (jumia.dz) #6538
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#6604 A: http://commentcamarche.net/informatique/windows/223-nettoyer-un-pc
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#11698 A: https://watchasians.cc/
  easylist/easylist_adservers_popup.txt
Labels: Easylist

#11699 A: hide outbrain wrapper on impartialreporter.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11700 Updated for mgph.net
  easylist/easylist_specific_block.txt
Labels: Easylist

#11701 A: https://chicagoprowrestling.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11692 A: (nsfw) xxxsexhd.mobi
  easylist/easylist_adservers.txt
Labels: Easylist, NSFW

#11704 A: https://www.drivereasy.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#11705 A: https://epekta.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#11702 A: https://unsplash.com/t/history
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11712 A: https://eu.mouser.com/
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#11721 A: remove ad from onepagerules.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11714 A: Hide placeholder on johnogroat-journal.co.uk
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11711 A: (web.dev) #11710
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#11710 A: https://web.dev/building-an-adaptive-favicon/
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#11709 A: https://addyosmani.com/blog/2021-writing/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#11725 A: hide affiliate ads https://purplepainforums.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11724 A: (nsfw) www.3movs.xxx
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#11708 A: https://davidwalsh.name/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#11703 A: (nsfw) hnntube.com
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#11733 M: https://onepagerules.com/portfolio/age-of-fantasy/
  easylist/easylist_specific_hide.txt
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#11732 A: https://9anime.to/
  easylist/easylist_specific_block.txt
Labels: Easylist

#11729 A: https://ww7.123movieshub.tc/
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#11726 A: www.mathway.com
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#11727 A: kaitorileon.com
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#9548 A: https://www.dzetude.com/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#8303 A: https://fast.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#11747 A: [NSFW] https://masahub.net/
  easylist/easylist_general_hide.txt
  easylist/easylist_specific_block_popup.txt
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#11742 A: https://rawkuma.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist, NSFW

#11769 A: Block popups at https://www.animesonline.cz
  easylist/easylist_adservers.txt
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#11759 A: https://www.aftenposten.no/
  easylist/easylist_general_hide.txt
Labels: Easylist

#11761 A: (india.com) #11760
  easylist/easylist_general_hide.txt
Labels: Easylist

#11760 A: https://www.india.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11757 M: https://www.onetransistor.eu/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11771 A: (nsfw) xxx-videosex.porn
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#11772 A: (nsfw) hog.tv
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#11774 A: (nsfw) youngpornvideos.com
  easylist/easylist_general_hide.txt
Labels: Easylist, NSFW

#11745 A: [NSFW] https://upornia.com/
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#11740 A: https://sympa-sympa.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#11739 A: https://www.ohmymag.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#11738 A: https://www.petitpetitgamin.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#11794 A: [NSFW] https://vjav.com/
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#11790 A: https://linuxize.com/post/python-for-loop/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11797 A: https://www8.putlockers.fm/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11800 A: https://yts.mx/movies/turning-red-2022
  easylist/easylist_general_block.txt
  easylist/easylist_specific_hide.txt
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#11798 A: https://movierulz.cam/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11799 A: [NSFW] https://manga18fx.com/
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#11795 A: [NSFW] https://upornia.tu
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#11804 P: evl.fi (cookie dialog overlay)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#11808 A: https://www.dacast.com/blog/multi-cdn/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#11807 A: (emalm.com) #11806
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11796 A: https://tode837.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#11791 A: https://www.serverhunter.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11828 A: https://www.alaraby.co.uk/
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#11830 A: https://www.albawabhnews.com/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#11826 A: https://klauner.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#11822 A: https://mabricole.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#11820 A: https://changer4u.com/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#11817 A: https://hamiz-shop.net/
  fanboy-addon/fanboy_newsletter_general_hide.txt
Labels: Fanboy Newsletters

#11818 A: https://d15.dz/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#11819 A (d15.dz) #11818
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#11814 A: https://ufile.io/nbtj34k1
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11811 A: https://www-idm.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#10406 A: https://zmovies.cc/
  easylist/easylist_specific_block.txt
Labels: Easylist

#11846 A: Sponsored ads (several sites)
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#11844 A: [NSFW] http://risextube.com/
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#11843 A: [NSFW] https://fapster.xxx/
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#11842 A: https://mangas-raw.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11841 A: https://klmanga.net/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11840 A: https://pelisplus.sh/
  easylist/easylist_adservers_popup.txt
Labels: Easylist

#11775 A: https://kazi-tour.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#11737 A: https://github.com/easylist/easylist/pull/8337
  fanboy-addon/fanboy_notifications_general_block.txt
Labels: Fanboy Notifications

#11850 M: Ads on techadvisor.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11865 A: https://www.talkbass.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#11863 A: https://kissasian.li/
  easylist/easylist_adservers_popup.txt
Labels: Easylist

#11862 A: [NSFW] https://watchomovies.cam/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#10199 A: https://seolaboratory.jp/62198/ (related: https://github.com/Adgua…
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#10137 P: https://comic-boost.com/viewer.html?cid=S0043_ch_001&cty=1&cti=%E7…
  easylist/easylist_allowlist.txt
Labels: Easylist

#10125 P: https://webryblog.biglobe.ne.jp/bloglist.html (fixes https://githu…
  easylist/easylist_general_block.txt
Labels: Easylist

#10071 P: https://web-tw-pay.line.me/cms/event/template1.3/f5370c54-b49e-42f…
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy
