Repository easylist/easylist, pull requests merged in 2022-06, with the labels that each got.

#12179 A: (nsfw) https://www.gaytail.com/czech-hunter-639/ (fixes https://gi…
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#12178 M: https://www.apotelyt.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist, Update Filter

#12169 M: fix
  easylist/easylist_specific_hide.txt
Labels: Easylist, Update Filter

#12191 A: soundfun.co.jp
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#12190 A: knsonline.jp
  easyprivacy/easyprivacy_thirdparty_international.txt
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#12197 A: Hide Sponsored ads on Instacart.com
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#12199 A: https://metabattle.com/wiki/Guardian
  easylist/easylist_general_hide.txt
Labels: Easylist

#12194 A: https://wikikeep.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12193 A: https://www.essentialenglish.review/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12206 A: https://www.92kqrs.com
  easylist/easylist_general_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12203 A: https://1013thebear.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12204 A: https://www.101thefox.net
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12212 A: https://www.websiteoutlook.com/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#12208 A: (nsfw) dads-banging-teens.com
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#12209 A: (nsfw) home-xxx-videos.com
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#12211 A: (nsfw) teens-fucking-matures.com
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#12215 A: #12214
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#12210 A: (nsfw) mature-chicks.com
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#12214 A: https://www.pourquoidocteur.fr/ (& mieuxvivresante.fr)
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#12219 P: https://event.rakuten.co.jp/superdeal/brand/220604_rohto/ (also fi…
  easylist/easylist_allowlist.txt
Labels: Easyprivacy

#12235 M: Fixes https://www.techrepublic.com/
  easylist/easylist_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Easylist

#12234 A: Ads on apotelyt.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12250 A: (phonandroid.com) #12249
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#12249 A: https://www.phonandroid.com/
  fanboy-addon/fanboy_notifications_general_block.txt
Labels: Fanboy Notifications

#12247 A: #12246
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#12246 A: https://www.ma-reduc.com/reductions-pour-drivy.php
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#12274 A: https://bflix.ru/
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#12270 A: Adservers(bundle-1) - 10/06/22
  easylist/easylist_adservers.txt
Labels: Easylist

#12267 A: (nsfw) pornsex.rocks
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#12265 A: https://futbollatam.com/en-vivo/espn-1/?ver
  easylist/easylist_adservers.txt
  easylist/easylist_specific_block.txt
Labels: Easylist

#12264 A: https://www.thescore1260.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12280 A: olympics.com
  easylist/easylist_general_hide.txt
Labels: Easylist

#12276 A: tenforums.com (specific ad hide)
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12269 A: https://hbr.org/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12284 A: theglobeandmail.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12261 A: lottery ads
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12241 M: Fixes https://www.apotelyt.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12257 A: https://www.985kissfm.net
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12242 A: https://hentaistream.tv/
  easylist/easylist_specific_hide.txt
Labels: Easylist, NSFW

#12262 M: make it generic
  easylist/easylist_general_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist, Update Filter

#12300 A: https://www.receivesms.co/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12299 A: https://receive-sms-online.info/
  easylist/easylist_specific_block.txt
Labels: Easylist

#12297 A: (potentailly nsfw as underwear site) store.wacoal.jp
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#12296 P: https://www.freaksstore.com/item/3039147200020.html
  easyprivacy/easyprivacy_thirdparty_international.txt
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Update Filter

#12295 A: [NSFW] https://dailyporn.club/
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#12301 A: www.europeanpharmaceuticalreview.com, www.pharmacytimes.com
  easylist/easylist_general_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12260 A: sweetjack ads
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12224 A: [NSFW] https://www.camwhores.porn/
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#12307 A: Popup messages
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12319 A: http://www.babalweb.net/info/480003-m.html
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#12326 A: https://ww3.d123movies.to/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12317 A: https://www.ladepeche.fr/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#12312 A: https://pastebin.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12336 A:careerindia.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12333 A:onlinenepaltimes.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#9861 A: https://www.3dmgame.com/news/202111/3829321.html
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#9856 A: https://guitech.fr/index.php/atelier/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#9687 A: http://www.candou.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#7087 A: http://www.s-ajfan.com/vb/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#12343 A: Popup Messages
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12346 A: https://www.bxr.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12339 P: https://news24online.com/news/world/peace-talk-between-ttp-pakistani-govt-concludes-kabul-be9c87ba/
  easylist/easylist_specific_hide.txt
Labels: Update Filter

#12373 A: https://inyad.com/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#12369 A: zone-annuaire.tel & zone-telechargement.tel
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#12366 A: https://umaar.com/dev-tips/247-lighthouse-treemap/
  easylist/easylist_general_hide.txt
Labels: Easylist

#12364 A: https://upqode.com/redirect-checker-tools/
  fanboy-addon/fanboy_annoyance_thirdparty.txt
Labels: Fanboy Annoyances

#12368 A: https://www.screamingfrog.co.uk/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#12362 A: https://www.web-dev-qa-db-fra.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12367 A: (umaar.com) #12366
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#12351 P: https://www.wmal.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#7009 A: https://thumbsnap.com/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#12378 A: https://www.foxcincinnati.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12385 A: (nsfw) https://hdsex.org/video/427687821
  easylist/easylist_general_hide.txt
Labels: Easylist, NSFW

#12384 A: (nsfw) http://mrstiff.com/movie/kim-kardashian-fucking-rapper-ra-1…
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#12382 A: https://www.target.com/p/stonemaier-wingspan-with-swift-start-game…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12401 A: https://gtemps.com/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#12400 A: (nsfw) txxx.com
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#12392 A: https://hentaihaven.icu/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12377 A: https://www.lacoccinelle.net/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#12376 A: https://www.99images.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#12316 A: https://www.boursier.com/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#12399 A: https://www.torrentsafe.com/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#12402 A: #12401
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#12395 A: https://digg.com
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#12413 A: https://digg.com/ (Mobile)
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#12411 A: https://gamertweak.com/gallium-warframe/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12438 Add a.hcaptcha.com analytics host
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#12436 M: Update
  easylist/easylist_general_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12435 A: tokder.org
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12423 A: https://digg.com/
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#12433 A: www.completesports.com
  easylist/easylist_thirdparty.txt
Labels: Easylist

#12434 P: https://my.gumtree.com/postad/ (fixes https://github.com/AdguardTe…
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#12445 P: https://www.wsj.com/articles/executive-stock-sales-questions-insid…
  easylist/easylist_allowlist.txt
Labels: Easylist

#12443 A:dhakatribune.com
  easylist/easylist_general_hide.txt
Labels: Easylist

#12428 A: [NSFW] https://watchfreexxx.net/
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW
