Repository easylist/easylist, pull requests merged in 2022-11, with the labels that each got.

#13924 Add Jscrambler email tracking pixel host
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#13995 A: https://www.medoucine.com/consultations
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#13990 A: (nsfw) bodsforthemods.com
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#13989 A: (nsfw) #13988
  easylist/easylist_adservers.txt
Labels: Easylist

#13980 A: (nsfw) wwwxxx.uno
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#13998 A: Sponsored Content
  easylist/easylist_general_hide.txt
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#14004 A: Update revolving adservers
  easylist/easylist_adservers.txt
Labels: Easylist

#14002 A: https://mybrowseraddon.com/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#14005 A: huuto.net (social share remnant)
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#14007 M: returnyoutubedislike.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14006 M: filter re-adjust
  easylist_cookie/easylist_cookie_international_specific_block.txt
Labels: Easylist Cookies

#14003 A: mtv.fi + others (GDPR script block)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#13981 A: https://sourcedigit.com/14821-install-numix-icons-themes-ubuntu-14-04-derivatives/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13964 Add Admiral hosts
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#13975 A: https://www.bfmtv.com/police-justice/deputee-frappee-a-sainte-soli…
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#14011 P: https://nosh.jp/influencer-promotion?key=shinycolors20221101
  easylist/easylist_allowlist.txt
Labels: Easylist

#13988 A: (nsfw) nips.com
  easylist/easylist_general_hide.txt
Labels: Easylist

#14016 A: https://genshin-impact-map.appsample.com/?map=enkanomiya
  easylist/easylist_specific_hide.txt
Labels: Easylist

#13974 A: https://www.marmiton.org/masterclass
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#14022 P: https://makitani.net/ighashtagsearch/ (fixes https://github.com/to…
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#14050 A: (nsfw) projectjav.com (fixes https://github.com/AdguardTeam/Adguar…
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#14082 A: https://myllarin.fi/ (cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#14079 A: foreca.* (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#14077 A: https://www.techonthenet.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#14064 A: https://www.sportscardforum.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14037 A: https://www.editions-eni.fr/
  easylist_cookie/easylist_cookie_international_specific_block.txt
Labels: Easylist Cookies

#14039 A: https://www.freelogovectors.net/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easylist

#14035 A: https://www.lodoshaber.com/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Annoyances

#14034 A: https://community.tp-link.com/en/home/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#14029 A: https://insta-stories-viewer.com/umitozdag/ (fixes https://github.…
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#14033 A: https://nicepage.com/html-templates
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#14028 A: https://tr-ex.me/%E7%BF%BB%E8%A8%B3/%E8%8B%B1%E8%AA%9E-%E6%97%A5%E…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14061 A: (nsfw) https://asianmilfhub.com/japanese-mother-in-law-sex-videos-…
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#13955 A: https://telemetr.io/en/channels/1640277540-jointojoin11/posts
  easylist/easylist_thirdparty.txt
Labels: Easylist

#14094 A: https://www.paruvendu.fr/immobilier/vente/maison/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#14090 A: https://filemoon.sx/d/ox54q9701snq
  easylist/easylist_specific_block.txt
Labels: Easyprivacy

#14116 A: seurakuntavaalit.fi (GDPR dialog, uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#14132 M: Update
  easylist/easylist_adservers.txt
Labels: Easylist

#14125 P: https://zozo.jp/sp/zozoweek/ (account required)
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#14130 P: https://play.dlsite.com/csr/viewer/sample/hybrid?cgi=https%3A%2F%2…
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#14120 A: https://uploadrar.com/590qngxc9aw5
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14121 A: (uploadrar.com) #14120
  easylist/easylist_specific_block.txt
Labels: Easylist

#14127 A: metrotukku.fi (GDPR script block)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#14129 A: https://www.bbc.com/
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#14124 A: https://www.alanba.com.kw/1153290/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#14138 A: https://www.kiinteistomaailma.fi/ (cookie hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#14144 P: #14141
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#14143 A: (digiato.com) https://github.com/easylist/listear/pull/24
  easylist/easylist_general_hide.txt
Labels: Easylist

#14145 A: https://mailpost.io/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#14147 A: https://www.couchtuner.show/
  easylist/easylist_adservers.txt
Labels: Easylist

#14148 A: https://www.usmagazine.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14154 A: https://imgur.io/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14153 A: https://everydayrussianlanguage.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14175 A: https://kiitoskauppa.fi/ (cookie hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#14174 A: fandom.com (GDPR dialog hide, uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#14166 A: grampianonline.co.uk & inverness-courier.co.uk
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#14155 A: https://www.courir.com/fr/p/nike-hoodie-have-a-nike-day-1497631.html
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#14196 A: https://www.gawker.com/ (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#14188 M: whatsapp.com (GDPR hide, uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#14192 A: https://animixplay.to/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14206 A: https://www.supla.fi/ (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#14205 A: https://osta.museokortti.fi/ (cookie hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#14204 A: (nsfw) beeg.porn (fixes https://github.com/AdguardTeam/AdguardFilt…
  easylist_adult/adult_specific_hide.txt
  easyprivacy/easyprivacy_thirdparty.txt
Labels: NSFW

#14207 A: https://dexdotexe.com/ (ad placeholders)
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14201 A: https://1337x.buzz/
  easylist/easylist_thirdparty.txt
Labels: Easylist

#14208 P: https://www.eki-net.com/Personal/Top/Index (account required)
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#14229 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#14225 M: Update
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14221 M: https://www.healthline.com/ (Fixes #14180)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#14218 A: https://torquemag.io/ (cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#14216 A: https://sortter.fi/ (cookie hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#14210 A: (wheregoes.com) #14209
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#14243 A: https://www.fotmob.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#14241 A: https://en.unionpedia.org/Test
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14211 A: https://chewingthefat.us.com/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#14209 A: https://wheregoes.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#14200 A: https://stad.yalla-shoot.io/live/1.php
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#14250 A: (nsfw) rokuhentai.com (fixes https://github.com/AdguardTeam/Adguar…
  easylist/easylist_general_hide.txt
Labels: Easylist, NSFW

#14161 A: https://www.kooora.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#13868 A: https://player.fm/podcasts/Audio-Sex-Stories (fixes https://github…
  easylist/easylist_general_hide.txt
Labels: Easylist

#13867 A: https://pubs.rsc.org/en/journals/journalissues/cc (fixes https://g…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14271 mizunogolf.com
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#14270 Update easylist_cookie_international_specific_hide.txt
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#14268 A: http://www-.excnn.com/manga-raw/273319-zenbu-oshiete-sensei-01-05.…
  easylist/easylist_adservers.txt
  easylist/easylist_specific_block.txt
Labels: Easylist

#14266 A: https://finna.fi/ (cookie hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#14275 A: (nsfw) mangahatachi.com
  easylist/easylist_general_hide.txt
Labels: Easylist
