Repository easylist/easylist, pull requests merged in 2022-07, with the labels that each got.

#12432 P: https://type.jp/job-1/1259275_detail/?pathway=32
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#12452 A: gameinfinitus.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12453 A: nhl.com (specific filter needed for uBO cookie hide)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#12448 P: https://onlineshop.ocn.ne.jp/category/ANDROID_MNP/
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#12456 A: tallink.com (cookie hide for uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#12457 A: https://www.lemonde.fr/
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#12468 A: https://abcnews.go.com/US/dead-officers-injured-haltom-city-shooti…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12465 P: tietoevry.com (scrolling not working, uBO fix)
  fanboy-addon/fanboy_newsletter_specific_uBO.txt
Labels: Fanboy Newsletters

#12464 [EasyList] Add ##.ad-side-wrapper
  easylist/easylist_general_hide.txt
Labels: Easylist

#12476 A: sponsored content on Albertsons
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#12486 Add Admiral hosts
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#12477 A: (nsfw) https://nudesjar.com/en (=> savetiknowm.org)
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#12472 A: https://www.lightnovelpub.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12493 P: tui.fi (fix scrolling)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#12508 A: https://journals.physiology.org/doi/abs/10.1152/jappl.1986.60.1.95
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12506 A: www.kohls.com
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#12505 A: (nsfw) nhentai.website
  easylist/easylist_adservers.txt
Labels: Easylist

#12504 P: quiz.mkpo.li
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#12497 A: https://klmanga.com/rzdz-the-strongest-dull-princes-secret-battle-…
  easylist/easylist_general_hide.txt
Labels: Easylist

#6928 A: https://jugem.jp/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#6961 A: #6960
  easylist/easylist_general_hide.txt
Labels: Easylist

#12520 A: napsu.fi (specific cookie hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#12516 P: https://www.coolblue.be/en
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#12515 A: https://www.coolblue.be/en
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#12514 A: https://www.dimensions.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#6772 A: #6771
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#6957 A: (nsfw) https://theporn.cc/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#6989 A: https://www.gsmbouali.com/
  fanboy-addon/fanboy_notifications_general_block.txt
Labels: Fanboy Notifications

#12532 A: (nsfw) www.amateurporn.me
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#12531 A: (nsfw) filtercams.com
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#12530 A: (nsfw) capitalregionusa.xyz
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#12529 A: m-oo-m.com
  easyprivacy/easyprivacy_specific_international.txt
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#12528 A: https://www.lenovo.com/tr/tr/laptops/ideapad/gaming-3-series/Gamin…
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#12548 A: https://fr.jobsora.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#12547 A: https://us.jobsora.com/jobs/q-sale
  easylist/easylist_specific_block.txt
Labels: Easylist

#12552 A: (GDPR tracking) lavie.fr, lemonde.fr, lepoint.fr, telerama.fr
  easyprivacy/easyprivacy_specific.txt
Labels: Easylist Cookies

#12545 A: https://www.innovation.lu.se/en/welcome-lu-innovation
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#12544 M: redundancies
  easylist_cookie/easylist_cookie_international_specific_block.txt
Labels: Easylist Cookies

#12550 A: https://www.premierleague.com/copyright-infringement
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#12564 A: nylon.com (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12567 A: Adservers(bundle) - 12.07.22
  easylist/easylist_adservers.txt
Labels: Easylist

#12566 A: https://www.1tamilmv.click/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12572 Fixes for wbnq wbwn and wjbc.com
  easylist/easylist_allowlist.txt
  easylist/easylist_general_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12573 A: https://www.dcnewsnow.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12575 A: https://browser-addons.com/adblock-plus-free-ad-blocker/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#12585 A: irc-galleria.net (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12587 M: Upate
  easylist/easylist_specific_hide_abp.txt
Labels: Update Filter

#12590 A: https://material.io/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#12576 A: https://billionaireimmo.com/en
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#12591 A: www.pcloud.com
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#12592 P: https://friday.gold/article/120904 (fixes https://github.com/Adgua…
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#12594 A: https://www.originalfilmart.com/en-tr/products/reservoir-dogs-uk (…
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#12601 A: https://winaero.com
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#12593 A: www.meteo.it
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#12611 A: kilpisjarvenretkeilykeskus.fi (cookie banner hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#12612 P: alueviesti.fi (fix scrolling)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#12610 A: (nsfw) barscaffolding.co.uk
  easylist_adult/adult_specific_hide.txt
Labels: Easylist

#12609 A: (nsfw) www.uraaka-joshi.com
  easylist/easylist_adservers.txt
Labels: Easylist

#12608 A: (nsfw) silverblog.tv
  easylist/easylist_adservers.txt
Labels: Easylist

#12606 A: https://www.windowscentral.com/
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Annoyances

#12614 A: https://financeritual.com/the-worlds-top-6-youngest-female-billion…
  easylist/easylist_adservers.txt
Labels: Easylist

#12617 M: Update
  easylist/easylist_specific_hide_abp.txt
Labels: Update Filter

#12624 M: Update
  easylist/easylist_specific_hide.txt
Labels: Update Filter

#12620 A: gamerdvr.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12616 A: timeanddate.com (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12636 A: https://freecourseweb.com/
  fanboy-addon/fanboy_social_general_block.txt
Labels: Fanboy Social

#12627 A: https://wtechnews.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12632 A: https://1337x.to/torrent/5328301/House-Party-v1-0/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12641 A: https://pix-geeks.com/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#12646 A: https://apkmody.io/
  easylist/easylist_specific_block.txt
Labels: Easylist

#12648 A: [NSFW] https://nhentai.io/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12653 A: (nsfw) hentaifox.com (fixes https://github.com/AdguardTeam/Adguard…
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#12651 A: https://9anime.tube/watch/shinmai-maou-no-testament-burst-ova-dub/
  easylist/easylist_thirdparty.txt
Labels: Easylist

#12650 A: (nsfw) https://incestgod.com/video/very_horney_sister_with_her_bro…
  easylist/easylist_general_hide.txt
Labels: Easylist, NSFW

#12657 A: liquidblox.com (generic cookie hide)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#12652 A: tilannehuone.fi (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12658 A: Adservers(bundle) - 22.07.22
  easylist/easylist_adservers.txt
Labels: Easylist

#12659 P: https://baseball.yahoo.co.jp/mlb/, https://soccer.yahoo.co.jp/jlea…
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#12672 A: https://www.android-mt.com/jeux/p/127578/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#12671 A: https://ruedesjoueurs.com/loto-fdj/fdj-news/news-euromillions/63951-fdj.html
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#12670 A: https://www.ruedesjoueurs.com/
  fanboy-addon/fanboy_notifications_general_block.txt
Labels: Fanboy Notifications

#12669 A: http://electromenager-compare.com/ (homecine-compare.com & lcd-compare.com)
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#12668 A: https://www.nicematin.com/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#12666 A: https://www.nicematin.com/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#12664 A: https://www.lefigaro.fr/
  easylist_cookie/easylist_cookie_international_specific_block.txt
Labels: Easylist Cookies

#12663 A: https://codespromo.lefigaro.fr/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#12661 A: https://asia2tv.cn/
  fanboy-addon/fanboy_annoyance_general_block.txt
Labels: Fanboy Annoyances

#12679 A: https://arktimes.com/arkansas-blog/2022/07/22/public-records-detai…
  easylist/easylist_general_block.txt
  easylist/easylist_general_hide.txt
Labels: Easylist

#12690 M: foreca.fi scrolling blocked
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#12691 P: foreca.com / forecaweather.com (scrolling blocked)
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#12722 A: Adservers(bundle) - 27.07.22
  easylist/easylist_adservers.txt
Labels: Easylist

#12717 A: (apkcombo.com) #12716
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12709 A: https://namechk.com/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#12711 A: https://www.hosteurope.de/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#12704 A: https://home.pl/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#12707 A: https://www.repasdelice.com/
  fanboy-addon/fanboy_newsletter_general_hide.txt
Labels: Fanboy Newsletters

#12705 A: https://www.arabiaweather.com/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#12702 A: https://fileproinfo.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12701 A: https://happymod.com/adblock-browser-block-ads-browse-faster-mod/org.adblockplus.browser/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12699 A: Adservers(bundle-2) - 26.07.22
  easylist/easylist_adservers.txt
Labels: Easylist

#12715 A: https://www.ncrypted.net/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#12706 A: https://www.arabiaweather.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#12716 A: https://apkcombo.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#12726 A: myabandonware.com (cookie dialog hide for uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#12727 A: eurheilu.org (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12700 A: (nsfw) www.hispasexy.org
  easylist/easylist_adservers.txt
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#12737 M: Make third-party
  easylist/easylist_adservers.txt
Labels: Easylist

#12732 A: https://animexinax.com/dubu-xiaoyao-episode-229-subtitle/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#12739 A: elisa.fi (+others) (cookie dialog block)
  easylist_cookie/easylist_cookie_specific_block.txt
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#12745 P: https://science-net.kahaku.go.jp/app/page/activity.html
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#12746 A: suomi.fi + others (specific cookie blocking)
  easylist_cookie/easylist_cookie_specific_block.txt
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#12774 A: flixable.com (cookie hide for uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#12767 A: gekkonen.net + others (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12756 A: pelit.fi (cookie banner hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#12753 A: findit.fi (cookie banner block)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12771 M: nytimes.com (removing cookie banner whitelistings)
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
Labels: Easylist Cookies

#12776 A: etsy.com (cookie dialog hide, uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#12777 P: https://www.nihontsushin.com/entry/tou_goriteki.html?simtype=cards…
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#12775 A: manga9.co
  easylist/easylist_specific_block.txt
Labels: Easylist

#12766 A: suomenmaa.fi (newsletter hide)
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#12760 A: netrauta.fi (partial newsletter hide)
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#12779 A: cdon.fi (specific cookie block)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#12752 A: (nsfw) https://virtuagirlgirls.com/category/porn_star.html (update…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW
