Repository easylist/easylist, pull requests merged in 2023-03, with the labels that each got.

#15113 A: [NSFW] `javhat.tv`
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#15099 A: https://golfworkoutprogram.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15118 A: akaanseutu.fi + shl.fi
  easylist_cookie/easylist_cookie_specific_ABP.txt
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#15125 A: https://buffstream.fun/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15124 M: Update
  easylist/easylist_adservers.txt
  easylist/easylist_adservers_popup.txt
Labels: Easylist

#15132 A: https://www.menoinfo.fi (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#15135 A: https://www.calendar-uk.co.uk/faq/is-https-everywhere-still-useful
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15134 A: https://www.atlasobscura.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15129 P: https://www.irishnews.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15139 M: https://adrefresh.io/
  easylist/easylist_general_block.txt
Labels: Easylist

#15122 [NSFW] sexhd.pics
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#15140 A: (nsfw) pornpics.app, fanza.vip, etc. (fixes #15121)
  easylist/easylist_general_hide.txt
Labels: Easylist, NSFW

#15145 A: https://www.rotopino.fr/
  easyprivacy/easyprivacy_general.txt
Labels: Easylist, Easyprivacy

#15146 A: https://www.rotopino.fr/
  fanboy-addon/fanboy_newsletter_general_hide.txt
Labels: Fanboy Newsletters

#15150 A: (nsfw) javstream.club
  easylist/easylist_general_hide.txt
Labels: Easylist, NSFW

#15144 A: https://www.luigisbox.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#15155 A: masrawy.com & yallakora.com
  fanboy-addon/fanboy_notifications_specific_hide.txt
Labels: Fanboy Notifications

#15154 A: https://nexa.polito.it/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#15153 A: (nsfw) javxnxx.pro
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#15161 A: https://apkmb.com/
  easylist/easylist_thirdparty.txt
Labels: Easylist

#15158 A: https://www.dx.com/
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#15149 A: https://forum.gsmhosting.com/vbb/
  easylist/easylist_thirdparty.txt
Labels: Easylist

#15167 Sync
  easylist/easylist_adservers.txt
Labels: Easylist

#15169 A: https://www.msn.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15171 A: (nsfw) ad69.com (fixes https://github.com/AdguardTeam/AdguardFilte…
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#15178 M: Update
  easylist/easylist_adservers.txt
Labels: Easylist

#15177 A: https://www.amazon.co.jp/gp/video/detail/B0B63FH98B/ref=atv_hm_hom…
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#15156 A: masrawy.com & yallakora.com
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#15200 A: `hltv.org`
  easylist/easylist_specific_block.txt
Labels: Easylist

#15201 A: https://www.instacart.com/
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#15191 A: (nsfw) https://www.4wank.com/videos/159595/alt-scientist-ass-pumpi…
  easylist/easylist_general_hide.txt
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#15190 A: (nsfw) https://www.danude.com/videos/12008/august-ames-first-scene…
  easylist/easylist_adservers.txt
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#15189 A: (nsfw) https://www.theyarehuge.com/v/ass-pounded-wildcat-anal.big-boobs (…
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#15204 A: (nsfw) https://javbraze.com/search/pornstar/?s=
  easylist_adult/adult_specific_hide.txt
  easylist_adult/adult_thirdparty.txt
Labels: Easylist

#15210 P: https://www.eeva.fi/luetuimmat
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#15211 A: https://www.suomi24.fi/viihde/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#15186 M: jimms.fi GDPR dialog block
  easylist_cookie/easylist_cookie_international_specific_block.txt
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#15187 P: supla.fi podcasts not working (ELC issue)
  easylist_cookie/easylist_cookie_specific_block.txt
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#15209 M: update (nsfw) www.fetishshrine.com
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#15219 A: https://www.lanutrition.fr/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#15212 A: https://courrierinternational.com
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#15242 P: https://lidentitenumerique.laposte.fr scrolling
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#15241 A: www.croxyproxy.rocks (fixes https://github.com/AdguardTeam/Adguard…
  easylist/easylist_specific_hide.txt
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#15240 A: (nsfw) https://javhhh.com/video/STHS-013/
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#15239 A: (nsfw) javslon.com
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#15238 A: (nsfw) ggjav.com
  easylist/easylist_general_hide.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#15237 M: merge + add https://www.bygonely.com/
  fanboy-addon/fanboy_newsletter_specific_uBO.txt
Labels: Fanboy Newsletters

#15231 A: https://www.petco.com/
  easylist/easylist_specific_hide.txt
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#15229 A: spoox.skyperfectv.co.jp (account required)
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#15228 A: jp.mercari.com
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#15250 A: https://www.iconfinder.com/icons/99019/translate_google_icon
  easylist/easylist_specific_block.txt
Labels: Easylist

#15222 A: https://forums.opera.com/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#15196 A: https://fr.delsey.com/ shopify tracking
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#15273 A: https://www.wargamer.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15272 A: proxyium.com (fixes https://github.com/AdguardTeam/AdguardFilters/…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15266 P: bloomberg.com (ELC issue on Adguard Safari)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#15265 P: https://twicli.neocat.jp/twicli.html (login with Twitter account =…
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#15257 A: https://www.iltalehti.fi/
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#15256 A: https://varasija.com/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#15255 A: https://imagecompressor.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15254 A: https://www.freepik.com/free-vector/sand-desert-landscape-template_9581115.htm
  easylist/easylist_general_hide.txt
Labels: Easylist

#15278 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#15285 A: https://www.manomano.fr/applique-murale-salon-et-entree-179
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easyprivacy

#15287 A: Update revolving adservers
  easylist/easylist_adservers.txt
Labels: Easylist

#15282 M: Fix for `www.insiderintelligence.com`
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#15276 A: japan-design.jp (rel: https://github.com/AdguardTeam/AdguardFilter…
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#15296 A: https://wise.com/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#15292 A: `sainsburys.co.uk`
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#15197 A: https://fr.delsey.com
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#15314 A: https://www.mediapart.fr/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#15313 A: https://www.euro.com.pl/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#15312 A: https://www.bfmtv.com
  easyprivacy/easyprivacy_specific_international.txt
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#15311 A: motogp.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15322 M: Update
  easylist/easylist_adservers.txt
  easylist/easylist_specific_block.txt
  easylist/easylist_specific_hide.txt
  easylist_adult/adult_specific_block.txt
Labels: Easylist

#15323 A: https://www.newegg.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15324 M: Update
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#15329 A: https://www.amazon.fr/stores/PNYFrance/page/CFAC1517-E1DC-4118-A3B…
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#15328 A: https://medal.tv/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#15327 A: (nsfw) https://alotav.com/80184/miaa-790-teacher-can-you-protect-u…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#15326 A: (nsfw) javporn.video​
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#15304 P: https://suumo.jp/jj/bukken/shosai/JJ010FJ100/?ar=030&bs=010&nc=677…
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#15338 A: (nsfw) https://thotstars.com/p/4074 (fixes https://github.com/Adgu…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#15337 A: https://presearch.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15345 M: Update
  easylist/easylist_specific_hide.txt
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#15368 A: `bedbathandbeyond.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15380 M: Update
  easylist/easylist_adservers.txt
  easylist/easylist_adservers_popup.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist
