Repository easylist/easylist, pull requests merged in 2023-06, with the labels that each got.

#16153 A: Update revolving adservers
  easylist/easylist_adservers.txt
Labels: Easylist

#16163 A: (#16162) canalplus.com
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#16156 A: make.dmm.com
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#16162 A: https://www.canalplus.com/sport/riviere-qu-il-y-ait-eu-un-mail-c-est-sur-affaire-galtier/h/21599053_50001
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#16180 M: fruugo.*
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#16179 A: https://decode39.com/
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#16177 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16176 A: https://blog.desdelinux.net/en/select-copy-paste-text-in-nano/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16168 A: https://tyyliniekka.fi/
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#16167 A: https://www.astro.com/horoscope (fixes https://github.com/AdguardT…
  easylist/easylist_adservers.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16166 M: hallensteins.com (Fix typo)
  fanboy-addon/fanboy_newsletter_shopping_specific_hide.txt
Labels: Fanboy Annoyances

#16155 A: https://picrew.me/ja/image_maker/1467769 (fixes https://github.com…
  easylist/easylist_specific_block.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16154 A: https://www.secondechance.org/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#16152 A: (nsfw) xxf.mobi
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#16150 A: (nsfw) hclips.com
  easylist_adult/adult_thirdparty.txt
Labels: NSFW

#16145 A: https://www.omglinux.com/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#16190 A: https://www.sncf-connect.com/app/account
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#16199 Update easylist_cookie_international_specific_hide.txt
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#16200 Update easylist_cookie_specific_hide.txt
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16194 A: cattime.com, liveoutdoors.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16186 A: whitecrystal.hu
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#16204 A: jobslampung.net
  easylist/easylist_general_hide.txt
Labels: Easylist

#16203 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#16220 A: https://www.ancient-origins.net/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16225 M: Fix typo
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#16221 A: https://cocreco.kodansha.co.jp/cocreco/general/education/D1T9X (fi…
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#16242 A: https://www.thinkwithgoogle.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16233 A: https://setapp.com/how-to/force-quit-on-mac
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16232 A: https://setapp.com/how-to/force-quit-on-mac
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#16241 A: https://www.bing.com/
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#16251 A: Update revolving adservers
  easylist/easylist_adservers.txt
Labels: Easylist

#16260 A: https://ouraring.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16254 A: https://chimeraos.org/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#16262 A: cdon.*
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#14743 A: https://auth.services.adobe.com/fr_FR/deeplink.html
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#16283 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#16290 A: (nsfw) hentaimama.io
  easylist_adult/adult_specific_hide.txt
Labels: Easylist

#16289 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#16286 A: https://www.lifehacker.jp/article/2306-how-to-see-which-apps-are-u…
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#16299 M:Update
  easylist/easylist_adservers.txt
  easylist/easylist_thirdparty.txt
Labels: Easylist

#16302 Update easyprivacy_thirdparty_international.txt
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#16325 M: Fix for #16321
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16303 A: zigstyle.jp, cosmeadviser.com
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#16336 A: https://www.decathlon.fr
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#16332 Tracker acaric.jp
  easyprivacy/easyprivacy_general.txt
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#16335 A: Update revolving adservers
  easylist/easylist_adservers.txt
Labels: Easylist

#16363 A: (nsfw) www.pornjam.com
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#16374 A:`mediaweek.com.au`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16375 A:`templateshub.net`
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#16385 A: hammastieto.fi (GDPR generic hide)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#16386 Remove pr0gramm.com overlay-rule as it blocks too much
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#16399 A: gomibo.*
  easylist_cookie/easylist_cookie_international_specific_hide.txt
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16412 Update easylist_cookie_international_specific_hide.txt
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#16415 M: Update
  easylist/easylist_adservers.txt
Labels: Easylist

#16398 P: https://loom.media-platform.com/signin
  easyprivacy/easyprivacy_thirdparty.txt
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Update Filter

#16427 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#16471 eco-toimistotarvikkeet.fi / proficient.fi GDPR (uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#16470 A: historianet.fi,tieku.fi (GDPR, uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#16460 A: https://ilmonet.fi/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16394 A:`dictionary.com`
  fanboy-addon/fanboy_annoyance_thirdparty.txt
Labels: Fanboy Annoyances

#16489 Update easylist_cookie_specific_hide.txt
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16500 M:Update
  easylist/easylist_adservers.txt
  easylist/easylist_adservers_popup.txt
Labels: Easylist

#16499 A: https://www.songsterr.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16498 A: https://www.perille.fi/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16491 M: https://www.iltalehti.fi/
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#16490 A: developer.ing.com (GDPR, uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#16454 A: https://www.androidtrends.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16503 A: http://entywbas.com/ & https://washwasha.org/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#16508 A: https://kharphonk.com/linux/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#16507 A: https://hitek.fr/actualite/v_42977
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#16506 A: https://sigma-4pc.com/742/office-2007-english-full
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#16488 ehealth.gov.gr GDPR dialog (uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#16481 A: https://www.toptal.com/developers/hastebin
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16449 M: adjust GDPR rules
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#16443 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16519 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#16518 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#16515 A: https://dirtfish.com/
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#16512 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#16510 A:`373news.com`
  easylist/easylist_general_hide.txt
Labels: Easylist
