Repository easylist/easylist, pull requests merged in 2023-10, with the labels that each got.

#17449 A:`insidemydream.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17447 A:`forabodiesonly.com`
  easylist/easylist_specific_block.txt
Labels: Easylist

#17452 A: https://www.lesmobiles.com/telephones/samsung-galaxy-a23.html
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#17453 A: Update revolving adservers
  easylist/easylist_adservers.txt
Labels: Easylist

#17461 A: https://waqi.info/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17460 A: https://safety.google/ (Fix #17454)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#17437 A: https://msguides.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17476 A:yovizag.com
  easylist/easylist_specific_hide.txt
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#17467 A: muziker push notifications popup
  fanboy-addon/fanboy_notifications_specific_hide.txt
Labels: Fanboy Notifications

#17459 P: startrek.website (Fix #17443)
  easylist/easylist_allowlist.txt
Labels: Easylist

#17458 A: c.newyorker.com & qc.newyorker.com
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#17479 A: https://www.loudersound.com/
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#17497 M: srf.ch
  easylist_cookie/easylist_cookie_allowlist.txt
Labels: Easylist Cookies

#17483 A: https://www.patreon.com/posts/how-to-resize-sd-90211333 (Mobile Popup, Fixes #17482)
  fanboy-addon/fanboy_notifications_specific_hide.txt
Labels: Fanboy Notifications

#17501 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#17543 M: filter update
  fanboy-addon/fanboy_notifications_specific_hide.txt
Labels: Fanboy Annoyances

#17567 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#17589 A:`houstonherald.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17587 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#17592 Add ads.snapchat.com to popup allow list
  easylist/easylist_allowlist_popup.txt
Labels: Easylist

#17569 A: https://www.leroymerlin.fr/search?q=iphone
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#17657 M: Update
  easylist/easylist_adservers.txt
Labels: Easylist
