Repository easylist/easylist, pull requests merged in 2023-01, with the labels that each got.

#14547 A: (nsfw) pornfap.tv (fixes https://github.com/AdguardTeam/AdguardFil…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#14546 A: (nsfw) www.fetishshrine.com (fixes https://github.com/AdguardTeam/…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#14545 A: (nsfw) https://www.javvr.net/maxvr-111/
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#14542 M: make specific
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#14541 A: https://m.alibaba.com
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#14540 A: https://hoctap.coccoc.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#14539 A: hepsiburada.com
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#14538 A: https://tyyliniekka.fi/ (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#14524 P: (potentially nsfw) https://peachjohn.co.jp/pjitem/detail/?COLOR=06…
  easyprivacy/easyprivacy_allowlist_international.txt
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Easyprivacy

#14535 A: https://nytimes.stats.com/ (cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#14536 P: https://www.book-secure.com/index.php?s=results&property=frpar17534
  fanboy-addon/fanboy_social_allowlist_general_hide.txt
Labels: Fanboy Social

#14448 A: www.cinematoday.jp
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#14491 A: https://www.kaspersky.fr
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#14556 A: https://www.office.com/launch/excel
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#14560 A: hikakaku.com
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#14559 A: manga1000.su
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#14558 A: (nsfw) https://xxxdan3.com/ja/44489b/hairypussy-curvy-redhead-milf…
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
  easyprivacy/easyprivacy_general.txt
Labels: Easylist, Easyprivacy, NSFW

#14553 A: https://www.konejatarvike.com/ (cookie hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#14564 A: https://www.cesu.urssaf.fr/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#13871 A: https://fr.indeed.com/cmp/Ikea
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#13872 A: https://fr.indeed.com/survey/mc?cid=1d10791480d744ad&from=salarysa…
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#14582 A: https://assure.ameli.fr/PortailAS/appmanager/PortailAS/assure
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#14581 A: https://www.gap-france.fr/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#14579 A: https://www.20minutes.fr/
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#14578 A: https://www.midilibre.fr/2023/01/03/handball-le-montpellierain-kyl…
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#14577 A: https://www.bfmtv.com/politique/gouvernement/retraites-immigration…
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#14594 A: (nsfw) https://thehentaiworld.com/?new= (fixes https://github.com/…
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#14593 P: https://dcard.docomo.ne.jp/st/campaigns/index.html (update #12065)
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy, Git Rebase Needed

#14601 A: (nsfw) h-flash.com (fixes https://github.com/AdguardTeam/AdguardFi…
  easylist/easylist_general_hide.txt
  easylist_adult/adult_specific_hide.txt
  easylist_adult/adult_thirdparty.txt
Labels: NSFW

#14614 A: https://don.secourspopulaire.fr/defaut/~mon-don
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#14618 A: https://www.ecoprint.info/ (cookie hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#14610 A: https://moviesonlinefree.net/genre/history/
  easylist/easylist_adservers.txt
Labels: Easylist

#14648 A: https://intl.startrek.com/ (cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#14629 A: https://www.roundshot.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#14633 A: https://flipboard.com
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#14624 A: https://www.romsgames.net/download/nintendo-64-rom-donkey-kong-64/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14637 A: https://www.decathlon.fr
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#14635 P: halvinsähkösopimus.fi (price watch broken)
  fanboy-addon/fanboy_newsletter_allowlist_general_hide.txt
Labels: Fanboy Newsletters

#14655 A: `torbay.gov.uk`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14689 A: https://www.marianne.net
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#14680 A: https://www.norauto.it/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#14679 A: https://group.accor.com/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#14667 A: https://you.com/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#14666 P: https://prime.coinbase.com/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#14651 picnob.com
  easylist/easylist_specific_hide.txt
Labels: Update Filter

#14694 A: https://www.hollisterco.com/shop/eu-fr
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#14683 A: `itmedia.co.jp`
  easylist/easylist_general_hide.txt
Labels: Easylist

#14661 A: https://bobbyhadz.com/blog/typescript-never
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#14653 A: (nsfw) javpornclub.com
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#14695 A: findus.fi (GDPR script block)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#14632 A: https://www.ouest-france.fr
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#14621 A: welovemanga.one
  easylist/easylist_specific_block.txt
Labels: NSFW

#14709 A: https://www.irishtimes.com/ (Fixes #14686)
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14704 A: https://www.cined.com/redcode-raw-codec-dissected-by-jinni-tech-to…
  easylist/easylist_general_hide.txt
Labels: Easylist

#14716 A: (nsfw) javgg.net
  easylist/easylist_general_hide.txt
Labels: Easylist, NSFW

#14611 A: (nsfw) tyoieronews.blog.jp
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#14732 A: https://www.cairn.info/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#14739 P: https://adfurikun.jp/adfurikun/
  easylist/easylist_allowlist.txt
Labels: Easylist

#14730 A: (nsfw) `https://nhentai.to/`
  easylist_adult/adult_adservers_popup.txt
Labels: Easylist

#14737 P: https://about.smartnews.com/ja/advertisers/, https://ads.smartnews…
  easylist/easylist_allowlist.txt
  easylist/easylist_general_block.txt
  easylist/easylist_general_block_popup.txt
Labels: Easylist

#14749 P: https://sportiva.shueisha.co.jp/smart/?category=baseball (mobile UA)
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#14752 A: naukawpolsce.pl + scienceinpoland.pl
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#14751 A: https://remppatori.fi/ (cookie hide)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#14750 A: https://www.lendo.fi/ (cookie hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#14772 A: vts.fi (GDPR dialog)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#14770 A: so-zou.jp
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#14769 A: (nsfw) https://gaystream.pw/video/31805/sir-peter-bottoms-for-toma…
  easylist/easylist_general_hide.txt
Labels: Easylist

#14768 A: https://www.empireonline.com/ (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#14766 P: rocketnews24.com,youpouch.com,soranews24.com
  easyprivacy/easyprivacy_allowlist.txt
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#14765 A: `dailydooh.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14764 M: Update
  easylist/easylist_adservers.txt
Labels: Easylist

#14761 A: https://wp-plugins-directory.com/error_log-file-viewer
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#14773 A: https://manual.limesurvey.org/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14776 A: https://www.lego.com
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#14795 M: https://forums.limesurvey.org/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14786 A: (nsfw) https://www.depvailon.com/img.html?url=https://i2.wp.com/im…
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#14783 P: https://www.voice.fi/
  fanboy-addon/fanboy_social_allowlist_general_hide.txt
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#14788 A: (nsfw) pantyhosepornstars.com
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#14778 A: https://www.apec.fr/candidat/etre-accompagne-dans-votre-recherche-…
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#14809 A: (nsfw) missav.com
  easylist_adult/adult_specific_block_popup.txt
Labels: NSFW

#14792 A: (nsfw) www.bravotube.net
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#14816 P: https://pro-foto.jp/ads/
  easylist/easylist_allowlist.txt
Labels: Easylist

#14815 A: https://epark.jp/docs/campaign/2022/eparkparty/web/?from_toprecommend
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#14814 A: Multiple sites (cookie hide)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#14812 A: https://www.iltalehti.fi/
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#14807 A: https://www.ku.fi/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#14789 A: https://www.telerama.fr/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#14779 A: https://markuphero.com/share/DqLFm5NGK7a0OfALYVy5
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#14777 A: https://www.apec.fr/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#14828 A: jp.shein.com
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy
