Repository easylist/easylist, pull requests merged in 2023-02, with the labels that each got.

#14849 A:indianexpress.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14858 A:cricbuzz.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14878 A: https://www.stara.fi/ (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#14870 A: (nsfw) www.fetishshrine.com (fixes https://github.com/AdguardTeam/…
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#14868 A: https://forbesjapan.com/articles/detail/60609
  easylist/easylist_general_hide.txt
Labels: Easylist

#14836 A: https://csueb.zoom.us/wc/join/5251448785
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#14875 A: `hornoxe.com`
  fanboy-addon/fanboy_social_international.txt
Labels: Easylist

#14885 A: (nsfw) www.pornwhite.com (fixes https://github.com/AdguardTeam/Adg…
  easylist/easylist_general_block.txt
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#14894 A: suojakalvotukku.fi (GDPR dialog)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#14893 A: phonelife.fi (GPRR dialog)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#14892 A: https://devuploads.com/66bk0q7cb1gs
  easylist/easylist_thirdparty.txt
Labels: Easylist

#14890 A: https://www.palais-de-la-voiture.com/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#14897 A: https://roguecompany.com/ (cookie hide)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#14942 A: https://shop.whois.com/domain-registration/index.php
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#14934 A: https://conquestador.com/ja/sports
  easylist_cookie/easylist_cookie_specific_hide.txt
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy, Easylist Cookies

#14883 A: (nsfw) `hdzog.tube`
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#14925 A: (nsfw) www.sleazyneasy.com (fixes https://github.com/AdguardTeam/A…
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#14833 M: (nsfw)`tubesweet.com`
  easylist/easylist_adservers.txt
  easylist_adult/adult_adservers.txt
Labels: Update Filter

#14917 A: (nsfw) https://sexcelebrity.net/yang-chaoyue-rocket-girl-101-plays…
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#14924 A: (nsfw) https://www.onlyhentaistuff.com/videos/9883/kitsune-musume-…
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#14846 A:hindustantimes.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14606 A: https://wwads.cn/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#14941 M: https://adhunt.net/
  easylist/easylist_adservers.txt
Labels: Easylist

#14962 A: `androidpctv.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#14972 A: https://capping.sirius.press
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#14970 A: https://www.bouyguestelecom.fr
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#14966 P: verkkokauppa.com
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#14974 A: https://www.dexerto.com/
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#14985 A: https://distrokid.com/ (cookie hide)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#14980 P: https://www.tv-tokyo.co.jp/plus/smp/entertainment/entry/2023/02735…
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#14979 P: https://www.spacemarket.com/spaces/rakuraku-kinshicho/rooms/5iUmIB…
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#14973 CRM XenForo 2.x
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#14995 F: `soap2day.ac`
  easylist/easylist_specific_block.txt
Labels: Update Filter

#14998 P: https://iplogger.com/2VCZD5
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#15008 A: coinhub.wiki
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15006 A: www.smallnetbuilder.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15017 A: (nsfw) https://nextlawyer.it/video-uzelnea/_18_..._
  easylist/easylist_adservers.txt
Labels: Easylist

#15035 A: ted.com
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#15034 M: Update
  easylist/easylist_adservers.txt
  easylist/easylist_general_block.txt
Labels: Easylist

#15043 A: https://the-blog.fr/vendre-nft-en-2023/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#15073 A: https://superdeluxeedition.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15071 A: https://www.standard.co.uk/tech/fbi-recommends-ad-blocker-online-scams-b1048998.html
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#15070 A: https://swimswam.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15064 P: https://levaisseau.com
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#15059 A: mixi.jp
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#15052 A: (nsfw) https://vndevtop.com/video-n3yxhd9/horny_chick_get_fucked_u…
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: Easylist

#15051 A: (nsfw) mov18plus.com (fixes https://github.com/AdguardTeam/Adguard…
  easylist/easylist_general_hide.txt
Labels: Easylist

#15077 M: https://huutokaupat.com/ (update cookie hide)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#15083 A: (nsfw) https://pornmix.org/videos/2652/milfs-completement-nympho-z…
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#15082 P: https://advert.ge/
  easylist/easylist_general_block.txt
Labels: Easylist

#15081 A: (nsfw) eegirls.com,pornofilmes.com,pornstory.net,sexclips.pro
  easylist/easylist_adservers.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#15080 A: pisla.fi (GDPR dialog)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#15079 A: lr-in.com, lr-in-prod.com
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#15089 A:[NSFW] `zbporn.com`
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#15087 Added coverage for the newest Tor domains for Reddit, Twitter, and Facebook
  easylist/easylist_specific_hide.txt
  easylist/easylist_specific_hide_abp.txt
Labels: Update Filter

#15090 A: https://black-flag.net/
  easylist/easylist_general_hide.txt
Labels: Easylist

#15094 A: https://www.argos-tradein.co.uk/ (cookie hide)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#15096 A: deals.ghacks.net + deals.thehackernews.com
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies
