Repository easylist/easylist, pull requests merged in 2023-08, with the labels that each got.

#16929 M: Update
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#16930 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#16944 A:`fmforums.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16941 A:`reaperscans.com`
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#16954 A: elgiganten.dk,elgiganten.se,elkjop.no,gigantti.fi (GDPR)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#16960 A: urbaanisanakirja.com (GDPR)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#16962 Add adinplay.workers.dev to adservers list
  easylist/easylist_adservers.txt
Labels: Easylist

#16961 `/flying-analytics/*`
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#16957 A: `copyprogramming.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16955 A: `techspree.net`
  easylist/easylist_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Easylist, Fanboy Annoyances

#16949 Update easylist_cookie_specific_hide.txt
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16923 Update easylist_cookie_international_specific_hide.txt
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#16963 U: modrinth.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16968 M: https://pirkkalainen.fi/
  easylist_cookie/easylist_cookie_international_specific_block.txt
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#16967 A: https://orbitaltoday.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16966 A: ilonpolku.fi (GDPR, uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#16913 Update easylist_cookie_specific_hide.txt
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16918 Fix for https://thetvdb.com/ #16917
  easylist/easylist_allowlist.txt
  easylist/easylist_general_block.txt
Labels: Easylist

#16942 A:`asura.gg`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16990 A: https://www.myminifactory.com/search/?query=xbox
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16988 A: (NSFW) xrares.com
  easylist_adult/adult_specific_block.txt
Labels: Easylist

#16981 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: NSFW

#16980 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16979 Update easyprivacy_general.txt
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#16997 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#16996 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#16973 A:`allrecipes.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16998 Update easylist_specific_block.txt
  easylist/easylist_specific_block.txt
Labels: Easylist

#16995 Update easylist_cookie_specific_block.txt
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#17001 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17000 Update easyprivacy_trackingservers.txt
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#16999 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#16914 Update easyprivacy_specific.txt
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#16902 Update easyprivacy_specific.txt
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#17010 A: https://ground.news/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#17018 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#17009 Update easylist_cookie_specific_block.txt
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#17008 Update easyprivacy_specific.txt
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#17007 Update easylist_cookie_specific_block.txt
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#17006 Update easyprivacy_specific.txt
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#17021 A:[NSFW] `xhtab2.com`
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#17020 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#17026 Update easyprivacy_specific.txt
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#16898 A: https://sportti.com/
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#16896 A: https://www.adressit.com/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#17024 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#16839 A: `radio.net`
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#17034 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17033 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#17031 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#17047 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#17046 A:`watchcartoononline.bz`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17045 A: manuals.co.uk (generic block)
  easylist/easylist_general_block.txt
Labels: Easylist

#17044 A: manuals.co.uk + sister sites (GDPR)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#17043 A:`comiko.net`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17035 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#17030 Update easylist_cookie_international_specific_block.txt
  easylist_cookie/easylist_cookie_international_specific_block.txt
Labels: Easylist Cookies

#17062 A: _vercel/insights/*
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#17061 A: `kvak.io`
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#17057 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17055 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#17053 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17050 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#17072 A:`teachit.co.uk`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17071 Update fanboy_annoyance_specific_block.txt
  fanboy-addon/fanboy_annoyance_specific_block.txt
Labels: Fanboy Annoyances

#17070 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#17069 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#17068 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#17067 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#17075 A:`nacm.xyz`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17074 A:[NSFW]`komikindo.info`
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#17107 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#17105 A: ku.fi (GDPR)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#17100 A: `numuki.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17099 A: `garticphone.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17098 A: `bl.uk`
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#17096 A: `indiamike.com`
  easyprivacy/easyprivacy_thirdparty.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Easyprivacy

#17123 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#17078 M:Update
  easylist_adult/adult_specific_hide.txt
Labels: Easylist

#17083 Update easyprivacy_thirdparty.txt
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#17082 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17081 Update EasyList/Fanboy's Newsletter Specific Hide
  easylist/easylist_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Easylist, Fanboy Newsletters

#17142 Update easylist_cookie_specific_hide.txt
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#17141 Update easylist_cookie_international_specific_hide.txt
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#17139 ketamineclinics.com
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#17066 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17054 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#17153 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17152 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#17156 Update easyprivacy_specific.txt
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#17150 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17090 A: `flaticon.com`
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#17163 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#17162 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#17161 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#17159 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#16387 A: https://bussitkartalla.matkahuolto.fi/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#17169 Update fanboy_newsletter_shopping_specific_hide.txt
  fanboy-addon/fanboy_newsletter_shopping_specific_hide.txt
Labels: Fanboy Newsletters

#17164 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#17088 A: `kiz10.com`
  easylist/easylist_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Easylist

#17174 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#17183 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#17182 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#17181 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#17180 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#17178 Update EasyList/Fanboy's Annoyance Specific Hide
  easylist/easylist_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Easylist

#17203 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#17201 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#17199 A: `eweek.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist
