Repository easylist/easylist, pull requests merged in 2023-11, with the labels that each got.

#17666 A: bittimittari.fi (GDPR, uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#17663 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#17660 P: 0xacab.org
  easylist/easylist_general_block.txt
Labels: Easylist

#17650 M: handled in uAssets
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#17649 P: fandom.com (blank videos, GDPR script)
  easylist_cookie/easylist_cookie_allowlist.txt
Labels: Easylist Cookies

#17635 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#17633 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#17675 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#17689 A:food.ndtv.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17690 A:indianexpress.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17713 A: https://nocodb.com/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#17708 A: http://politics.people.com.cn/n1/2021/1223/c1001-32314761.html
  fanboy-addon/fanboy_annoyance_international.txt
  fanboy-addon/fanboy_social_international.txt
  fanboy-addon/fanboy_social_specific_block.txt
Labels: Fanboy Social, Fanboy Annoyances

#17585 Update easyprivacy_thirdparty.txt
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#17726 A:`patriotnewsfeed.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17718 A:`beyondtheflag.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17698 M: obsolete
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
Labels: Easylist Cookies

#17648 M: handled in uAssets
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#17534 Update fanboy_social_specific_hide.txt
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#17526 Update easylist_cookie_thirdparty.txt
  easylist_cookie/easylist_cookie_thirdparty.txt
Labels: Easylist Cookies

#17794 A: `themarshallproject.org`
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#17793 A: `culture.org`
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#17792 A: `thebeliever.net`
  fanboy-addon/fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_notifications_specific_hide.txt
Labels: Fanboy Notifications, Fanboy Newsletters

#17786 A: `jackbox.tv`
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#17822 A: https://www.clubic.com/actualite-509287-google-a-peur-de-firefox-e…
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#17847 A: `cryptoecom.care`
  easylist/easylist_adservers.txt
Labels: Easylist

#17860 M: `paste.fo`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17857 A: ads.audio.thisisdax.com
  easylist/easylist_specific_block.txt
Labels: Easylist

#17831 M: remove Bloomberg GDPR rule
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#17777 A: `gtaforums.com`
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#17875 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#17873 P: varma.fi
  fanboy-addon/fanboy_newsletter_allowlist_general_hide.txt
Labels: Fanboy Newsletters

#17871 A: asiointi.varma.fi (GDPR, uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#17889 P: `uol.com.br`
  fanboy-addon/fanboy_newsletter_allowlist_general_hide.txt
Labels: Fanboy Newsletters

#17885 P: `adventuregamehotspot.com`
  fanboy-addon/fanboy_newsletter_general_hide.txt
Labels: Fanboy Newsletters

#17879 fix #17878 & #17877
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#17887 A: `neonheightsservers.com`
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist
