Repository easylist/easylist, pull requests merged in 2023-05, with the labels that each got.

#15742 A: suomenkuvalehti.fi (generic block smart app banner)
  fanboy-addon/fanboy_notifications_general_block.txt
Labels: Fanboy Notifications

#15736 A: https://www.iltalehti.fi/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#15734 A: https://www.lemonde.fr/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#15759 Quick fix for Adguard, Cookie list breaks pages
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#15768 A: valitutpalat.fi (newsletter)
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#15766 M: veikkaus.fi filters update (GDPR hide)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#15762 A: https://connect.kiloutou.fr/login
  easyprivacy/easyprivacy_specific_international.txt
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#15763 A: https://support.wahoofitness.com
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#15809 Update easylist_cookie_international_specific_hide.txt
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#15811 A: https://www.hitc.com/ (cookie script)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#15807 A: store.lixil.co.jp
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#15803 A: vinted.fr, vinted.de, vinted.nl
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#15798 A: (nsfw) xvid-hub.com
  easylist_adult/adult_thirdparty.txt
Labels: NSFW

#15797 A: (nsfw) pornid.xxx
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#15796 A: (nsfw) xhand.com
  easylist/easylist_adservers.txt
Labels: Easylist

#15826 Added in.bookmyshow.com to fix issue #15825
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#15824 A: https://www.weareclimb.fr/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#15823 A: https://www.credit-cooperatif.coop/se-connecter/identifier
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#15847 A: https://www.udemy.com/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#15845 A: https://www.suomenmaa.fi/ (cookie script)
  easylist_cookie/easylist_cookie_international_specific_block.txt
Labels: Easylist Cookies

#15843 A: (nsfw) namethatporn.com
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#15833 A: https://allwomenstalk.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15854 M:Update
  easylist/easylist_specific_hide_abp.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Easylist, Fanboy Annoyances

#15856 A:`instamod.co`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15885 M: Fix
  easylist/easylist_general_block.txt
Labels: Easylist

#15887 A:`komikcast.site`
  easylist/easylist_adservers_popup.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15886 M:Update
  easylist/easylist_adservers.txt
  easylist/easylist_thirdparty.txt
Labels: Easylist

#15880 A: https://www.luurinetti.fi/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#15863 A: https://www.burnedestrose.com/shop/pages/RA230502summerlook.aspx?s…
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#15901 M: https://www.valostore.fi/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#15898 Fix theprotocol.it
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#15922 A: www.nicovideo.jp. live.nicovideo.jp, sp.nicovideo.jp (fixes https:…
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#15907 A: https://viddla.fi/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#15906 A: (nsfw) danbooru.donmai.us
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#15932 A: www.computerworld.com,www.networkworld.com,probuildstats.com (upda…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15947 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15945 A: gamereactor.*
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#15950 A: https://www.srv.fi/
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#15939 A: Update revolving adservers
  easylist/easylist_adservers.txt
Labels: Easylist

#15938 P: https://hakurei.ga/bin2img/?
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#15957 Update easylist_cookie_international_specific_hide.txt
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#15961 M: builtbybit.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#15963 A: https://www.freebmd.org.uk/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16032 A: https://www.doctissimo.fr/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#16031 A: https://www.nationalworldplc.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16030 A: entertainmentdaily.co.uk thedailymash.co.uk thetab.com thepoke.co.uk
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#16012 A: (nsfw) https://gaystream.pw/video/42520/anal-envy-probing-into-his…
  easylist/easylist_adservers.txt
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#16005 A: (nsfw) adultcomixxx.com
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#15993 P: https://www.cmoa.jp/title/204173/ (fixes https://github.com/Adguar…
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#15984 A: themesinfo.com
  easylist/easylist_general_hide.txt
Labels: Easylist

#15975 A: https://www.asahi.co.jp/webnews/pages/abc_19582.html (fixes https:…
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#15635 A: (nsfw) https://topinsearch.com/13624-puffphox-high-risk-cruise-dra…
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#16051 A: https://eprinkside.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16043 M: obsoletes
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#16027 Update easylist_adservers.txt
  easylist/easylist_adservers.txt
Labels: Easylist

#15974 A: https://www.rakentaja.fi/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#16055 A: https://www.lemonde.fr/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#16079 A: https://uk.d-i-y.narkive.com/NeCQMXko/tot-an-observation
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16077 A: pyhajokiseutu.fi (generic hide)
  easylist/easylist_general_hide.txt
Labels: Easylist

#16076 A: https://defkey.com/en
  easylist/easylist_general_hide.txt
Labels: Easylist

#16067 A: https://www.vectorlogo.zone/logos/python/index.html
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#16065 P: https://wego.jp/apps/staffstart/coordinates/21124577?car=lp_denim-…
  easyprivacy/easyprivacy_allowlist_international.txt
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#16091 A: https://meteofrance.com/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#16084 M: block PopAd plugin, fixes their site
  easylist/easylist_general_block.txt
Labels: Easylist

#16110 A: https://www.francetvinfo.fr/
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#16108 A: https://www.lefigaro.fr/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#16107 A: https://www.footmercato.net/
  easylist_cookie/easylist_cookie_international_specific_block.txt
Labels: Easylist Cookies

#16106 A: https://www.bfmtv.com/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#16105 A: https://www.20minutes.fr/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#16100 A: https://www.carrefour.fr/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#16099 A: https://parcoursup.fr/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#16097 A: https://www.huffingtonpost.fr/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#16096 A: https://www.fourchette-et-bikini.fr/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#16095 A: https://www.fourchette-et-bikini.fr/
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#16090 A: https://www.leptidigital.fr/webdesign/l-26025/
  fanboy-addon/fanboy_newsletter_international_block.txt
Labels: Fanboy Social

#16086 A: (nsfw) https://www.javpost.net/PRED-463/
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#16134 A: getpocket.com ( Fixes https://github.com/easylist/easylist/issues/…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16136 A: #16125
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16135 P: https://sports.tv.rakuten.co.jp/pacificleague/content/445166/ (acc…
  easylist/easylist_allowlist.txt
Labels: Easylist

#16133 A: https://terveydenasialla.com/
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies
