Repository easylist/easylist, pull requests merged in 2023-12, with the labels that each got.

#17913 P: softonic.com
  easylist_cookie/easylist_cookie_allowlist.txt
Labels: Easylist Cookies

#17920 P: videos on `eurogamer.net`, `vg247.com`; A: `xxlmag.com`
  easylist/easylist_allowlist.txt
Labels: Easylist

#17916 A: `muzines.co.uk`
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#17908 A: `nft.news`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17939 A: talotekniikka-lehti.fi
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#17932 A: https://en.taiwebs.com/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#17918 A: asiakaspalvelu.verkkokauppa.com (GDPR)
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#17917 P: ampparit.com
  easylist_cookie/easylist_cookie_international_specific_block.txt
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy, Easylist Cookies

#17982 A: (nsfw) teenporno.xxx
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#17981 A: (nsfw) freeteen.sex
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#17957 A: https://eu.dlink.com/us/en
  fanboy-addon/fanboy_newsletter_general_hide.txt
Labels: Fanboy Newsletters

#17974 A: `pd3.gg`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17945 A: https://lowcarbtips.org/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17979 A: https://www.quechoisir.org/
  fanboy-addon/fanboy_newsletter_international_block.txt
Labels: Fanboy Newsletters

#17975 A: launer.com
  fanboy-addon/fanboy_newsletter_specific_uBO.txt
Labels: Fanboy Newsletters

#17949 A: toimitilat.kauppalehti.fi
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#17925 A: https://kickasstorrents.to/death-must-die-v0-6-56-t5898990.html
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17893 M: https://www.matkahuolto.fi/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#18040 A:cinesprint.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#18039 A:financialexpress.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#18038 A:timesnownews.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#18037 A:cmr24.net
  easylist/easylist_specific_hide.txt
Labels: Easylist

#18035 A:lankanewsweb.net
  easylist/easylist_specific_hide.txt
Labels: Easylist

#18034 A:greatandhra.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#18033 A:telugupeople.com
  easylist/easylist_specific_hide.txt
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#18025 M: `paste.fo`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#18060 domain update
  fanboy-addon/fanboy_notifications_specific_uBO.txt
Labels: Update Filter

#18061 P: m2o.it,deejay.it,capital.it
  easylist_cookie/easylist_cookie_allowlist.txt
Labels: Easylist Cookies

#18066 A: https://en.estsecurity.com/support/report
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#18093 A: https://goodwillwine.com.au/
  fanboy-addon/fanboy_annoyance_thirdparty.txt
Labels: Fanboy Annoyances

#18090 A: https://www.midilibre.fr/2023/12/22/cetait-pire-que-mon-accoucheme…
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#18087 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#18086 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#18085 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#18084 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#18065 A: 50plusmatch.fi
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#18053 P: unilad.com
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#18047 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#18032 M: obsolete rules
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#18030 A: kipparilehti.fi
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#18028 A: https://tyopaikat.oikotie.fi/
  easylist/easylist_general_hide.txt
Labels: Easylist

#18026 A: tampereenratikka.fi
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#18027 A: odeoncinemasgroup.smg.com
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#18103 M: https://www.yaani.com.tr/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#18102 Update easylist_cookie_thirdparty.txt
  easylist_cookie/easylist_cookie_thirdparty.txt
Labels: Easylist Cookies

#18100 Update easylist_adservers.txt
  easylist/easylist_adservers.txt
Labels: Easylist

#18110 A:udaipurkiran.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#18096 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#18016 A: https://forum.miata.net/
  easylist/easylist_specific_block.txt
Labels: Easylist

#18116 A:aajtakcampus.in
  easylist/easylist_specific_hide.txt
Labels: Easylist

#18115 A:newkerala.com
  easylist/easylist_specific_block.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#18147 Update privacy/newsletter lists
  easyprivacy/easyprivacy_thirdparty.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Easyprivacy, Fanboy Newsletters

#18141 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#18140 Update newsletter/annoyance filter
  fanboy-addon/fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Annoyances, Fanboy Newsletters

#18138 Update fanboy_annoyance_specific_hide.txt (NSFW)
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#18137 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#18134 M: paste.fo
  easylist/easylist_specific_hide.txt
Labels: Easylist
