Repository easylist/easylist, pull requests merged in 2023-07, with the labels that each got.

#16526 Update easyprivacy_specific.txt
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#16525 Update easylist_cookie_specific_hide.txt
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16520 Update easylist_cookie_specific_hide.txt
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16562 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#16553 Update easylist_cookie_international_specific_hide.txt
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#16551 Update easylist_cookie_international_specific_hide.txt
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#16546 A: soldfy.*
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16547 A: https://www.virtasenkauppa.fi/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#16531 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#16570 P: zdnet.com (GDPR breakage)
  easylist_cookie/easylist_cookie_allowlist.txt
Labels: Easylist Cookies

#16582 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#16571 A: gedik.com (GDPR dialog)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#16587 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#16585 A: lundui.fi, luontoon.fi, nationalparks.fi, utinaturen.fi
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16577 Update EasyPrivacy Specific, EasyList Specific Hide
  easylist/easylist_specific_hide.txt
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#16576 Update easylist_allowlist_general_hide.txt
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#16530 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#16529 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#16548 A: kaypahoito.fi & gogolf.fi (generic block, GDPR)
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#16597 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#16595 Update easylist_cookie_specific_block.txt
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#16594 M: redundancies
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#16593 A: secure.booking.com
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#16592 A: http://iiv.pl/ZEffW
  easylist/easylist_adservers.txt
Labels: Easylist

#16590 Update EasyPrivacy Specific, EasyList Cookie Specific Hide
  easylist_cookie/easylist_cookie_specific_hide.txt
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy, Easylist Cookies

#16606 Update easyprivacy_general.txt
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#16605 P: cmore.fi (GDPR breakage)
  easylist_cookie/easylist_cookie_allowlist.txt
Labels: Easylist Cookies

#16601 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#16589 Update easyprivacy_specific.txt
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#16550 A: kotitesti.fi (GDPR block)
  easylist_cookie/easylist_cookie_international_specific_block.txt
Labels: Easylist Cookies

#16617 Update easyprivacy_specific.txt
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#16616 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16615 Update easylist_general_block.txt
  easylist/easylist_general_block.txt
Labels: Easylist

#16626 A: maps4heroes.com (Subscribe to our Telegram Channel)
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#16620 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16619 Update easylist_specific_hide_abp.txt
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#16618 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16614 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#16664 M: Update
  easylist/easylist_adservers.txt
Labels: Easylist

#16689 M:Update
  easylist/easylist_specific_hide_abp.txt
Labels: Update Filter

#16653 Update easyprivacy_general.txt
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#16691 Update easyprivacy_specific_international.txt
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#16693 A:pricehistoryapp.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16690 Update easylist_cookie_international_specific_hide.txt
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#16692 Oneindia.com
  easylist/easylist_specific_hide.txt
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#16715 A: https://wallpapers.com/ (Fix #16365)
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16714 A: https://www.spotlistr.com/ (Fix #16556)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16713 A: https://www.songlyrics.com/ (Fix #16382)
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16711 A: https://www.agegeek.com/ (Fix #16188)
  easylist/easylist_specific_hide.txt
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist, Easylist Cookies

#16710 A: https://www.equalweb.com/ (Fix #16651)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16709 A: https://watercool.de/ (Fix #14981)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16708 A: https://www.deepdiscount.com/ (Fix #15182)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16707 P: https://www.genua.de/ (Fix #16409)
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#16700 Update easyprivacy_thirdparty.txt
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#16697 A: `mybib.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16686 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#16702 Update easylist_cookie_international_specific_hide.txt
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#16672 A: Update Admiral domains
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#16723 A: https://www.wallpaperflare.com/ (Fix #16404)
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16722 add nius.de sentry ingest proxy endpoint
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#16721 A: https://www.shuttle.rs/ (Fix #16234)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16720 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#16673 A: https://www.algeria-dream.com/
  fanboy-addon/fanboy_social_general_hide.txt
Labels: Fanboy Social

#16742 P: https://webtrack.dhlecs.com (Fix #14794)
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#16741 A: https://kpopping.com/ (Fix #16211)
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16740 A: https://www.researchgate.net/ (Fix #15263)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#16739 A: https://www.bergfex.com/ (Fix #16213)
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#16738 A: https://upjoke.com/ (Fix #16368)
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16737 A: https://support.arcgames.com/ (Fix #15581)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16736 A: https://maxblizz.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16735 P: https://www.estaldo.com/ (Fix #16719)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16763 A: `penguin.co.uk`
  fanboy-addon/fanboy_newsletter_shopping_specific_hide.txt
Labels: Fanboy Newsletters

#16752 Update easylist_cookie_international_specific_hide.txt
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#16751 M: `https://www.toptal.com/developers/htmlshell`
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16748 A: https://greatist.com/ (Fix #16744)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#16731 A: Update Admiral domains
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#16729 Update easyprivacy_specific.txt
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#16725 Update easylist_cookie_allowlist.txt
  easylist_cookie/easylist_cookie_allowlist.txt
Labels: Easylist Cookies

#16699 Update easyprivacy_trackingservers_international.txt
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#16667 A: https://visitnaantali.com/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#16661 A: https://www.filmbooster.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16652 Update easyprivacy_general.txt
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#16771 A: `delacortereview.org`
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#16746 iys.org.tr
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#16774 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#16778 A: `infobyip.com`
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#16775 A: `heavybit.com`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#16639 Update easyprivacy_specific.txt
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#16635 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16786 A: `game.co.uk`
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#16788 A: `unogs.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16790 A: `appatic.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16791 A: `privacyguides.org`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#16797 A: https://www.identity.digital/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#16800 P: cgdirector.com (Fix #16798)
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16814 Update fanboy_annoyance_thirdparty.txt
  fanboy-addon/fanboy_annoyance_thirdparty.txt
Labels: Fanboy Annoyances

#16813 Update fanboy_annoyance_thirdparty.txt
  fanboy-addon/fanboy_annoyance_thirdparty.txt
Labels: Fanboy Annoyances

#16812 Update EasyList/EasyPrivacy Third Party
  easylist/easylist_thirdparty.txt
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easylist

#16810 A: https://www.linuxfordevices.com/ (Fixes #16455)
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16809 A: https://medizzy.com/ (Fixes #15300)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16808 A: https://www.icontainers.com/ (Fixes #15934)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16807 A: https://spline.design/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16806 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16789 A: `mayottehebdo.com`
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#16792 A: `seeklogo.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16793 A: `1000logos.net`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16822 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#16804 Update easylist_specific_block.txt
  easylist/easylist_specific_block.txt
Labels: Easyprivacy

#16841 A: `who-called.co.uk`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16840 A: `tvarticles.me`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16831 P: gumtree.com.au
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#16832 P: telsu.fi
  easylist/easylist_general_block.txt
Labels: Easylist

#16853 A: https://www.kuopas.fi/
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#16849 A: https://dashboard.stripe.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16826 Update easylist_cookie_specific_hide.txt
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16865 Update EasyPrivacy Third Party, EasyList Cookie Allow General Hide
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy, Easylist Cookies

#16863 Update easyprivacy_specific.txt
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#16870 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#16861 Update easyprivacy_specific.txt
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#16845 A: https://www.biljardihuolto.fi/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16877 A: https://www.imt.fi/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#16882 A: https://torrentgalaxy.to/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16892 A: https://m.koreatimes.co.kr/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16888 M: https://www.indiewire.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#16880 A: https://www.perplexity.ai/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#16864 Update easyprivacy_specific.txt
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#16860 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#16906 Update easylist_cookie_allowlist_general_hide.txt
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
Labels: Easylist Cookies

#16907 A: https://go.dev/
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies

#16904 Update easyprivacy_thirdparty.txt
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#16903 Update adult_adservers.txt
  easylist_adult/adult_adservers.txt
Labels: Easylist
