Repository easylist/easylist, pull requests merged in 2023-09, with the labels that each got.

#17197 A: `d1f0tbk1v3e25u.cloudfront.net`
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#17208 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#17207 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#17211 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17218 mashable.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17215 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#17195 A: `headphonesty.com`
  fanboy-addon/fanboy_newsletter_specific_ABP.txt
Labels: Fanboy Newsletters

#17177 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17192 A: `hiphopkit.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17225 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#17232 A: https://quipmag.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17228 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#17260 Update EasyList/Fanboy's Newsletter Specific Hide
  easylist/easylist_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Easylist, Fanboy Newsletters

#17258 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#17281 A: kiertokanki.com (GDPR, uBO)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#17280 A: `github.dev`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#17279 A: `yidio.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17296 Add more Admiral hosts
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#17294 A: https://seura.fi/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#17293 A: https://etusuora.com/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#17291 A: elisa.rekrytointi.com (GDPR)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#17268 A: `support.shorthand.com`
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#17267 A: `nrc.no`
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#17269 A: `weatherboy.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17276 A: `messitv.net`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17275 A: `playstore.pw`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17263 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Annoyances

#17299 A: Update Admiral domains
  easyprivacy/easyprivacy_trackingservers.txt
Labels: Easyprivacy

#17300 A: https://www.sanctuary.fr/
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#17310 A: https://www.registry.google/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#17262 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#17257 Update fanboy_newsletter_international_hide.txt
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#17229 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#17314 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#17277 A: `dtksoft.com`
  easylist_cookie/easylist_cookie_specific_uBO.txt
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#17321 A: https://starzplay.com/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#17320 A: Update domain for uptostream.com
  easylist/easylist_specific_block_popup.txt
Labels: Easylist

#17319 A: Update domain for uptobox.com
  easylist/easylist_specific_block.txt
Labels: Easylist

#17343 A:`lakeconews.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17344 A:`libertyunlocked.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17352 A:`thingstodovalencia.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17349 A:`thecricketlounge.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17353 A:`tipsquoteswishes.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17363 A: https://www.gamescensor.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17357 A: https://sciencenotes.org/dark-energy/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17356 A: https://trakt.tv/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#17358 A:`treesofblue.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17355 A: https://www.norwegianholidays.com/eu
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#17348 A:`swimcompetitive.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17376 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#17374 A:`journeyjunket.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17382 A: https://sadisflix.vip/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#17359 A:`tripsonabbeyroad.com`
  easylist/easylist_specific_hide.txt
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#17364 A: https://czechtheworld.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17384 M: sfanytime.com + blockbuster.dk
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#17385 P: finna.fi (tab function blocked, GDPR)
  easylist_cookie/easylist_cookie_specific_hide.txt
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#17341 A: multiple domains
  easylist/easylist_specific_hide.txt
Labels: Easylist

#17392 A: https://www.breakingthenews.net/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#17395 A: 9animetv.to (download our app notification)
  fanboy-addon/fanboy_notifications_specific_hide.txt
Labels: Fanboy Annoyances

#17393 A: c.vogue.com & qc.vogue.com
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#17342 A: multiple domains
  easylist/easylist_specific_hide.txt
  easylist/easylist_specific_hide_abp.txt
Labels: Easylist

#17410 blutv.com
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#17422 A: https://www.deepl.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#17431 A: saarioinen.fi (GDPR, generic)
  easylist_cookie/easylist_cookie_general_hide.txt
Labels: Easylist Cookies
