Repository easylist/easylist, pull requests merged in 2024-05, with the labels that each got.

#19106 M: Update
  easylist/easylist_adservers.txt
Labels: Easylist

#19136 A: https://*.cafirebreather.com/
  easyprivacy/easyprivacy_trackingservers_general.txt
Labels: Easylist

#19135 A: https://*.australiarevival.com/
  easyprivacy/easyprivacy_trackingservers_general.txt
Labels: Easyprivacy

#19134 A: https://*.powerrobotflower.com/
  easyprivacy/easyprivacy_trackingservers_general.txt
Labels: Easyprivacy

#19130 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19127 A: `commentpicker.com`
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#19126 A: `mathgames.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19157 A: (nsfw) letsporn.com
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#19158 A: (nsfw) pornid.name
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#19112 A: https://cloud.disroot.org/
  fanboy-addon/fanboy_social_international.txt
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#19173 A: https://tlgrm.eu/channels/gaming
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19174 A: edclub.com & typingclub.com
  easylist/easylist_general_hide.txt
Labels: Easylist

#19228 P: kd.fi (GDPR)
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#19230 A:odishatv.in
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19214 M: https://www.syntec.fr/convention-collective/
  easylist_cookie/easylist_cookie_allowlist.txt
Labels: Easyprivacy

#19197 A: https://nordpass.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#19196 A: https://dawn.fi/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#19160 Update easyprivacy_specific.txt
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#19153 A: https://lordofthesuperfrogs.com/
  easyprivacy/easyprivacy_trackingservers_general.txt
Labels: Easyprivacy

#19124 A: `streamed.su`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#19257 M: mail.aol.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19255 M: Update
  easylist/easylist_adservers.txt
Labels: Easylist

#19254 P: pohjanmaanhyvinvointi.fi (GDPR breakage)
  easylist_cookie/easylist_cookie_allowlist.txt
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easylist Cookies
