Repository easylist/easylist, pull requests merged in 2024-07, with the labels that each got.

#19462 A: `toms.com`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#19468 A:manabadi.co.in
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19467 A:thehansindia.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19471 A: https://megaup.net/2rpy4/
  easylist/easylist_specific_block.txt
Labels: Easylist

#19453 A: https://hideip.me/en/proxy/socks5list
  easylist/easylist_thirdparty.txt
Labels: Easylist

#19469 A: (#19453) hideip.me
  easylist/easylist_specific_block.txt
Labels: Easylist

#19475 A:boldsky.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19472 A:firstpost.com
  easylist/easylist_general_hide.txt
Labels: Easylist

#19477 M:filmibeat.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19485 A: `doubledouble.top`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#19484 A: `fotmob.com`
  easylist/easylist_specific_hide.txt
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easylist, Easyprivacy

#19518 A: `piokok.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19509 M: Update
  easylist/easylist_adservers.txt
Labels: Easylist

#19511 address infinityscans.net tracking
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#19510 Update Shield
  easylist/easylist_adservers.txt
Labels: Update Filter

#19517 A: `genius.com` (mobile UA)
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19524 A: `bukalapak.com`
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#19521 A: `neurocenter.gr`
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#19513 A: frequentmiler.com
  easylist/easylist_general_hide.txt
Labels: Need more info

#19538 Update Shield
  easylist/easylist_adservers.txt
Labels: Easylist

#19536 M: No longer needed
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#19535 A: https://www.mondihome.com.tr/
  easylist_cookie/easylist_cookie_thirdparty.txt
Labels: Easylist Cookies

#19523 A: `tokopedia.com` (mobile UA)
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#19543 A: `frogmobile.gr`
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#19546 A: `quillbot.com`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#19549 A: https://freeiptvplayer.net/iptv-player/watch/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19553 A: `animetrilogy.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19555 A: `lucida.to`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#19562 Correct minor spelling errors.
  easylist/easylist_general_hide.txt
  easylist_cookie/easylist_cookie_general_hide.txt
  easylist_cookie/easylist_cookie_specific_ABP.txt
  fanboy-addon/fanboy_newsletter_international_block.txt
Labels: Update Filter

#19563 Update admiral tracking servers
  easyprivacy/easyprivacy_trackingservers_admiral.txt
Labels: Easyprivacy

#19566 Move Taboola to Easyprivacy
  easyprivacy/easyprivacy_allowlist.txt
  easyprivacy/easyprivacy_general.txt
  easyprivacy/easyprivacy_specific.txt
  easyprivacy/easyprivacy_thirdparty.txt
  fanboy-addon/fanboy_annoyance_allowlist.txt
  fanboy-addon/fanboy_annoyance_general_block.txt
  fanboy-addon/fanboy_annoyance_general_hide.txt
  fanboy-addon/fanboy_annoyance_international.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_thirdparty.txt
Labels: Easylist, Easyprivacy

#19568 Move outbrain to Easyprivacy
  easylist/easylist_specific_hide.txt
  easyprivacy/easyprivacy_allowlist.txt
  easyprivacy/easyprivacy_general.txt
  easyprivacy/easyprivacy_specific.txt
  easyprivacy/easyprivacy_thirdparty.txt
  fanboy-addon/fanboy_annoyance_allowlist.txt
  fanboy-addon/fanboy_annoyance_allowlist_general_hide.txt
  fanboy-addon/fanboy_annoyance_general_block.txt
  fanboy-addon/fanboy_annoyance_general_hide.txt
  fanboy-addon/fanboy_annoyance_thirdparty.txt
Labels: Easylist, Easyprivacy

#19585 A: usplastic.com
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#19586 A: https://iptvgratuit.net/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#19587 A: https://www.mutaz.pro/free-programs/en/download/?88
  easylist/easylist_specific_block.txt
Labels: Easylist

#19554 A: `embedme.top`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#19591 A: omio.fi (GDPR generic block)
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#19607 A:wishesh.com
  easylist/easylist_specific_block.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19606 A:newsfirst.lk
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19600 A: `setlist.fm` (mobile UA)
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19599 A: `cnbcindonesia.com`
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#19596 A: `thomasnet.com`
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#19588 A: https://www.easyschrank.ch
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#19613 A:tamilwishesh.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19617 A:harpersbazaar.in
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19628 Update admiral tracking servers
  easyprivacy/easyprivacy_trackingservers_admiral.txt
Labels: Easyprivacy

#19656 A: `outlier.ai`
  easyprivacy/easyprivacy_trackingservers_thirdparty.txt
Labels: Easyprivacy

#19655 A: `farfetch.com`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#19654 A: `worldremit.com`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#19645 M: [Breakage] https://owebsearch.com/
  easylist/easylist_adservers.txt
  easylist/easylist_thirdparty.txt
Labels: Easylist

#19635 A: https://postgresml.org
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#19631 A: https://mediacat.com/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#19667 A: `scmagazine.com`
  easyprivacy/easyprivacy_trackingservers_thirdparty.txt
Labels: Easyprivacy

#19666 A: `bulinews.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19671 A: https://www.wsj.com/
  easylist/easylist_thirdparty.txt
Labels: Easylist

#19663 A: `mediachomp.com`
  easylist/easylist_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Easylist

#19664 A: `monarchmoney.com`
  easylist_cookie/easylist_cookie_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_uBO.txt
Labels: Easylist Cookies, Fanboy Newsletters

#19696 A: https://search.yahoo.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19695 Update admiral tracking servers
  easyprivacy/easyprivacy_trackingservers_admiral.txt
Labels: Easyprivacy

#19662 A: `skial.com`
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#19659 A: fruugo.fi (GDPR)
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies
