Repository easylist/easylist, pull requests merged in 2024-08, with the labels that each got.

#19706 husqvarna-events.com
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#19736 A: https://www.laprovence.com/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#19734 A: `gamemonetize.com`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#19733 A: `ringkestore.com`
  fanboy-addon/fanboy_newsletter_shopping_specific_hide.txt
  fanboy-addon/fanboy_newsletter_shopping_specific_uBO.txt
Labels: Fanboy Newsletters

#19717 address diep.io placeholder
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19716 address t3n.de tracking
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#19091 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#19089 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19043 Update easylist_specific_block.txt
  easylist/easylist_specific_block.txt
Labels: Easylist

#19044 Update easylist_cookie_specific_block.txt
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies

#19001 Update fanboy_newsletter_shopping_specific_hide.txt
  fanboy-addon/fanboy_newsletter_shopping_specific_hide.txt
Labels: Fanboy Newsletters

#19836 A: `brooklynclothing.com`
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#19784 A: `aulart.com`
  easyprivacy/easyprivacy_specific.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_uBO.txt
Labels: Fanboy Newsletters

#19858 A: https://www.maymoda.com/cepli-kurklu-suet-kaban-siyah-19105/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#19853 A: `stablediffusionweb.com`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#19875 A: `unibling.com`
  easyprivacy/easyprivacy_specific.txt
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#19864 A: `id.investing.com`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#19888 Block analytics on some Chinese sites
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#19886 A: `alignerr.com`
  easyprivacy/easyprivacy_trackingservers_thirdparty.txt
Labels: Easyprivacy

#19887 A: `deel.com`
  easyprivacy/easyprivacy_specific.txt
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#19905 A: https://www.elbisebul.com/227245-layda-moda-siyah-beyaz-kruvaze-ya…
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#19919 A: `pcoptimum.ca`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#19910 A: `scale.com`
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#19909 A: `zumper.com`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#19866 Add airfrance in-flight wifi
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#19863 A: `cilipadi.mygostore.com`
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#19862 A: `orico.cc`
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#19861 A: `northlandfence.com`
  easyprivacy/easyprivacy_thirdparty.txt
  fanboy-addon/fanboy_notifications_specific_hide.txt
Labels: Easyprivacy, Fanboy Notifications
