Repository easylist/easylist, pull requests merged in 2024-04, with the labels that each got.

#18914 A: https://www.sports.fr/
  easylist/easylist_general_block.txt
Labels: Easylist

#18915 A: https://www.lequipe.fr/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#18927 P: `miro.com`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#18929 Add rule to block ad-related requests on search.brave.com
  easylist/easylist_specific_block.txt
Labels: Easylist

#18895 A: `delfi.lt`
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#18839 A: https://www.francetvinfo.fr/
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#18841 A: https://www.francetvinfo.fr/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#18840 A: https://www.francetvinfo.fr/faits-divers/cyberattaques_6444391.html
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#18842 A: https://www.lepoint.fr/
  fanboy-addon/fanboy_annoyance_general_hide.txt
Labels: Fanboy Annoyances

#18843 A: #18842 lepoint.fr
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#18846 A: https://www.lalanguefrancaise.com/
  fanboy-addon/fanboy_notifications_thirdparty.txt
Labels: Fanboy Notifications

#18845 A: https://www.lalanguefrancaise.com/
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#18934 A: [NSFW] http://boyfriendtv.com/
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#18933 M: Update
  easylist/easylist_adservers.txt
  easylist/easylist_specific_block.txt
Labels: Easylist

#18977 A: https://www.sordum.org/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#18975 A: https://lubuntu.me/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#18972 A: https://www.nesabamedia.com/download-aida64/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#18968 M: Update
  easylist/easylist_adservers.txt
Labels: Easylist

#18962 A: c.arstechnica.com & qc.arstechnica.com
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#18961 A: `hellodoktor.com`
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#18957 A: `jolstad.no`
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#18956 Resolve overblocking for birdeatsbug.com
  easyprivacy/easyprivacy_trackingservers_thirdparty.txt
Labels: Easyprivacy

#18953 A: https://www.ecufiles.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#18942 A: https://www.senetic.fr/
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#18980 A: https://www.ea.com/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#18987 A: `geekflare.com`
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#18985 A: `foodpanda.my`
  easyprivacy/easyprivacy_specific_perimeterx.txt
Labels: Easyprivacy

#19000 M: Update
  easylist/easylist_adservers.txt
Labels: Easylist

#19012 A: https://aniwatchtv.to/
  easylist/easylist_specific_hide.txt
  easylist/easylist_thirdparty.txt
Labels: Easylist

#19014 A:jagranjosh.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19020 A: https://weather.us/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19021 https://claseazul.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#19019 A: easyjet.com
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#19013 A: c.vanityfair.com & qc.vanityfair.com
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#19063 M: Update khanacademy
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#19065 M: Update
  easylist/easylist_adservers.txt
Labels: Easylist

#19064 A: https://www.efootballdb.com/
  easylist/easylist_general_hide.txt
Labels: Easylist

#19047 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#19071 A:news18.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19070 A:indiatimes.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19069 A:thewire.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19074 A: https://www.cimri.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy
