Repository easylist/easylist, pull requests merged in 2024-10, with the labels that each got.

#20109 Block analytics on some Chinese sites
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#20125 A: asuracomic.net
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#20119 A: `wealthfront.com`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#20118 A: https://www.lexpress.fr/
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#20101 A: https://earth911.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#20155 https://mythos.foundation
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#20162 A: tempodent.fi (newsletter)
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#20190 Update Dataunlocker filter
  easyprivacy/easyprivacy_specific.txt
  easyprivacy/easyprivacy_specific_cname_dataunlocker.txt
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy, Error on FOP/Linter

#20191 Update Dataunlocker subdomains
  easyprivacy/easyprivacy_specific_cname_dataunlocker.txt
Labels: Easyprivacy

#20205 A: `joggo.run`
  easyprivacy/easyprivacy_specific.txt
  easyprivacy/easyprivacy_trackingservers_thirdparty.txt
Labels: Easyprivacy

#20201 address bolighub.dk dataunlocker
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#20227 A: https://br.puma.com/
  easyprivacy/easyprivacy_trackingservers_general.txt
Labels: Easyprivacy

#20237 A: (NSFW) `thotcity.su`
  easylist_adult/adult_specific_hide.txt
Labels: Easylist

#20246 A: Fixes #20244
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#20247 Added api.june.so to easyprivacy_thirdparty.txt
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#20265 A: https://datafa.st/
  easyprivacy/easyprivacy_trackingservers_thirdparty.txt
Labels: Easyprivacy
