Repository easylist/easylist, pull requests merged in 2024-03, with the labels that each got.

#18672 A:`247spades.com,247solitaire.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#18690 M: Update
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#18687 A: https://tabler.io/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#18686 A: https://tabler.io/icons
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#18679 M: Fix typos
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#18701 A: (nsfw) pornwhite.com
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#18693 A: (email tracker) tradewhy.cn
  easyprivacy/easyprivacy_general_emailtrackers.txt
Labels: Easyprivacy

#18723 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#18718 A: https://www.phonandroid.com/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#18722 A: https://www.coinlore.com/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#18725 A: https://cryptolovers.me/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#18674 A: `netgear.com`
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#18744 A: `coldplayeu.gorgias.help`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#18742 A: https://fantastic-hackathon.ru/
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy

#18752 A: hypergames.top
  easylist/easylist_specific_hide.txt
Labels: Easylist

#18746 A: `kayak.co.id`
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#18745 A: `upstract.com`
  easyprivacy/easyprivacy_specific.txt
Labels: Need more info, Easyprivacy

#18747 A: `sayurbox.com`
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#18757 A: `fossbytes.com`
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#18754 A: `clipix.com`
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#18750 A: `academy.cs.cmu.edu/ide`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#18766 A: https://www.codeur.com/projects/413452-application-web
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#18792 A: [NSFW] https://x-hd.video/
  easylist_adult/adult_specific_block.txt
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#18791 A: [NSFW] https://www.hdtube.porn/
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#18790 A: https://www.newspointapp.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#18789 A: [NSFW] https://xnxxporn.video/
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#18801 R: [breakage] https://www.manager-magazin.de/
  easyprivacy/easyprivacy_specific_cname_adobe.txt
Labels: Update Filter

#18800 A: [breakage] https://www.fitbook.de/
  easyprivacy/easyprivacy_allowlist_international.txt
Labels: Easyprivacy

#18785 M: update
  easylist/easylist_adservers.txt
Labels: Easylist

#18810 A: https://www.5movierulz.band/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#18820 M: fix typo
  easylist_adult/adult_specific_hide.txt
Labels: Update Filter

#18821 easyprivacy_allowlist.txt: unbreak ocado.com for browser.sentry-cdn.com
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#18830 A: huoltopalvelu.com (GDPR generic hide)
  easylist_cookie/easylist_cookie_general_hide.txt
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#18825 A: `timesnownews.com` & `zoomtventertainment.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#18828 A: `bylancer.com`
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#18849 A:`addictivetips.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#18852 M:Update
  easylist/easylist_adservers.txt
Labels: Easylist

#18887 A: https://revanced.app/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#18885 A: https://www.memoryc.com/
  easyprivacy/easyprivacy_trackingservers_thirdparty.txt
Labels: Easyprivacy

#18883 A: https://www.dealabs.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#18880 A: https://www.imf.org/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#18876 A: (nsfw) redgifs.com
  easylist_adult/adult_specific_hide.txt
Labels: Fanboy Social

#18875 A: (nsfw) trahkino.cc
  easylist/easylist_specific_block.txt
Labels: Easylist

#18870 M: `academy.cs.cmu.edu/ide`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#18867 A: http://en.pickture.com/blogs/nounoubricabrac/
  easylist_cookie/easylist_cookie_thirdparty.txt
Labels: Easylist Cookies

#18866 A: http://miam-images.centerblog.net/47244--f
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#18859 A: (nsfw) camcaps.io & camcaps.to
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#18848 A: https://www.europe1.fr/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#18847 A: https://www.liberation.fr/culture/musique/mort-du-pianiste-maurizio-pollini-note-finale-20240324_IUZRSR7OUZBJ3AMNKB4R5GG4WE/
  fanboy-addon/fanboy_social_international.txt
Labels: Easylist Cookies
