Repository easylist/easylist, pull requests merged in 2024-01, with the labels that each got.

#18179 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#18178 Update fanboy_newsletter_specific_hide.txt
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#18176 A: https://nl7za.com/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#18175 A: https://www.erevollution.com/en/article/2626
  fanboy-addon/fanboy_annoyance_general_block.txt
Labels: Fanboy Annoyances

#18172 A:`boatsonline.com.au,yachthub.com`
  easylist/easylist_specific_hide.txt
Labels: Easylist

#18173 A: https://www.lepoint.fr/arts/culture-en-2023-les-musees-parisiens-o…
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#18166 A: viranomaisuutiset.fi
  fanboy-addon/fanboy_social_specific_ABP.txt
Labels: Fanboy Social

#18155 A: https://www.lefigaro.fr/
  fanboy-addon/fanboy_annoyance_general_block.txt
Labels: Fanboy Annoyances

#18154 A: https://www.lefigaro.fr/
  easylist_cookie/easylist_cookie_international_specific_block.txt
Labels: Easylist Cookies

#18149 A: kymppikatsastus.fi
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#18148 A: / P: mulletoi.com
  fanboy-addon/fanboy_newsletter_general_block.txt
Labels: Fanboy Newsletters

#18150 A: https://dilosi.services.gov.gr/login
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#18007 M: onnibus.com
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#18255 P: https://klaq.com/
  easylist/easylist_allowlist.txt
Labels: Easylist

#18303 P: https://epawaweather.com/weather-alerts/
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#18254 A: https://podcasts.lemonde.fr/lheure-du-monde
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#18287 A: https://emails-checker.net/bulk-email-checker
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#18269 A: https://www.maison-travaux.fr/
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#18308 A: https://copilot.microsoft.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#18386 A: Update revolving adservers
  easylist/easylist_adservers.txt
Labels: Easylist

#18392 Update easylist_cookie_allowlist.txt
  easylist_cookie/easylist_cookie_allowlist.txt
Labels: Easylist Cookies

#18381 A: https://www.allocine.fr/series/ficheserie_gen_cserie=3517.html
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#18370 A: Update admiral domains
  easyprivacy/easyprivacy_trackingservers_admiral.txt
Labels: Easyprivacy

#18369 A: https://www.wipo.int/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#18343 A: https://blogs.opera.com/desktop/2024/01/opera-108-developer/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#18337 A: https://ceptenmuzikindir.me/
  easylist/easylist_adservers.txt
Labels: Easylist

#18333 A: https://www.noteshop.com.tr/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#18294 Update fanboy_annoyance_specific_hide.txt
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#18326 A: https://themarkup.org/
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#18282 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#18398 M: Update
  easylist/easylist_adservers.txt
Labels: Easylist

#18412 M: Update
  easylist/easylist_adservers.txt
Labels: Easylist

#18411 A: (nsfw) porngif.co
  easylist_adult/adult_thirdparty.txt
Labels: NSFW

#18402 A: https://best-of-netflix.com/
  easylist_cookie/easylist_cookie_specific_block.txt
Labels: Easylist Cookies
