Repository easylist/easylist, pull requests merged in 2024-11, with the labels that each got.

#20262 partially fixes #20261
  easylist_adult/adult_specific_hide.txt
Labels: Easylist

#20647 correct typo
  easylist/easylist_adservers_popup.txt
Labels: Update Filter

#20659 A: (NSFW) net.arabxporn
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#20658 A: (NSFW) com.alarbda
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#20634 A: `lucida.to`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#20631 A: `health.harvard.edu`
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#20759 M: removed, handled in uAssets
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#20754 M: Obsolete
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies
