Repository easylist/easylist, pull requests merged in 2024-06, with the labels that each got.

#19123 A: `streamelements.com`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#19268 M: No longer needed
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#19110 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19307 A: Update revolving adservers
  easylist/easylist_adservers.txt
Labels: Easylist

#19301 P: maanmittauslaitos.fi (feedback function)
  easylist_cookie/easylist_cookie_allowlist.txt
  easyprivacy/easyprivacy_allowlist.txt
  fanboy-addon/fanboy_social_allowlist.txt
Labels: Easyprivacy

#19299 A: https://emojipedia.org/top-hat
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19297 A: `developers.miro.com`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#19296 A: `support.github.com`
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#19334 M: No longer needed
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies, Update Filter

#19355 A: https://www.tf1info.fr/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#19359 A: (nsfw) doseofporn.com
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#19370 A:collegedunia.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19369 A:jharkhandmirror.net
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19368 A:girgitnews.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19385 A: `artifica.fr`
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies, uBO-Specific

#19374 fix https://github.com/uBlockOrigin/uAssets/issues/24149
  easylist/easylist_specific_hide.txt
  easyprivacy/easyprivacy_thirdparty.txt
  easyprivacy/easyprivacy_trackingservers_thirdparty.txt
Labels: Easyprivacy

#19398 Update easylist_specific_hide.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19404 A: https://gardrops.com/
  fanboy-addon/fanboy_annoyance_international.txt
Labels: Fanboy Annoyances

#19381 A: https://www.hepsiburada.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#19409 A: https://www.itmagazine.ch
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#19425 A: skitalk.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19437 A: wolt.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19434 A:timeshighereducation.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19432 A:paryatanbazar.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19431 A:rediff.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19430 A:hotstar.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#19429 A:indiatimes.com
  easylist/easylist_specific_hide.txt
Labels: Easylist
