Repository easylist/easylist, pull requests merged in 2024-12, with the labels that each got.

#20779 A: (NSFW) `xfree.com`
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#20815 P: almamedia.fi
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#20900 A: (email tracker) lassuranceretraite.fr
  easyprivacy/easyprivacy_general_emailtrackers.txt
Labels: Easyprivacy

#20909 P: s-pankki.fi
  easylist_cookie/easylist_cookie_allowlist.txt
Labels: Easylist Cookies

#20927 A: (nsfw) pornrabid.com
  easylist_adult/adult_adservers.txt
Labels: Easylist, NSFW

#20931 A: #20930
  easylist_adult/adult_specific_hide.txt
Labels: NSFW

#20930 A: (nsfw) xhspot.com
  easylist_adult/adult_specific_block.txt
Labels: NSFW

#20929 A: (nsfw) povaddict.fennyboy.com
  easylist_adult/adult_specific_block.txt
Labels: NSFW
