Repository easylist/easylist, pull requests merged in 2025-04, with the labels that each got.

#21612 M: Fix typo in 8d7833c
  easylist_cookie/easylist_cookie_allowlist.txt
Labels: Easylist Cookies

#21630 A: Update `Clickadu` revolving adservers
  easylist/easylist_adservers.txt
Labels: Easylist

#21583 A: bravofly.com & lastminute.com
  easylist/easylist_thirdparty.txt
Labels: Easylist

#21541 A: http://yagumania.com/ (parked domain ads)
  easylist/easylist_thirdparty.txt
Labels: Easylist

#21437 A: https://oisd.nl/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#20776 A: https://www.yenikoza.com.tr/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#20886 A: https://zaikashop.com/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#20781 A: https://dealsallyear.com/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#21413 A: https://www.inveon.com/
  easylist_cookie/easylist_cookie_thirdparty.txt
Labels: Easylist Cookies

#21448 A: https://www.medyafaresi.com/foto-galeri/squid-game-3-sezon-yayin-t…
  easylist/easylist_adservers.txt
Labels: Easylist

#21649 M: Update
  easylist/easylist_adservers.txt
Labels: Easylist

#21652 A: Update `Clickadu` revolving adservers
  easylist/easylist_adservers.txt
Labels: Easylist

#21655 M: Update
  easylist/easylist_adservers.txt
Labels: Easylist

#21674 M: Obsolete
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#21691 A: https://temp-mail.io/en
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#21679 A: https://www.seloger.com/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#21666 A: https://linuxhostsupport.com/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#21664 A: https://fossforce.com/2025/04/cve-foundation-emerges-from-stealth-to-rescue-cve-program/
  easylist/easylist_thirdparty.txt
Labels: Easylist

#21663 A: https://fossforce.com/
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#21641 A: https://sendlayer.com/
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#21658 A: ladbible.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#21743 A: https://www.immoweb.be/en/search/house/for-sale/
  easylist/easylist_specific_hide.txt
Labels: Easylist
