Repository easylist/easylist, pull requests merged in 2025-09, with the labels that each got.

#22281 A: https://www.photofilters.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#22267 A:zeenews.india.com
  FOP.py
  easylist/easylist_specific_hide.txt
Labels: Easylist

#22272 A: https://libre-media.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#22318 A: https://www.porland.com/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#22329 P: gpiaaf.gov.pt
  easylist_cookie/easylist_cookie_allowlist_general_hide.txt
  easylist_cookie/easylist_cookie_specific_uBO.txt
Labels: Easylist Cookies

#22275 A: https://www.20minutes.fr/
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#22361 Remove ad-placeholders from multiple websites
  easylist/easylist_specific_hide.txt
Labels: Easylist

#22371 A:navyamedia.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#22370 A:deccanchronicle.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#22369 A:herzindagi.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#22368 A:moviegalleri.net
  easylist/easylist_specific_block.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#22410 A: https://eromecom.org/
  easyprivacy/easyprivacy_trackingservers_thirdparty.txt
Labels: Easyprivacy

#22411 A: (nsfw) erome.bio.link
  fanboy-addon/fanboy_annoyance_general_block.txt
Labels: Fanboy Annoyances, NSFW

#22400 A: icg-in.info
  easyprivacy/easyprivacy_trackingservers_general.txt
Labels: Easyprivacy
