Repository easylist/easylist, pull requests merged in 2025-07, with the labels that each got.

#21981 A: https://www.crisisgroup.org
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#22021 M: https://www.sofascore.com
  easylist/easylist_specific_hide.txt
Labels: Easylist

#21657 A: https://www.monimaster.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#22035 Fix overly strict rule for social share buttons
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#22048 A: https://www.markonshop.com/
  easylist_cookie/easylist_cookie_general_block.txt
Labels: Easylist Cookies

#22089 M: titantv.com
  easylist/easylist_specific_hide.txt
Labels: Easylist
