Repository easylist/easylist, pull requests merged in 2025-01, with the labels that each got.

#20941 A: https://www.usatoday.com/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#21052 A: openguessr.com
  easylist/easylist_specific_hide.txt
Labels: Easylist, Error on FOP/Linter

#21068 A: (nsfw) fapnado.xxx
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#21067 A: https://tineye.com/
  easylist/easylist_specific_block.txt
Labels: Easylist

#21119 A: https://za.loozap.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#21118 A: https://www.sat24.com/en-gb/country/us
  easylist/easylist_specific_hide.txt
Labels: Easylist

#21115 A: https://www.geowgs84.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#21109 A: https://wonderfulengineering.com/
  easylist/easylist_adservers.txt
Labels: Easylist

#21107 A: https://appaddict.org/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#21100 A: https://www.meetup.com
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#21080 A: https://www.arabiaweather.com/
  fanboy-addon/fanboy_notifications_general_block.txt
Labels: Fanboy Notifications

#21042 A: https://itsfoss.com/install-yay-arch-linux/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#21137 A: https://www.e-recharge.net/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies
