Repository easylist/easylist, pull requests merged in 2025-03, with the labels that each got.

#21334 A: https://www.techradar.com/news/best-dns-server
  easylist/easylist_specific_hide.txt
Labels: Easylist

#21332 A: https://www.kaspersky.com/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#21349 A: https://pngtree.com/so/azerty?q=azerty
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#21363 A: https://filepv.com/cye2lh867d24/sample-5s.mp4.html banner ads
  easylist/easylist_specific_block.txt
Labels: Easylist

#21286 A: (nsfw) https://porngameshub.com/
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#21373 Remove applicationinsights.io
  easyprivacy/easyprivacy_trackingservers_thirdparty.txt
Labels: Easyprivacy

#21385 A: overwatch.op.gg
  easylist/easylist_specific_hide.txt
Labels: Easylist

#21388 A: (#21383) affilizz.com
  fanboy-addon/fanboy_annoyance_thirdparty.txt
Labels: Fanboy Annoyances

#21386 A: https://www.zdnet.fr/
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#21336 M: obsolete
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#21410 A: https://k2s.cc/file/b593f1d90d5c0
  fanboy-addon/fanboy_annoyance_specific_hide.txt
Labels: Fanboy Annoyances

#21426 M: https://github.com/easylist/easylist/commit/698dcda6
  easylist_cookie/easylist_cookie_international_specific_block.txt
Labels: Update Filter

#21438 A: Update admiral tracking servers
  easyprivacy/easyprivacy_trackingservers_admiral.txt
Labels: Easyprivacy

#21421 M: [Breakage] https://www.nkz.cz/
  easylist/easylist_allowlist.txt
Labels: Easylist

#21441 A: Update admiral tracking servers
  easyprivacy/easyprivacy_trackingservers_admiral.txt
Labels: Easyprivacy

#21514 Update easylist_cookie_specific_hide.txt
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#21530 A: https://www.iphonelife.com/content/how-to-add-emoji-to-photos-iphone
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#21535 A: https://www.haberindogrusu.com/
  easyprivacy/easyprivacy_trackingservers_international.txt
Labels: Easyprivacy
