Repository easylist/easylist, pull requests merged in 2025-08, with the labels that each got.

#22132 M: Remove naver.com allowlist
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#22172 A: ts-analysis.shoalter.com
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#22177 A: https://bitwarden.com
  fanboy-addon/fanboy_newsletter_specific_hide.txt
Labels: Fanboy Newsletters

#22188 A: [Breakage] rawstory.com
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist

#22202 A: `Hardal` server-side measurement platform
  easyprivacy/easyprivacy_general.txt
Labels: Easyprivacy

#22214 A: https://greenhouseseeds.nl
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#22220 A: https://www.cytron.io/
  easyprivacy/easyprivacy_thirdparty.txt
Labels: Easyprivacy

#22219 A: https://www.lacentrale.fr/
  easyprivacy/easyprivacy_specific_international.txt
Labels: Easyprivacy

#22216 A: https://www.listennotes.com/podcasts/destination-linux-tuxdigital-network-AOy_t8HbwUv/
  fanboy-addon/fanboy_social_specific_hide.txt
Labels: Fanboy Social

#22217 A: https://www.listennotes.com/podcasts/destination-linux-tuxdigital-network-AOy_t8HbwUv/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#22253 P: wfmz.com
  easylist/easylist_allowlist_general_hide.txt
Labels: Easylist
