Repository easylist/easylist, pull requests merged in 2025-02, with the labels that each got.

#21207 A: https://www.bol.com/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#21204 A: https://politicalcompass.org/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#21194 A: https://cryptomus.com/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#21239 A: https://videy.co/v?id=abc
  easylist/easylist_specific_block.txt
Labels: Easylist

#21240 A: (#21239) Update adservers
  easylist/easylist_adservers.txt
Labels: Easylist

#21241 A: https://app.box.com/folder/0
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy

#21258 A: (nsfw) https://fetish-games.com/him-kabuki/
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#21275 M: (nsfw) https://androidadult.com/
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#21273 M: (nsfw) https://porngames.games/
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#21280 A: (nsfw) https://new.lewd.ninja/
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#21297 A: https://imagetwist.com/ab8ujfd663lc/capturefgjfgjfgjsdgsdgsdg.jpg
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#21293 P: [Breakage] https://ads.realizeperformance.com/
  easylist/easylist_general_block.txt
Labels: Easylist

#21292 A: (nsfw) https://www.visitmama.com/
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#21290 M: https://time.is/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#21307 A: https://vinyculture.dz/
  fanboy-addon/fanboy_newsletter_international_hide.txt
Labels: Fanboy Newsletters

#21298 M: (nsfw) https://h-flash.com/
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#21314 M: https://www.huffpost.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#21312 M: https://www.wsj.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist

#21311 A: https://decrypt.day/
  easylist/easylist_specific_hide.txt
Labels: Easylist
