Repository easylist/easylist, pull requests merged in 2025-05, with the labels that each got.

#21754 A: https://www.immoweb.be/en/classified/apartment/for-sale/tielt/8700/20705396
  easylist/easylist_specific_hide.txt
Labels: Easylist

#21732 A: https://coinmarketcap.com
  easylist/easylist_specific_block.txt
  easylist/easylist_specific_hide.txt
Labels: Easylist

#21711 A: https://www.coindesk.com/policy/2024/04/24/samourai-wallet-founder…
  easylist/easylist_specific_hide.txt
Labels: Easylist

#21576 A: https://www.lalibre.be/
  easylist_cookie/easylist_cookie_specific_hide.txt
Labels: Easylist Cookies

#21762 A: (nsfw) https://f95zone.to/
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#21599 A: (nsfw) 18pussy.porn
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#21474 A: (nsfw) slixa.com/ohio/cleveland/
  easyprivacy/easyprivacy_specific.txt
Labels: Easyprivacy, NSFW

#21475 A: (nsfw) slixa.com/ohio/cleveland/
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#21473 A: (nsfw) todaygirls.co.uk
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#21472 A: (nsfw) 1escorts.net
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#21471 A: (nsfw) weescorts.com/
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#21470 A: (nsfw) asiandolls.co.uk
  easylist_adult/adult_specific_block.txt
Labels: Easylist, NSFW

#21455 A: https://mahlerundco.ch
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#21427 A: https://www.2ememain.be/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#21404 A: https://al-aqsanews.com/
  fanboy-addon/fanboy_social_international.txt
Labels: Fanboy Social

#21402 A: https://forja.ma/
  fanboy-addon/fanboy_notifications_specific_block.txt
Labels: Fanboy Notifications

#21393 A: https://downforeveryoneorjustme.com/adblockplus.org
  easylist/easylist_specific_hide.txt
Labels: Easylist

#21774 P: (nsfw) https://f95zone.to/forums/games.2/
  easylist_adult/adult_specific_hide.txt
Labels: Easylist, NSFW

#21785 A: barenecessities.com
  easyprivacy/easyprivacy_allowlist.txt
Labels: Easyprivacy

#21819 A: https://ici.radio-canada.ca/
  easylist_cookie/easylist_cookie_international_specific_hide.txt
Labels: Easylist Cookies

#21820 A: https://ici.radio-canada.ca/
  easyprivacy/easyprivacy_thirdparty_international.txt
Labels: Easyprivacy

#21831 A: https://hometheaterreview.com/
  easylist/easylist_specific_hide.txt
Labels: Easylist
